<div class="page-header">
	<button class="cfx-header-item goback" (click)="goBack()">
		<span class="material-icons-outlined">keyboard_backspace</span>
		<span class="label" l10nTranslate>#ServerDetail_Back</span>
	</button>
	<button class="cfx-header-item favorite"  (click)="addFavorite()" *ngIf="!isFavorite()">
		<span class="material-icons-outlined">star_border</span>
		<span class="label" l10nTranslate>#ServerDetail_AddFavorite</span>
	</button>
	<button class="cfx-header-item favorite" (click)="removeFavorite()" *ngIf="isFavorite()">
		<span class="material-icons-outlined accentColor1">star</span>
		<span class="label" l10nTranslate>#ServerDetail_DelFavorite</span>
	</button>
	<button class="cfx-header-item refresh" (click)="refreshServer()" [class.disabled]="!canRefresh" [class.spin]="!server || !canRefresh">
		<span class="material-icons-outlined">refresh</span>
		<span class="label" l10nTranslate>#ServerDetail_Refresh</span>
	</button>
</div>

<!-- <div class="loading" *ngIf="!server">
	<cfx-spinner></cfx-spinner>
</div> -->

<div class="page" *ngIf="server">
	<div class="content-wrapper">
		<div class="content" #content [style.--pad-top]="negPadTop">
			<div class="banner" [class.scrolled]="headerScrolled" #banner [class.hidden]="!server.data.vars.banner_detail" style="--banner-image: url({{server.data.vars.banner_detail}})"></div>
			<div class="header" [class.scrolled]="headerScrolled" #header>
				<div class="bg"></div>

				<figure class="icon">
					<img [src]="(server && server.sanitizedUri)||'http://picsum.photos/128/128'">
				</figure>

				<div class="info">
					<div class="title">
						<span [innerHTML]="(server && server.hostname)||'test' | allowify | escape | colorize"></span>
					</div>

					<div class="connect-bar">
						<div class="left">
							<div
								*ngIf="server.premium"
								class="badge"
								[class.ag]="server.premium === 'ag'"
								[class.au]="server.premium === 'au'"
								[class.pt]="server.premium === 'pt'"
								data-balloon-pos="right"
								[attr.aria-label]="premiumName"
							>
								<span>{{ server.premium }}</span>
							</div>
							<div class="buttons">
								<button class="cfx-button primary connect" [disabled]="!joinable" [attr.aria-label]="joinableLabel" [attr.data-balloon-pos]="!joinable ? 'right' : undefined" (click)="attemptConnect()" l10nTranslate>
									#DirectConnect_Connect
								</button>
							</div>
							<div class="address" *ngIf="joinable">
								<span class="material-icons-outlined">link</span>
								<span class="select">{{(serverAddress)||'undefined'}}</span>
							</div>
                            <div class="warning" *ngIf="serverWarning != ''">
                                <span class="material-icons-outlined">{{ (server.data?.private ? 'lock' : 'warning') }}</span><p (click)="openLink($event)" [innerHTML]="serverWarning | translate:locale.language | linky | safehtml"></p>
                            </div>
						</div>

						<div class="right">
							<div class="players-count">
								<span class="material-icons-outlined">group</span>
								{{(server && server.currentPlayers)||0}}<span class="capacity">/{{(server && server.maxPlayers)||32}}</span>
							</div>
						</div>
					</div>

					<ul class="tags">
						<li *ngIf="server && server.data.gametype">
							<span class="key">Game type</span>
							<span class="value">{{(server && server.data.gametype)||'Game type'}}</span>
						</li>
						<li *ngIf="server && server.data.mapname">
							<span class="key">Map</span>
							<span class="value">{{(server && server.data.mapname)||'Map name'}}</span>
						</li>
						<li *ngIf="onesyncEnabled">
							<span class="key">OneSync</span>
							<span class="value">enabled</span>
						</li>
						<li class="address">
							<span class="key" l10nTranslate>#ServerDetail_Locale</span>
							<span class="value select">{{language}}</span>
						</li>
						<li>
							<span class="key" l10nTranslate>#ServerList_Tags</span>
							<span class="value">{{tags}}</span>
						</li>
						<li *ngFor="let svVar of serverVariables">
							<ng-container *ngIf="svVar.key && svVar.value">
								<span class="key">{{svVar.key|translate:locale.language}}</span>
								<span
									class="value with-links"
									[innerHTML]="svVar.value|translate:locale.language|linky"
									(click)="openLink($event)"
								></span>
							</ng-container>
						</li>
						<li class="owner" *ngIf="server.data?.ownerName" (click)="openOwner()">
							<span class="key" l10nTranslate>#ServerDetail_Owner</span>
							<span class="value"><img [src]="server.data?.ownerAvatar"><span>{{server.data?.ownerName}}</span></span>
						</li>
					</ul>
				</div>
			</div>

			<div class="header-push" [style.marginTop]="padTop"></div>

			<div class="details">
				<div class="details-panel resources noHorizScroll" #resourcesPane>
					<div class="title">
						{{'#ServerDetail_Resources' | translate:locale.language}} ({{ resourceCount }})
					</div>

					<ul>
						<li *ngFor="let resource of resources; trackBy: trackResource">{{resource}}</li>
					</ul>
				</div>

				<div class="details-panel players noHorizScroll" #playersPane>
					<div class="title">
						{{'#ServerDetail_Players' | translate:locale.language}} ({{ server.data.players.length }})
					</div>

					<ul>
						<li *ngFor="let player of playersSorted; trackBy: trackPlayer">
							<i></i>
							<app-player-avatar [player]="player"></app-player-avatar>
							<span>
								{{player.name}}
							</span>
						</li>
					</ul>
				</div>

				<div class="details-panel feed" *ngIf="communityTweets.length > 0">
					<div class="title">
						{{'#ServerDetail_Updates' | translate:locale.language}} ({{ communityTweets.length }})
					</div>

					<ngx-masonry [ordered]="true" [options]="{gutter: 10}">
						<app-home-tweet class="message" *ngFor="let tweet of communityTweets" [tweet]="tweet" ngxMasonryItem>
						</app-home-tweet>
					</ngx-masonry>
				</div>
			</div>

			<app-server-reviews *ngIf="canHaveReviews" [server]="server"></app-server-reviews>

			<div class="header-pull" *ngIf="communityTweets.length < 1" [style.marginTop]="padTop"></div>
		</div>
	</div>
</div>
