.root {
  &.focus.shadowy {
    box-shadow: 0 0 0 100vw ui.color-token('shadow-large');
    z-index: 1;
    transition: box-shadow 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.part {
  --_color: var(--part-color, transparent);
  --_box-shadow: var(--box-shadow, 0 0 0 transparent);

  box-shadow: 0 -3px 3px -2px var(--_color) inset, var(--_box-shadow);

  &.address {
    &.addressPlaceholder {
      &::after {
        display: inline;
        content: ' Server address or join ID';
        color: ui.color-token('input-placeholder-text');
      }
    }
  }
}

.focus {
  .part {
    &.ignored {
      // @include ui.def('part-color', ui.color('main', 950, $alpha: .5));
    }

    &.invert {
      // @include ui.def('part-color', ui.color('error', $alpha: 1));
      // @include ui.def('box-shadow', 0 ui.q() ui.color('error', $alpha: 1));
      background-color: ui.color-token('server-filters-faucet-exclusive-background');
    }
  }

  .locale {
    @include ui.def('part-color', ui.color('warning', $alpha: .5));

    &.active {
      @include ui.def('part-color', ui.color('warning', $alpha: 1));
      // background-color: ui.color('warning', $alpha: .25);
    }
  }

  .name {
    @include ui.def('part-color', ui.color('main', 500, $alpha: .5));

    &.active {
      @include ui.def('part-color', ui.color('main', 500, $alpha: 1));
      // background-color: ui.color('main', $alpha: .25);
    }
  }

  .category {
    @include ui.def('part-color', ui.color('success', $alpha: .5));

    &.active {
      @include ui.def('part-color', ui.color('success', $alpha: 1));
      // background-color: ui.color('success', $alpha: .25);
    }
  }
}

.wizard {
  position: fixed;

  top: calc(var(--y) - 2px);
  left: calc(var(--x) - #{ui.offset('small')});

  padding-left: ui.offset('small');
  padding-bottom: ui.border-radius('small');

  border-bottom-left-radius: ui.border-radius('small');
  border-bottom-right-radius: ui.border-radius('small');

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @include ui.font-size('large');
  box-shadow: ui.use('shadow-normal');

  background-color: ui.color-token('interactive-list-background');

  z-index: 9999;

  .loader {
    display: flex;
    align-items: baseline;

    height: 100%;

    padding: ui.offset('small');
    margin-top: ui.offset('small');
  }

  .prefix {
    opacity: .25;
    padding-top: ui.offset('small');
  }

  .item {
    padding: ui.offset('small') 0;
    padding-right: ui.offset('small');

    &.active {
      background-color: ui.color-token('interactive-list-item-hover-background');
      box-shadow: calc(-1 * #{ui.offset('small')}) 0 0 0 ui.color-token('interactive-list-item-hover-background');
    }
  }
}
