.root {
  display: flex;
  align-items: flex-start;
  gap: ui.offset('small');

  padding: ui.offset('normal');

  background-color: var(--bg-color);
  border: solid 1px var(--border-color);
  border-radius: ui.border-radius('small');

  box-shadow: 0 0 ui.q() var(--border-color);

  &.type-default {
    --bg-color: #{ui.color-token('info-panel-background')};
    --border-color: #{ui.color-token('info-panel-border')};
  }
  &.type-error {
    --bg-color: #{ui.color-token('info-panel-error-background')};
    --border-color: #{ui.color-token('info-panel-error-background')};
  }
  &.type-success {
    --bg-color: #{ui.color-token('info-panel-success-background')};
    --border-color: #{ui.color-token('info-panel-success-background')};
  }
  &.type-warning {
    --bg-color: #{ui.color-token('info-panel-warning-background')};
    --border-color: #{ui.color-token('info-panel-warning-background')};
  }

  &.size-small {
    min-height: ui.control-height('small');
  }
  &.size-normal {
    min-height: ui.control-height('normal');
  }
  &.size-large {
    gap: ui.offset('normal');
    min-height: ui.control-height('large');
  }

  &.inline {
    position: relative;

    display: inline-flex;

    box-shadow: none;
    border: none;

    padding-top: ui.offset('small');
    padding-left: calc(ui.offset('normal') + 2px);
    padding-bottom: ui.offset('small');

    @include ui.border-radius('xsmall');

    overflow: hidden;

    &::before {
      display: block;
      content: '';

      position: absolute;

      top: 0;
      left: 0;
      bottom: 0;

      width: 2px;

      background-color: ui.use('border-color');
    }
  }

  .icon {
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;

    line-height: 1.2;
  }
}
