@import "variables";

.root {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  .folder-select {
    display: flex;
    align-items: flex-start;

    .button {
      flex-grow: 0;

      margin-left: $q*2;
    }

    .input {
      flex-grow: 1;
    }
  }

  .error {
    background-color: rgba($erColor, .5);

    .asset-build-error {
      display: flex;
      flex-direction: column;

      line-height: 1.2;

      :last-child {
        margin-top: $q*2;
      }
    }
  }
}
