.root {
  width: 100%;

  .separator {
    width: 100%;
    height: 2px;

    background-color: ui.color-token('separator-background');
  }

  .content {
    height: 2px;
  }

  &.thin {
    .separator {
      height: 1px;
    }

    .content {
      height: 1px;
    }
  }

  &.vertical {
    width: auto;
    height: 100%;

    .separator {
      width: 2px;
      height: 100%;
    }

    .content {
      height: auto;
    }

    &.thin {
      .separator {
        width: 1px;
      }
    }
  }

  &.text {
    display: flex;
    align-items: center;

    gap: ui.offset();

    color: ui.color-token('separator-text');

    .separator {
      flex-grow: 1;
    }

    .content {
      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.vertical {
      flex-direction: column;
    }
  }
}
