.root {
  position: fixed;

  inset: 0;

  pointer-events: none;

  .tile {
    position: absolute;

    top: 0;
    left: 0;

    width: 1px;
    height: 1px;

    pointer-events: all;

    transform-origin: top left;

    &[data-top] {
      transform: translate(0, 0) scale(var(--sw-raw), var(--y-raw));

      // background-color: red;
    }
    &[data-left] {
      transform: translate(0, var(--y)) scale(var(--x-raw), var(--h-raw));

      // background-color: green;
    }
    &[data-right] {
      transform: translate(calc(var(--x) + var(--w)), var(--y)) scale(calc(var(--sw-raw) - var(--x-raw) - var(--w-raw)), var(--h-raw));

      // background-color: blue;
    }
    &[data-bottom] {
      transform: translate(0, calc(var(--y) + var(--h))) scale(var(--sw-raw), calc(var(--sh-raw) - var(--y-raw) - var(--h-raw)));

      // background-color: yellow;
    }
  }
}
