.root {
  @include ui.def('hh', ui.q(4));

  @include ui.border-radius('normal');

  background-color: ui.color-token('server-item-standalone-background');

  cursor: pointer;

  overflow: hidden;

  .showOnHover {
    display: none;
  }
  .hideOnHover {
    display: block;
  }
  &:hover {
    .showOnHover {
      display: block;
    }
    .hideOnHover {
      display: none;
    }
  }

  @include ui.animated('background-color');
  &:hover {
    background-color: ui.color-token('server-item-standalone-hover-background');
  }

  &.withBanner {
    @include ui.def('spread', ui.q(6));
    @include ui.def('offset', ui.q(1));

    @include ui.animated('filter', '.banner');
    &:hover {
      .banner {
        opacity: 1;
        filter: none;
      }
    }

    .banner {
      display: block;

      width: 100%;
      aspect-ratio: 19.2;

      background-color: ui.color-token('text-a25');
      background-image: ui.use('banner');
      background-size: cover;
      background-position: center center;

      opacity: .75;
      filter: contrast(50%);

      will-change: filter, opacity;
    }

    .content {
      padding-top: ui.offset();
    }
  }

  .banner {
    display: none;
  }

  .content {
    .players {
      color: ui.color-token('text-a50');
    }
  }
}
