.root {
  @include ui.font-size('large');

  * {
    line-height: 1.4;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: ui.offset() 0;
  }

  p:not(:empty) {
    margin: ui.offset('small') 0;
  }

  li {
    margin-left: ui.q(3);
  }

  code {
    padding: 0 ui.offset('xsmall');

    background-color: ui.color-token('input-background');
    @include ui.border-radius('xsmall');
    font-family: monospace;
    @include ui.font-family('primary');
    font-weight: 350;
    letter-spacing: .5px;

    text-shadow: 0 1px 2px ui.color-token('shadow-small');

    user-select: text;
  }

  img:global(.emoji) {
    height: 1.4ch;
    width: auto;
  }
}
