@import "variables";

.root {
  width: 100%;

  flex-grow: 1;
  padding: $q*2 $q*4;

  background-color: rgba($fgColor, .05);

  overflow-y: auto;

  > * {
    user-select: none;
  }

  .dir {
    .name {
      display: flex;
      align-items: center;

      padding: $q;
      font-size: .8rem;

      svg {
        margin-right: $q;

        color: rgba($fgColor, .5);
      }

      &:hover {
        background-color: rgba($acColor, .25);
      }

      &.selected {
        background-color: $acColor;
        color: $fgColor;

        svg {
          color: $fgColor;
        }
      }
    }

    .children {
      margin-left: $q*2;
    }
  }
}
