.root {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, ui.q(4));
  grid-auto-flow: column;

  grid-template-areas:
//   1    2    3    4    5    6    7    8    9    10   11   12
    "play play play play play play play play play favr favr favr"
    "play play play play play play play play play favr favr favr"
    "play play play play play play play play play favr favr favr"
    "play play play play play play play play play hist hist hist"
    "play play play play play play play play play hist hist hist"
    "play play play play play play play play play hist hist hist"
    ;

  gap: ui.offset('normal');

  &.withLocalhost {
    grid-template-areas:
  //   1    2    3    4    5    6    7    8    9    10   11   12
      "play play play play play play play play play favr favr favr"
      "play play play play play play play play play favr favr favr"
      "play play play play play play play play play favr favr favr"
      "play play play play play play play play play hist hist hist"
      "locl locl locl locl locl locl locl locl locl hist hist hist"
      "locl locl locl locl locl locl locl locl locl hist hist hist"
      ;
  }

  &.withLast {
    grid-template-areas:
  //   1    2    3    4    5    6    7    8    9    10   11   12
      "play play play play play last last last last favr favr favr"
      "play play play play play last last last last favr favr favr"
      "play play play play play last last last last favr favr favr"
      "play play play play play last last last last hist hist hist"
      "play play play play play last last last last hist hist hist"
      "play play play play play last last last last hist hist hist"
      ;
  }

  &.withLast.withLocalhost {
    grid-template-areas:
  //   1    2    3    4    5    6    7    8    9    10   11   12
      "play play play play play last last last last favr favr favr"
      "play play play play play last last last last favr favr favr"
      "play play play play play last last last last favr favr favr"
      "play play play play play last last last last hist hist hist"
      "locl locl locl locl locl last last last last hist hist hist"
      "locl locl locl locl locl last last last last hist hist hist"
      ;
  }

  .tilePlay {
    grid-area: play;
  }
  .tileLocalhost {
    grid-area: locl;
  }
  .slotLast {
    grid-area: last;
  }
  .tileFavorites {
    grid-area: favr;
  }
  .tileHistory {
    grid-area: hist;
  }

  .tile {
    display: flex;

    align-items: center;

    gap: ui.offset('normal');

    padding: ui.offset('normal') calc(ui.offset('normal') * 2.5);

    @include ui.font-size('large');
    @include ui.font-weight('normal');
    @include ui.font-color('text-a75');

    letter-spacing: 1px;

    @include ui.border-radius('normal');

    background-color: ui.color('main', 50);

    text-decoration: none;
    cursor: pointer;

    @include ui.animated('box-shadow');
    @include ui.animated('transform', '.icon');
    box-shadow: 0 0 0 2px transparent inset;

    &:hover {
      box-shadow: 0 0 0 2px ui.color-token('outlined-hover-border') inset;

      .icon {
        transform: scale(1.2);
      }
    }

    .icon {
      display: flex;
      align-items: center;

      @include ui.font-color('text-a50');
    }

    &.tileFavorites,
    &.tileHistory {
      text-transform: uppercase;
      @include ui.font-size('normal');
      @include ui.font-weight('bold');
    }
  }

  .tilePlay {
    position: relative;

    flex-grow: 1;

    align-items: flex-start;

    height: auto;

    gap: ui.offset('large');
    padding: ui.offset('large') ui.offset('large');

    background-color: ui.color('main', 50);
    background-image: radial-gradient(circle at bottom right, rgba(170, 49, 146, .05), transparent);

    @include ui.border-radius();

    overflow: hidden;

    .icon {
      color: ui.color('text-a50');

      @include ui.font-size('xxlarge');

      z-index: 1;
    }

    .title {
      @include ui.font-size('xxxlarge');
      @include ui.font-weight('bolder');
      letter-spacing: -1px;

      span {
        color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(135deg, ui.color-token('play-button-background-1'), ui.color-token('play-button-background-2'));
      }

      z-index: 1;
    }

    .subtitle {
      @include ui.font-size('normal');
      @include ui.font-weight('normal');
      @include ui.font-color('text-a50');
    }

    @mixin mask-image() {
      $c1: transparent;
      $c2: rgba(0, 0, 0, .25);

      -webkit-mask-image: linear-gradient(-45deg,
          $c1,
          $c1 calc(48%),
          $c2 calc(50% - 2px),
          $c2 calc(50% + 2px),
          $c1 calc(52%),
          $c1 );
      -webkit-mask-size: 300%;
    }
    @keyframes shine {
      0% {
        opacity: 0;
        @include mask-image();
        -webkit-mask-position-x: 100%;
      }

      50% {
        opacity: 1;
        @include mask-image();
        -webkit-mask-position-x: 50%;
      }

      100% {
        opacity: 0;
        @include mask-image();
        -webkit-mask-position-x: 0%;
      }
    }

    &::after {
      display: block;
      content: '';

      position: absolute;
      inset: 0;

      background-color: white;
      opacity: 0;

      z-index: 1;
    }

    &:hover::after {
      animation: shine .5s linear;
    }
  }
}
