[submodule "vendor/jitasm"]
	path = vendor/jitasm
	url = http://tohjo.eu/citidev/jitasm.git
	branch = master
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "vendor/msgpack-c"]
	path = vendor/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "vendor/protobuf"]
	path = vendor/protobuf
	url = https://github.com/google/protobuf.git
[submodule "vendor/breakpad"]
	path = vendor/breakpad
	url = https://github.com/citizenfx/breakpad.git
[submodule "vendor/udis86"]
	path = vendor/udis86
	url = https://github.com/vmt/udis86.git
	branch = master
[submodule "vendor/tinyxml2"]
	path = vendor/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "vendor/cpp-uri"]
	path = vendor/cpp-uri
	url = https://github.com/cpp-netlib/uri.git
[submodule "vendor/picohttpparser"]
	path = vendor/picohttpparser
	url = https://github.com/h2o/picohttpparser.git
[submodule "vendor/libssh"]
	path = vendor/libssh
	url = https://github.com/citizenfx/libssh.git
[submodule "vendor/xz"]
	path = vendor/xz
	url = https://github.com/xz-mirror/xz.git
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/citizenfx/curl.git
[submodule "vendor/leveldb"]
	path = vendor/leveldb
	url = https://github.com/citizenfx/leveldb.git
[submodule "vendor/minhook"]
	path = vendor/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = https://github.com/libuv/libuv.git
[submodule "vendor/fmtlib"]
	path = vendor/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/nghttp2"]
	path = vendor/nghttp2
	url = https://github.com/nghttp2/nghttp2
[submodule "vendor/cpr"]
	path = vendor/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "vendor/enet"]
	path = vendor/enet
	url = https://github.com/freeminer/enet.git
	branch = ipv6
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/citizenfx/imgui.git
[submodule "vendor/tbb"]
	path = vendor/tbb
	url = https://github.com/01org/tbb.git
[submodule "vendor/cpprestsdk"]
	path = vendor/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk.git
[submodule "vendor/linenoise-ng"]
	path = vendor/linenoise-ng
	url = https://github.com/arangodb/linenoise-ng.git
[submodule "vendor/discord-rpc"]
	path = vendor/discord-rpc
	url = https://github.com/discordapp/discord-rpc.git
[submodule "vendor/lz4"]
	path = vendor/lz4
	url = https://github.com/lz4/lz4.git
[submodule "vendor/nng"]
	path = vendor/nng
	url = https://github.com/nanomsg/nng.git
[submodule "vendor/node"]
	path = vendor/node
	url = https://github.com/citizenfx/node.git
[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/openssl/openssl.git
[submodule "vendor/libopus"]
	path = vendor/libopus
	url = https://github.com/xiph/opus.git
[submodule "vendor/libfvad"]
	path = vendor/libfvad
	url = https://github.com/dpirch/libfvad.git
[submodule "vendor/webrtc-audio-processing"]
	path = vendor/webrtc-audio-processing
	url = https://github.com/citizenfx/webrtc-audio-processing.git
[submodule "vendor/minizip"]
	path = vendor/minizip
	url = https://github.com/nmoinvaz/minizip.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/eastl"]
	path = vendor/eastl
	url = https://github.com/electronicarts/EASTL.git
[submodule "vendor/utfcpp"]
	path = vendor/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "vendor/yojimbo"]
	path = vendor/yojimbo
	url = https://github.com/citizenfx/yojimbo.git
[submodule "vendor/libsodium"]
	path = vendor/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "vendor/mbedtls"]
	path = vendor/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "vendor/netcode.io"]
	path = vendor/netcode.io
	url = https://github.com/citizenfx/netcode.io.git
[submodule "vendor/reliable.io"]
	path = vendor/reliable.io
	url = https://github.com/citizenfx/reliable.io.git
[submodule "vendor/websocketpp"]
	path = vendor/websocketpp
	url = https://github.com/citizenfx/websocketpp.git
[submodule "vendor/slikenet"]
	path = vendor/slikenet
	url = https://github.com/SLikeSoft/SLikeNet.git
[submodule "vendor/replxx"]
	path = vendor/replxx
	url = https://github.com/blattersturm/replxx.git
[submodule "vendor/thread-pool-cpp"]
	path = vendor/thread-pool-cpp
	url = https://github.com/inkooboo/thread-pool-cpp.git
[submodule "vendor/ben-demystifier"]
	path = vendor/ben-demystifier
	url = https://github.com/citizenfx/Ben.Demystifier.git
[submodule "vendor/cpp-url"]
	path = vendor/cpp-url
	url = https://github.com/cpp-netlib/url.git
[submodule "vendor/win2d"]
	path = vendor/win2d
	url = https://github.com/citizenfx/Win2D.git
[submodule "vendor/uvw"]
	path = vendor/uvw
	url = https://github.com/skypjack/uvw.git
[submodule "vendor/uws"]
	path = vendor/uws
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "vendor/uSockets"]
	path = vendor/uSockets
	url = https://github.com/uNetworking/uSockets.git
[submodule "vendor/toojpeg"]
	path = vendor/toojpeg
	url = https://github.com/stbrumme/toojpeg.git
[submodule "vendor/bgfx"]
	path = vendor/bgfx
	url = https://github.com/citizenfx/bgfx.git
[submodule "vendor/bx"]
	path = vendor/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "vendor/bimg"]
	path = vendor/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "vendor/nngpp"]
	path = vendor/nngpp
	url = https://github.com/citizenfx/nngpp.git
[submodule "vendor/vulkan-headers"]
	path = vendor/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vendor/grpc"]
	path = vendor/grpc
	url = https://github.com/grpc/grpc.git
[submodule "vendor/librw"]
	path = vendor/librw
	url = https://github.com/aap/librw.git
[submodule "vendor/librwgta"]
	path = vendor/librwgta
	url = https://github.com/aap/librwgta.git
