.buildscript: &build_windows
  stage: build
  script:
    - ".\\code\\tools\\ci\\build.ps1 -DontUpload $true"

build_client:
  <<: *build_windows
  tags:
    - vs2017
    - client
  variables:
    IS_FXSERVER: '0'
  artifacts:
    paths:
      - caches/diff/
      - caches/caches.xml
      - caches/CitizenFX.exe.xz
      - caches/version.txt
    expire_in: 1 week
  cache:
    key: client
    untracked: true
    paths:
      - code/shared/citversion.h
      - caches/
      - code/build/
  except:
    - server-ci
    - tags

build_server_windows:
  <<: *build_windows
  tags:
    - vs2017
    - server
  variables:
    IS_FXSERVER: '1'
  artifacts:
    paths:
      - out/server.zip
  except:
    - tags
    #- master
    - feature/update-to-1290
  cache:
    key: server
    untracked: true

build_proot_linux:
  stage: build
  image: alpine:edge
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    # workaround gitlab-ci-multi-runner#2148
    GIT_SSL_CAPATH: /etc/ssl/certs/
  script: 
    - sh code/tools/ci/build_server_proot.sh
  artifacts:
    paths:
      - fx.tar.xz
  except:
    - tags
    - master
    - feature/update-to-1290
    - feature/cloning-stuff-releng
  tags:
    - linux

deploy_specific:
  stage: deploy
  dependencies:
    - build_client
  script:
    - ".\\code\\tools\\ci\\build.ps1 -DontBuild $true"
  environment:
    name: specific/$CI_BUILD_REF_NAME
  only:
    - branches
  tags:
    - vs2017
    - client
  except:
    - master
    - server-ci
    - tags

deploy_canary:
  stage: deploy
  dependencies:
    - build_client
  script:
    - ".\\code\\tools\\ci\\build.ps1 -DontBuild $true"
  environment:
    name: canary
  tags:
    - vs2017
    - client
  only:
    - master

deploy_prod:
  stage: deploy
  dependencies:
    - build_client
  script:
    - ".\\code\\tools\\ci\\build.ps1 -DontBuild $true"
  environment:
    name: production
  when: manual
  tags:
    - vs2017
    - client
  only:
    - master