.root {
  width: ui.control-height('xxsmall');
  aspect-ratio: 1;

  @include ui.border-radius('small');

  background-color: ui.color('primary');

  border: solid 1px;
  border-color: ui.color('primary', 50);
}
