.root {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;

  height: 32px;
  width: 50px;

  font-size: 13px;

  &.active {
    .trigger {
      color: hsl(60, 100%, 97%);
      background-color: #f40552;
    }

    .dropdown {
      opacity: 1;
      pointer-events: all;
    }
  }

  .trigger {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;

    font-size: 13px;
    font-weight: bold;
    color: #f40552;
    background-color: rgba(#f40552, .25);

    border: none;
    outline: none;

    &:hover {
      color: hsl(60, 100%, 97%);
      background-color: #f40552;
    }
  }

  .dropdown {
    position: fixed;
    top: 32px;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    font-size: 13px;
    font-weight: bold;

    backdrop-filter: blur(20px);
    background-color: hsla(226, 23%, 11%, .1);

    border: solid 2px #f40552;

    opacity: 0;
    pointer-events: none;

    button {
      height: 44px;

      display: flex;
      align-items: center;

      padding: 0 16px;

      font-family: Mensch;
      color: hsl(60, 100%, 97%);
      background-color: transparent;

      border: none;
      outline: none;

      &:hover {
        color: hsl(60, 100%, 97%);
        background-color: #f40552;
      }
    }
  }
}

.theia {
  flex-grow: 1;
}
