.root {
  display: flex;
  flex-direction: row;

  &.full-width {
    width: 100%;
  }
  &.full-height {
    height: 100%;
  }

  &.centered {
    align-items: center;
    justify-content: center;
  }
  &.centered-axis {
    align-items: center;
  }
  &.centered-cross-axis {
    justify-content: center;
  }
  &.baseline-axis {
    align-items: baseline;
  }
  &.baseline-cross-axis {
    justify-content: baseline;
  }

  &.reverse-order {
    flex-direction: row-reverse;
  }

  &.vertical {
    flex-direction: column;

    &.reverse-order {
      flex-direction: column-reverse;
    }
  }

  &.repell {
    justify-content: space-between;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.align-to-end {
    justify-content: flex-end;
  }
  &.align-to-end-axis {
    align-items: flex-end;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.stretch {
    justify-content: stretch;

    & > * {
      flex-grow: 1;
    }

    &.horizontal > * {
      width: 1px;
    }
    &.vertical > * {
      height: 1px;
    }
  }

  @include ui.offset-classes('gap', 'gap');
}
