.root {
  position: relative;

  .decorator {
    position: absolute;

    top: 2px;
    left: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 0;
    height: 0;

    >* {
      flex-shrink: 0;
    }
  }
}
