.root {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    align-items: center;

    gap: ui.offset('normal');

    height: ui.control-height('normal');

    padding: ui.offset('normal');

    border-left: solid 2px ui.color-token('navlist-item-border');
    background-color: ui.color-token('navlist-item-background');

    border-top-right-radius: ui.border-radius('small');
    border-bottom-right-radius: ui.border-radius('small');

    cursor: pointer;

    @include ui.animated('background-color');

    &.active {
      position: sticky;
      top: 0;

      border-color: ui.color-token('navlist-item-active-border');
      background-color: ui.color-token('navlist-item-active-background');
    }

    &:hover {
      border-color: ui.color-token('navlist-item-hover-border');
      background-color: ui.color-token('navlist-item-hover-background');
    }

    .icon {
      opacity: .75;
    }
  }
}
