@import "variables";

:global {

  .introjs-tooltipReferenceLayer * {
    font-family: unset;
    letter-spacing: unset;
    font-size: unset;
    text-decoration: unset;
    padding: unset;
  }

  .introjs-tooltip {
    &.customTooltip {
      @include fontPrimary;
      color: rgba(255, 255, 240, 0.5);
      font-size: $fs1;

      background-color: $bgColor;
      box-shadow: 0 0 0 2px $acColor;

      border-radius: 0%;
      min-width: 350px;

      padding: $q*4;
      padding-top: 0;

      margin: $q*2;

      .introjs-tooltip-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        color: $fgColor;
        font-size: $fs2;
        margin-bottom: $q*5;

        &::after {
          display: none;
        }
      }

      .introjs-tooltip-title {
        font-weight: 500;
        line-height: 1;
        padding: $q*4 0;
        border-bottom: $acColor 1px solid;
      }

      .introjs-tooltiptext {
        color: $fgColor;
        margin-bottom: $q*5;
        line-height: 1.2;
      }

      .introjs-arrow.top {
        top: -12px;
        border-bottom-color: $acColor;
      }
      .introjs-arrow.left {
        left: -12px;
        border-right-color: $acColor;
      }
      .introjs-arrow.right {
        right: -12px;
        border-left-color: $acColor;
      }

      .introjs-tooltipbuttons {
        border-top: none;
      }

      .introjs-button {
        background-color: rgba($fgColor, .2);
        font-size: $fs08;
        color: $fgColor;
        text-shadow: none;
        border: none;
        border-radius: 0%;
        padding: $q*2 $q*5;
        box-shadow: none;

        @include interactiveTransition;

        &:hover {
          background-color: $acColor;
          color: $fgColor;
        }
      }

      .introjs-skipbutton {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: $q $q*2;

        color: rgba($fgColor, .5);
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1;

        box-shadow: none;

        @include interactiveTransition;

        &:hover {
          color: rgba($fgColor, 1);
        }
      }
    }
  }

  .introjs-helperLayer {
    &.highlightClass {
      border: solid 2px $acColor;
      box-shadow: 0 0 50px 5px rgba($acColor, .5), 0 0 0 5000px rgba($bgColor, .5) !important;
      border-radius: 0;
    }
  }
}
