@import 'variables';

:host {
	height: $height;
	width: $appNavWidth - $padding * 2;

	padding: $padding*2 0 $padding*2 $padding*2;
}

.app-nav-container {
	display: flex;
	height: $height - $padding*4;

	flex-direction: column;
	flex-grow: 0;

	justify-content: space-between;
	align-content: space-between;

	width: 100%;

	z-index: 100;

	.logo {
		text-align: left;
		font-size: 30px;
		padding-bottom: $padding/2;

		color: $textColour;

		svg {
			width: 30px;
			height: 30px;
			fill: $textColour;
		}

		.user {
			color: $textColour;
			font-size: 16px;
			margin-top: $padding/2;
		}
	}

	.close-app {
		cursor: pointer;
		color: $textColour;

		&:hover {
			background-color: $bgColour;
			box-shadow: 0 0 0 $padding $bgColour;
		}
	}

	.nav-list {
		display: flex;
		flex-grow: 1;

		flex-direction: column;
		justify-content: center;

		transition: transform .2s ease-out;

		&.has-sub-nav {
			//transform: translateY(-30px);
		}

		.nav-item {
			//background-color: rgba(255, 255, 255, .2);

			display: inline-flex;
			position: relative;

			margin-top: $padding;

			align-items: flex-end;

			overflow: hidden;

			text-decoration: none;
			font-size: 30px;
			font-weight: 100;
			color: $textColour;
			text-shadow: 0 0 1px $bgColour;

			transition: padding-left .2s ease;

			&:first-child {
				margin-top: 0;
			}

			&.subnav-item {
				font-size: 15px;
				margin: 0;
				padding: $padding/2 0;
			}

			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 50%;
				left: -4px;
				opacity: .5;

				width: 4px;
				height: 16px;
				margin-top: -8px;

				border-radius: 2px;
				background-color: $greenyColour;

				transition: all .2s ease-out;
			}

			&.active,
			&.active:hover {
				padding-left: $padding;
			}

			&:hover {
				padding-left: $padding/2;
			}

			&.active::after,
			&.active:hover::after {
				left: -2px;
				box-shadow: 0 0 10px darken($greenyColour, 5%);
				opacity: 1;
			}

			&:hover::after {
				left: -2px;
			}
		}
	}
}
