@import 'variables';

:host {
	height: $appNavHeight;
	width: $width;

	padding: $padding*2 0 $padding*2 $padding*2;
}

.app-nav-container {
	display: flex;

	@include fullWidthPadded;
	height: 2rem;

	flex-direction: row;

	justify-content: space-between;
	align-content: space-between;

	z-index: 100;

	.logo {
		position: relative;
		text-align: left;
		font-size: 2rem;
		line-height: 1;
		padding-bottom: $padding/2;

		color: $textColour;

		svg {
			width: 1.5rem;
			height: 1.5rem;
			fill: $textColour;
		}

		.user {
			position: absolute;
			left: 0;
			bottom: -$padding*2.3;
			width: $appContentWidth;

			color: $textColour;
			font-size: 1.2rem;
			font-weight: 100;

			svg {
				vertical-align: -2px;
				width: 1rem;
				height: 1rem;
				stroke: rgba($fgColour, .5);
				fill: none;
			}
		}
	}

	.close-app {
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;

		width: $appNavHeight;
		height: $appNavHeight;

		cursor: pointer;

		&:hover svg {
			fill: rgba($secondaryColour, .8);
		}

		svg {
			fill: rgba($secondaryColour, .5);
			width: 20px;
			height: 20px;

			transition: all .2s ease;
		}
	}

	.nav-list {
		display: flex;
		flex-grow: 1;

		padding-left: $padding*4;

		transition: transform .2s ease-out;

		&.has-sub-nav {
			//transform: translateY(-30px);
		}

		.nav-item {
			//background-color: rgba(255, 255, 255, .2);

			display: inline-flex;
			position: relative;
			cursor: default;

			overflow: hidden;
			padding: 0 $padding;

			height: $appNavHeight - 15px;

			text-decoration: none;
			font-size: 2rem;
			font-weight: 500;
			line-height: 2rem;
			text-align: center;
			color: $secondaryColour;

			transition: padding-left .2s ease;

			&:first-child {
				margin-top: 0;
			}

			&.subnav-item {
				display: flex;
				align-items: flex-end;

				font-size: 1rem;
				margin: 0;
				padding: 0 $padding/2;
				line-height: 2.9rem;

				&:after {
					left: $padding/2;
					right: $padding/2;
				}
			}

			&:after {
				display: block;
				content: '';
				position: absolute;
				bottom: -4px;
				left: $padding;
				right: $padding;
				opacity: .5;

				height: 4px;

				border-radius: 2px;
				background-color: $greenyColour;

				transition: all .2s ease-out;
			}

			&.active {
				color: lighten($greenyColour, 10%);
				text-shadow: 0 0 15px darken($greenyColour, 10%);
			}

			&.active::after,
			&.active:hover::after {
				bottom: -2px;
				box-shadow: 0 0 10px darken($greenyColour, 5%);
				opacity: 1;
			}

			&:hover::after {
				bottom: -2px;
			}
		}
	}
}
