<div class="app-nav-container">
	<div class="logo">
		FiveM
	</div>

	<div class="nav-list" [class.has-sub-nav]="hasSubNav">
		<a
			class="nav-item"
			translate
			[routerLink]="['/']"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{ exact: true }"
		>
			<span translate>
				#BottomNav_Home
			</span>
		</a>
		<a
			class="nav-item"
			translate
			[routerLink]="['/servers']"
			routerLinkActive="active"
		>
			<span translate>
				#BottomNav_Servers
			</span>
		</a>
		<a
			class="nav-item"
			translate
			[routerLink]="['/settings']"
			routerLinkActive="active"
		>
			<span translate>
				#BottomNav_Settings
			</span>
		</a>
	</div>

	<div class="user">
		username
	</div>
</div>
