<div class="app-nav-container">
	<div class="logo">
		<svg>
			<use xlink:href="#logo"></use>
		</svg>
		FiveM

		<div class="user">
			username
		</div>
	</div>

	<div class="nav-list" [class.has-sub-nav]="hasSubNav">
		<a
			class="nav-item"
			translate
			[routerLink]="['/']"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{ exact: true }"
		>
			#BottomNav_Home
		</a>

		<a
			class="nav-item"
			translate
			[routerLink]="['/servers']"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{ exact: true }"
		>
			#BottomNav_Servers
		</a>
		<a
			[routerLink]="['/servers/history']"
			class="nav-item subnav-item"
			routerLinkActive="active"
		>
			<span translate>
				#ServerList_History
			</span>
		</a>
		<a
			[routerLink]="['/servers/favorites']"
			class="nav-item subnav-item"
			routerLinkActive="active"
		>
			<span translate>
				#ServerList_Favorites
			</span>
		</a>
		<a
			[routerLink]="['/servers/direct-connect']"
			class="nav-item subnav-item"
			routerLinkActive="active"
		>
			<span translate>
				#ServerList_DirectConnect
			</span>
		</a>

		<a
			class="nav-item"
			translate
			[routerLink]="['/settings']"
			routerLinkActive="active"
		>
			#BottomNav_Settings
		</a>
	</div>

	<div
		class="close-app"
		translate
		(click)="exitGame()"
	>
		#ExitToDesktop
	</div>
</div>
