@import "variables";

* {
	@include themeIsHost() using ($theme) {
		color: gtv($theme, fgColor);
	};
}

div.theRoot {
	@include themeIsHost() using ($theme) {
		--my-background-image: #{gtv($theme, backgroundImage)};
	}
}

.acrylicBlur {
	@include themeNoHost() using ($theme) {
		filter: gtv($theme, acrylicBlur);
	}

	.blur-noBlur & {
		filter: none;
	}
}

:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;
}

.site-navbar {
	z-index: 200;
}

.no-header-safe-zone {
	--header-safe-left: 0px;
}

.app-root {
	display: flex;
	position: relative;

	flex-grow: 0;

	flex-direction: column;

	--app-width: calc(var(--width) - var(--app-offset));
	--app-height: calc(var(--height) - var(--app-offset));

	width: var(--app-width);
	height: var(--app-height);

	z-index: 100;
}

.webapp ::ng-deep .ping, .webapp ::ng-deep .actions, .webapp ::ng-deep .max-ping, .webapp ::ng-deep app-servers-detail .favorite {
	display: none !important;
}

.webapp ::ng-deep app-nav {
	display: none !important;
}

.webapp ::ng-deep app-servers-detail {
	padding-bottom: 0px;
}

.webapp ::ng-deep servers-container article {
	height: calc(100vh - 4vh - 5.5vh) !important;
}

@media only screen and (min-width: 700px) {
	.webapp ::ng-deep servers-container article {
		height: calc(96vh - 4vh - 4vh - 2.5vh - 5vh - 200px) !important;
	}
}

@media only screen and (max-width: 700px) {
	.webapp ::ng-deep .app-root {
		width: 100vw;
		height: 100vh;
	}

	.webapp ::ng-deep servers-container, .webapp ::ng-deep app-servers-detail {
		height: calc(100vh) !important;
		margin-top: 0vh !important;
	}
}

$blurSize: 20px;

#bg {
	z-index: 1;

	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	transform: translate3d(0, 0, 0);

	will-change: transform;

	background:
		transparent center center/cover no-repeat;

	&:after {
		display: block;
		position: fixed;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-image: url(https://raw.githubusercontent.com/Microsoft/microsoft-ui-xaml/d883cf3593912ded1a1fcc73f38768fda8ee3a45/dev/Materials/Acrylic/Assets/NoiseAsset_256X256_PNG.png);

		opacity: .025;
	}
}

.webapp ::ng-deep #bg {
	display: block !important;
}

* {
	@include themeIsHost() using ($theme) {
		#bg {
			background-image: var(--my-background-image);
		}
	}
}
