<div [class]="classes" *ngIf="minModeSetUp" [style.--myBackgroundImage]="bgImage">
    <div id="bg" *ngIf="!minMode || !gameService.minmodeBlob['art:backgroundImage']">
        <object id="plugin"
        type="application/x-cfx-game-view"
        width="100%"
        height="100%"
        class="acrylicBlur"
        [ngStyle]="{ 'clip-path': calcClipPath() }"></object>        
    </div>
    <div id="bg" *ngIf="minMode && gameService.minmodeBlob['art:backgroundImage']"></div>

    <div class="app-root">
        <app-nav *ngIf="!minMode && !splashScreen"></app-nav>
        <router-outlet></router-outlet>
        <connecting-popup *ngIf="!minMode"></connecting-popup>
    </div>
</div>