@import "variables";

* {
	@include themeIsHost() using ($theme) {
		color: gtv($theme, fgColour);
	};
}

div.theRoot {
	@include themeIsHost() using ($theme) {
		--my-background-image: #{gtv($theme, backgroundImage)};
	}
}

.app-root {
	display: flex;
	position: relative;

	flex-direction: column;

	width: $width;
	height: $height;

	//transform: scale(var(--zoom)) translate3d(0,0,0);
	//transform-origin: center center;

	z-index: 100;
}

.webapp ::ng-deep .ping, .webapp ::ng-deep .actions, .webapp ::ng-deep .max-ping, .webapp ::ng-deep app-servers-detail .favorite {
	display: none !important;
}

.webapp ::ng-deep app-nav {
	display: none !important;
}

.webapp ::ng-deep app-servers-detail {
	padding-bottom: 0px;
}

.webapp ::ng-deep servers-container article {
	height: calc(100vh - 4vh - 5.5vh) !important;
}

@media only screen and (min-width: 700px) {
	.webapp ::ng-deep servers-container article {
		height: calc(96vh - 4vh - 4vh - 2.5vh - 5vh - 200px) !important;
	}
}

@media only screen and (max-width: 700px) {
	.webapp ::ng-deep .app-root {
		width: 100vw;
		height: 100vh;
	}

	.webapp ::ng-deep servers-container, .webapp ::ng-deep app-servers-detail {
		height: calc(100vh) !important;
		margin-top: 0vh !important;
	}
}

$blurSize: 20px;

#bg {
	z-index: 1;

	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	transform: translate3d(0, 0, 0);

	will-change: transform;

	background:
		transparent center center/cover no-repeat;
}

.webapp ::ng-deep #bg {
	display: block !important;
}