@import "variables";

.app-root {
	display: flex;
	position: relative;

	justify-content: space-between;

	width: $width;
	height: $height;

	transform: scale(var(--zoom));
	transform-origin: center center;

	z-index: 100;
}
