@import "variables";

.root {
  display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: $q*2 $q*4;

	border: none;
	outline: none;
	user-select: none;

  background-color: rgba($bgColor, .8);
  backdrop-filter: blur($blurSize);

	font-family: 'Rubik';
	font-size: 1rem;
	font-weight: 300;
	line-height: 1;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;

  cursor: pointer;

	transition: all .2s ease;

	color: $fgColor;
  border: solid 2px rgba($fgColor, .75);

  &:hover {
    color: $bgColor;
    background-color: $fgColor;

    transition: none;
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &.autofocus:focus {
    box-shadow: 0 0 $q*4 rgba($acColor, .75);
  }

  &.icon.text {
    svg {
      margin-right: $q;
    }
  }

  &.primary {
    border-color: $acColor;

    &:hover {
      color: $fgColor;
      background-color: $acColor;

      transition: none;
    }
  }

  &.transparent {
    border-color: transparent;
    backdrop-filter: none;
    background-color: transparent;
  }
}
