.root {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;

  .backdrop {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: ui.color-token('overlay-backdrop-background');

    @keyframes backdrop-appearance {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    animation-name: backdrop-appearance;
    animation-duration: .2s;
  }

  .content {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 1px;
    height: 1px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
