@import "variables";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  &>* {
    width: 40vw;
    opacity: 0;
    transition: opacity .2s;
    // background-color: rgba(255, 0,0,0.5);
  }

  &.active>* {
    opacity: 1;
  }

  .header {
    @include fontPrimary;
    text-align: center;

    margin-bottom: $q*20;

    span {
      opacity: .75;
    }
  }

  .recent-projects {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // background-color: red;

    margin-top: $q*20;

    button {
      margin: 0 $q*4;
    }
  }
}
