.wrapper {
  position: fixed;

  top: 0;
  left: 0;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  gap: ui.offset('small');

  width: auto;
  height: 16px;

  overflow: visible;

  z-index: 9999;

  user-select: none;
  pointer-events: none;

  opacity: 0;

  @keyframes appearance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  // Very much intended
  animation: appearance 0s ease-in-out forwards;

  &.animated {
    animation: appearance .2s ease-in-out forwards;
  }

  &.fixed-on-top {
    width: 0;
    height: 0;

    align-items: flex-end;
    justify-content: center;
  }
  &.fixed-on-top-left {
    width: 0;
    height: 0;

    align-items: flex-end;
    justify-content: flex-start;
  }
  &.fixed-on-bottom {
    width: 0;
    height: 0;

    align-items: flex-start;
    justify-content: center;
  }
  &.fixed-on-bottom-left {
    width: 0;
    height: 0;

    align-items: flex-start;
    justify-content: flex-start;
  }
  &.fixed-on-bottom-right {
    width: 0;
    height: 0;

    align-items: flex-start;
    justify-content: flex-end;
  }

  &.fixed-on-left {
    width: 0;
    height: 0;

    align-items: center;
    justify-content: flex-end;
  }
  &.fixed-on-right {
    width: 0;
    height: 0;

    align-items: center;
    justify-content: flex-start;
  }

  .root {
    flex-shrink: 0;

    padding: ui.offset('small') ui.offset('small');

    @include ui.font-size('small');
    @include ui.font-color('title-text');

    // Kinda forced, yes
    font-weight: 400;

    background-color: ui.color-token('title-background');

    box-shadow: ui.use('shadow-small');
    @include ui.border-radius('xxsmall');

    svg {
      vertical-align: top;
    }
  }

  .shortcut {
    flex-shrink: 0;
  }
}
