.virtual {
  overflow: hidden;
}

.root {
  position: relative;

  display: flex;

  width: 100%;
  height: 100%;

  overflow: hidden;

  &:hover,
  &.active {
    >.rail-y,
    >.rail-x {
      opacity: 1;
    }
  }

  .scroller {
    flex-grow: 1;

    overflow: auto;

    &.no-x-scroll {
      overflow-x: hidden;
    }
    &.no-y-scroll {
      overflow-y: hidden;
    }

    .content {
      position: relative;
      will-change: transform;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .rail-x,
  .rail-y {
    position: absolute;

    opacity: 0;
    transition: opacity .2s ease;

    z-index: 2;

    .thumb {
      will-change: transform, opacity;

      background-color: ui.color('main', 950, .1);

      &:hover {
        background-color: ui.color('main', 950, .25);
      }
      &:active {
        background-color: ui.color('main', 950, .5);
      }
    }

    &.active {
      .thumb {
        background-color: ui.color('main', 950, .5);
      }
    }
  }

  .rail-x {
    left: 0;
    right: 0;
    bottom: 0;

    height: ui.offset('normal');

    .thumb {
      height: 100%;
    }
  }
  .rail-y {
    top: 0;
    right: 0;
    bottom: 0;

    width: ui.offset('normal');

    .thumb {
      width: 100%;
    }
  }
}
