$fonts: FiraSans;

:host {
	height: 82%;
	width: 80%;
	position: absolute;
	top: 0;
	left: 10%;
	background-color: rgba(21, 25, 34, 0.8);
	overflow: hidden;

	box-sizing: border-box;
}

:host > div {
	height: 100%;
	margin-bottom: 0px;
	margin-top: 0px;
}

:host .servers.column {
	padding: 0px;
}

.server-filter {
	width: 15%;
	height: 100%;
	background-color: hsl(222, 23%, 11%);

	box-shadow: 0 6px 3px rgba(0,0,0,0.12), 0 6px 3px rgba(0,0,0,0.24);

	position: relative;
}

.server-filter > div.a {
	z-index: 1000;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 0%;

	border-right: 2px solid #51B3EC;
}