            <p class="panel-heading" translate>#ServerList_Filter</p>
			<div class="panel-block">
				<p class="control has-icon">
					<input class="input is-small material-1" type="text" placeholder="Search" [(ngModel)]="filters.searchText" (ngModelChange)="updateFilters()">
					<span class="icon is-small">
						<i class="fa fa-search"></i>
					</span>
				</p>
			</div>

            <ngui-tab selected-index-class="is-active">
                <p class="panel-tabs material-1">
                    <!--<a index="categories">Categories</a>-->
                    <a index="filters" translate>#ServerList_Filter</a>
                </p>

                <div class="content">
                    <div contents="categories" class="categories">
                        <a class="panel-block is-active">#all</a>
                        <a class="panel-block">#featured</a>
                        <a class="panel-block">#roleplay</a>
                        <a class="panel-block">#drifting</a>
                        <a class="panel-block">#copsnrobbers</a>
                        <a class="panel-block">#racing</a>
                        <a class="panel-block">#freeroam</a>
                        <a class="panel-block">.. and 67 more</a>
                    </div>

                    <div contents="filters" class="filters">
                        <label class="checkbox">
                            <input type="checkbox" class="hide-empty" [(ngModel)]="filters.hideEmpty" (ngModelChange)="updateFilters()">
                            <span translate>#ServerList_HideEmpty</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" class="hide-full" [(ngModel)]="filters.hideFull" (ngModelChange)="updateFilters()">
                            <span translate>#ServerList_HideFull</span>
                        </label>
                        <label class="label">
                            <span translate>#ServerList_MaxPing</span> [ {{ filters.maxPing }} ]
                            <nouislider [connect]="true" [min]="0" [max]="500" [step]="10" [(ngModel)]="filters.maxPing" (ngModelChange)="updateFilters()"></nouislider>
                        </label>
                    </div>
                </div>
            </ngui-tab>