<section class="control">
	<input
		#input
		type="text"
		placeholder="{{'#DirectConnect_IPPort'|translate}}"
		spellcheck="false"
		[class.invalid]="inputInvalid"
		[ngModel]="addr"
		(ngModelChange)="addrChanged($event)"
		(keyup.enter)="tryConnect()"
	>
</section>

<section class="server-info">
	<div class="loading" *ngIf="isWaiting()">
		Loading
	</div>

	<div class="error" *ngIf="isInvalid()">
		<h1 class="title" translate>#DirectConnect_ServerInvalid</h1>
		<p>
			<span>{{error}}</span> <span translate>#DirectConnect_ServerInvalid_SubTitle</span>
		</p>
	</div>

	<div class="info" *ngIf="isValid()">
		<div class="bg" [style.background-image]="'url(' + ((server && server.sanitizedUri)||'http://picsum.photos/128/128') + ')'"></div>

		<figure class="icon">
			<img [src]="(server && server.sanitizedUri)||'http://picsum.photos/128/128'">
		</figure>

		<h1 class="title" [innerHTML]="(server && server.hostname)||'test' | escape | colorize"></h1>

		<ul class="desc">
			<li>
				<span class="key">Game type:</span>
				{{(server && server.data.gametype)||'Game type'}}
			</li>
			<li>
				<span class="key">Map:</span>
				{{(server && server.data.mapname)||'Map name'}}
			</li>
			<li>
				<span class="key">Players:</span>
				{{(server && server.currentPlayers)||0}}/{{(server && server.maxPlayers)||32}}
			</li>
		</ul>

		<button class="connect" (click)="attemptConnect()" translate>
			#DirectConnect_Connect
		</button>
	</div>
</section>

<section class="history">
	<ul>
		<li *ngFor="let server of history" [class.live]="server.server" (click)="attemptConnectTo(server)">
			<figure class="icon">
				<img [src]="server.sanitizedIcon || 'http://picsum.photos/96/96'">
			</figure>
			<div>
				<h1 class="title" [innerHTML]="(server && server.entry.hostname)||'test' | escape | colorize"></h1>
				<span class="players" *ngIf="server.server">{{server.server.currentPlayers}}/{{server.server.maxPlayers}}</span>
				<span class="time">{{ '#DirectConnect_LastPlayed' | translate }}: {{ server.entry.time | amTimeAgo }}</span>
			</div>
		</li>
	</ul>
</section>