@import 'variables';

@keyframes loadingDots {
    0% {
        content: '';
    }
    33% {
        content: '.';
    }
    66% {
        content: '..';
    }
    100% {
        content: '...';
    }
}

:host {
    display: flex;
    
    @include appContent;

    @include themeHostWorkaround() using ($theme) {
        color: gtv($theme, textColour);
    };

    flex-direction: column;

    .control {
        width: 100%;

        input {
            width: 100%;

            @include themeHostWorkaround() using ($theme) {
                background-color: rgba(gtv($theme, bgColour), .4);

                &:hover,
                &:focus {
                    background-color: rgba(gtv($theme, bgColour), .2);
                }

                &.invalid {
                    background-color: rgba(darken(red, 20%), .3);
                }
            };
        }
    }
    
    @include themeHostWorkaround() using ($theme) {
        .history>ul>li {
            background-color: rgba(gtv($theme, bgColour), .2);
            
            span.time {
                color: darken(gtv($theme, textColour), 10%);
            }
            
            &:hover {
                background-color: rgba(lighten(gtv($theme, bgColour), 10%), .3);
            }
        }
    };

    .history {
        &>ul {
            list-style-type: none;

            &>li {
                margin-bottom: $padding;
                padding: $padding $padding*$multiplier;

                position: relative;

                min-height: 96px;
                box-sizing: content-box;

                display: flex;
                align-items: center;

                .icon {
                    position: absolute;
                    left: $padding*$multiplier;

                    img {
                        border-radius: 1px;
                    }
                }

                &>div {
                    padding-left: calc(96px + #{$padding});
                }

                span {
                    font-size: 90%;
                    margin-right: 1vh;
                }

                span.players {
                    &:after {
                        content: '📶';
                        padding-left: 0.5vh;
                    }
                }
            }
        }
    }
}