@import 'variables';

@keyframes loadingDots {
    0% {
        content: '';
    }
    33% {
        content: '.';
    }
    66% {
        content: '..';
    }
    100% {
        content: '...';
    }
}

:host {
    display: flex;
    
	@include fullWidthPadded;
	height: $appContentHeight;
	margin-top: $appContentMargin;
    margin-left: $appContentPadding;

    flex-direction: column;

    .control {
        width: 100%;

        input {
            width: 100%;
            background-color: rgba($bgColour, .4);

            &:hover,
            &:focus {
                background-color: rgba($bgColour, .2);
            }

            &.invalid {
                background-color: rgba(darken(red, 20%), .3);
            }
        }
    }

    .history {
        &>ul {
            list-style-type: none;

            &>li {
                margin-top: $padding;
                padding: $padding $padding*$multiplier;
                background-color: rgba($bgColour, .2);

                position: relative;

                min-height: 96px;
                box-sizing: content-box;

                display: flex;
                align-items: center;

                .icon {
                    position: absolute;
                    left: $padding*$multiplier;

                    img {
                        border-radius: 1px;
                    }
                }

                &>div {
                    padding-left: calc(96px + #{$padding});
                }

                span {
                    font-size: 90%;
                    margin-right: 1vh;
                }

                span.time {
                    color: darken($textColour, 10%);
                }

                span.players {
                    &:after {
                        content: '📶';
                        padding-left: 0.5vh;
                    }
                }

                &:hover {
                    background-color: rgba(lighten($bgColour, 10%), .3);
                }
            }
        }
    }

    .server-info {
        &>div {
            margin-top: $padding;
            padding: $padding $padding*$multiplier;
            background-color: rgba($bgColour, .2);

            &.loading::after {
                display: inline;
                content: '...';

                animation-name: loadingDots;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }

            &.info {
                position: relative;
                padding-left: calc(128px + #{$padding*$multiplier + $padding});

                .bg {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: -1;

                    filter: grayscale(.5);
                    opacity: .25;

                    background-size: 500%;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .icon {
                    position: absolute;
                    left: $padding*$multiplier;

                    img {
                        border-radius: 1px;
                    }
                }

                .title {
                    font-size: 2.5rem;
                    line-height: 1;
                }

                .desc {
                    list-style: none;
                    margin-top: $padding;
                    font-size: 1.1rem;

                    .key {
                        display: inline-block;
                        font-weight: 100;
                        color: $textColour;
                        width: 15%;
                    }
                }

                .connect {
                    margin-top: $padding;
                }
            }
        }
    }
}