<section class="control">
	<input
		#input
		type="text"
		placeholder="{{'#DirectConnect_IPPort'|translate}}"
		[class.invalid]="inputInvalid"
		[ngModel]="addr"
		(ngModelChange)="addrChanged($event)"
		(keyup.enter)="tryConnect()"
	>
</section>

<section class="server-info">
	<div class="loading" *ngIf="!isWaiting()">
		Loading...
	</div>

	<div class="error" *ngIf="isInvalid()">
		<h1 class="title" translate>#DirectConnect_ServerInvalid</h1>
		<h2 class="subtitle"><span>{{error}}</span> <span translate>#DirectConnect_ServerInvalid_SubTitle</span></h2>
	</div>

	<div class="server-info" *ngIf="isValid()">
		<nav class="level">
			<div class="level-left">
				<div class="level-item">
					<figure class="image is-128x128">
						<img [src]="server.sanitizedUri">
					</figure>
				</div>
				<div class="level-item">
					<div>
						<p class="title" [innerHTML]="server.hostname | escape | colorize"></p>
						<p class="heading">{{server.data.gametype}} | {{server.data.mapname}}</p>
					</div>
				</div>
			</div>
			<div class="level-right"></div>
		</nav>

		<nav class="level">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading" translate>#ServerList_Players</p>
					<p class="title">{{server.currentPlayers}}/{{server.maxPlayers}}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<a class="button is-large" (click)="attemptConnect()" translate>#DirectConnect_Connect</a>
				</div>
			</div>
		</nav>
	</div>
</section>