$widthTagsAndActions: ui.q(46);
$widthPlayers: ui.q(20);

.root {
  display: flex;
  align-items: center;

  gap: ui.offset('normal');

  width: 100%;
  height: 100%;

  padding: ui.offset('normal');

  border-bottom: solid 1px ui.color-token('server-item-border');

  cursor: pointer;

  overflow: hidden;

  background-color: ui.color-token('server-item-background');
  &:hover {
    background-color: ui.color-token('server-item-hover-background');
  }

  &.platinum {
    background-color: ui.color('primary', $alpha: 0.025);

    &:hover {
      background-color: ui.color-token('server-item-hover-background');
    }
  }

  &.standalone {
    border-bottom: none;
    border-radius: ui.border-radius('small');

    background-color: ui.color-token('server-item-standalone-background');

    &:hover {
      background-color: ui.color-token('server-item-standalone-hover-background');
    }

    .players {
      width: auto;
      padding-right: 0;
      color: ui.color-token('server-item-players-text');
    }
  }

  .decorator {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: ui.offset('normal');

    @include ui.font-size('large');
  }

  .title {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: ui.offset('small');

    line-height: 1.2;

    overflow-x: hidden;
    white-space: nowrap;

    // fade out long names
    -webkit-mask: linear-gradient(90deg, red, red 80%, transparent);
    mask: linear-gradient(90deg, red, red 80%, transparent);

    @include ui.font-size('large');
    @include ui.font-weight('bold');
    font-feature-settings: 'case', 'liga' 1;

    .description {
      @include ui.font-size('small');
      @include ui.font-weight('normal');
      line-height: 1.2;

      color: ui.color-token('server-item-description-text');
    }
  }

  .tags {
    flex-shrink: 0;

    width: $widthTagsAndActions;

    display: flex;

    gap: ui.offset('small');

    overflow-x: hidden;

    // fade out long tags
    -webkit-mask: linear-gradient(90deg, red, red calc(100% - 2ch), transparent);
    mask: linear-gradient(90deg, red, red calc(100% - 2ch), transparent);
  }

  .actions {
    flex-shrink: 0;

    width: $widthTagsAndActions;

    display: flex;
    align-items: center;

    gap: ui.offset();
  }

  .players {
    flex-shrink: 0;

    width: $widthPlayers;
    text-align: right;

    padding-right: ui.q(6);
  }

  .density {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: ui.q(11);

    padding-right: ui.offset();

    @include ui.font-size('large');
    @include ui.font-weight('bold');

    -webkit-background-clip: text;
    color: transparent;

    background-image: linear-gradient(
      180deg,
      ui.color-token('server-item-density-background-from'),
      ui.color-token('server-item-density-background-via'),
      ui.color-token('server-item-density-background-to')
    );
    background-size: 100% 500%;
    background-position: 0 var(--density);
  }

  .hide-on-hover {
    display: flex;
  }
  .show-on-hover {
    display: none;
  }
  &:hover {
    .hide-on-hover {
      display: none;
    }
    .show-on-hover {
      display: flex;
    }
  }

  .fade-in-on-hover {
    opacity: 0;
  }
  &:hover {
    .fade-in-on-hover {
      opacity: 1;
    }
  }
}

.serverpowerbutton {
  border-radius: 0 ui.q(1) ui.q(1) 0;
  border-left: 1px solid #9EA4BD;
  background-color: ui.color-token('button-background');

  &:disabled {
    border-left: 2px solid #9EA4BD;
    background-color: ui.color-token('button-background');
    cursor: default;
    border-top: none;
    border-right: none;
    border-bottom: none;
  }
}

.serverboostbutton {
  border: none;

  &:hover {
    background-color: ui.color-token('backdrop');
    cursor: pointer;
  }

  &:disabled {
    background-color: ui.color-token('button-background');
    cursor: default;
  }
}

.serverboostbutton-active {
  border-radius: ui.q(1) 0 0 ui.q(1);
}
