@import "variables";

.root {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  min-height: 100%;

  position: relative;

  .update-channel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 $q*4;
    padding-bottom: $q*4;
  }
}

.prime {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;

  &>div:first-of-type {
    border-right: solid 2px rgba($fgColor, .2);
  }

  &>div+div {
    flex-grow: 1;
    overflow: auto;
    margin-right: 2px;
  }
}

.actions {
  position: absolute;
  bottom: $q*4;
  left: $q*4;
}
