@import "../../vars.scss";

.browser {
  position: fixed;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: var(--we-toolbar-width);
  height: 100vh;

  backdrop-filter: blur(25px);

  background-color: rgba($bgColor, .75);

  z-index: 2;

  @keyframes appearance {
    0% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  animation: appearance .2s ease;

  .controls {
    display: flex;

    .filter {
      flex-grow: 1;

      height: auto;
    }

    .refresh {
      display: flex;
      align-items: center;
      justify-content: center;

      width: $weToolbarHeight;

      color: $fgColor;
      background-color: rgba($fgColor, .25);

      border: none;

      @include interactiveTransition;
      @include data-label;

      &:hover,
      &:focus {
        background-color: $acColor;
      }
    }
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    padding: $q*10;
  }

  .list {
    flex-grow: 1;

    .item {
      width: 100%;

      padding: $q*2 $q*4;

      cursor: default;

      font-size: $fs08;
      font-weight: 100;

      @include ellipsis;

      &.active {
        background-color: rgba($acColor, .25);
      }
    }
  }
}
