.authbtn {
  flex-direction: column;

  width: 100%;

  gap: ui.offset();

  height: auto;

  padding: ui.offset() ui.offset('large');

  background-image: ui.use('asset-image-bgpat');
  background-size: 125px;

  svg {
    height: ui.q(3);
    width: ui.q(15);

    color: ui.color('main', 950, .5);
  }
}

.message {
  max-width: ui.q(80);
}

.avatar {
  --size: #{ui.q(15)};
}
