@import 'variables';

.root {
  position: fixed;
  top: 0;
  left: 0;

  height: 32px;
  width: 50px;

  font-size: 13px;

  z-index: 1000;

  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }

  &.active {
    .trigger {
      // left: $toolbarWidth;
      // color: $fgColor;
      // background-color: $acColor;
    }

    .bar {
      pointer-events: all;
      transform: translateX(0);
    }
  }

  .trigger {
    position: fixed;
    top: 0;
    left: 0;

    height: 32px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 16px;

    font-size: 13px;
    color: $acColor;
    background-color: rgba($acColor, .25);

    border: none;
    outline: none;

    z-index: 3;

    // transition: left .2s ease;

    &:hover {
      color: $fgColor;
      background-color: $acColor;
    }
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba($bgColor, .75);

    opacity: 0;
    pointer-events: none;

    transition: all .2s ease;

    z-index: 1;
  }

  .bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    width: $toolbarWidth;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    overflow: hidden;

    font-size: 13px;

    background-color: $bgColor;

    pointer-events: none;
    transform: translateX(-$toolbarWidth);

    z-index: 2;

    .controls {
      flex-grow: 0;
      flex-shrink: 0;

      // width: 100%;
      margin-left: 50px;

      display: flex;
      flex-direction: row;
      align-items: center;

      background-color: rgba($fgColor, .1);

      button {
        flex-grow: 1;

        display: flex;
        align-items: center;

        height: 32px;
        padding: 0 $q*2;

        font-family: Rubik;
        font-size: .8rem;
        font-weight: 100;
        color: $fgColor;
        letter-spacing: 1px;
        background-color: transparent;

        border: none;
        outline: none;

        transition: all .2s ease;

        svg {
          margin: 0 $q*2;
          color: rgba($fgColor, .5);
        }

        &:hover {
          color: $fgColor;
          background-color: $acColor;
          transition: none;

          svg {
            color: $fgColor;
          }
        }

        &:disabled {
          opacity: .5;
          pointer-events: none;
        }
      }
    }
  }
}
