// Thanks sass-loader for not appending that automatically for partials, d-uh
@use "ui";

$padding: ui.offset('normal');

%input-font-config {
  @include ui.font-size('normal');
  @include ui.font-color('input-text');
  @include ui.font-weight('normal');
  @include ui.font-family('primary');
}
%input-font-config-size-small {
  @include ui.font-size('small');
}
%input-font-config-size-large {
  @include ui.font-size('large');
}

%input {
  width: 100%;

  height: ui.control-height('normal');
  padding: $padding;

  @extend %input-font-config;

  background-color: ui.color-token('input-background');

  @include ui.border-radius('small');
  border: none;

  box-shadow: 0 0 0 2px ui.color-token('input-border') inset;

  @include ui.animated();

  &:disabled {
    box-shadow: 0 0 0 2px ui.color-token('input-disabled-border') inset;
    cursor: not-allowed;
    opacity: .5;
  }

  &:not(:disabled) {
    &:hover {
      box-shadow: 0 0 0 2px ui.color-token('input-hover-border') inset;
    }

    &:focus-visible,
    &:focus-visible:hover {
      box-shadow: 0 0 0 2px ui.color-token('input-focus-border') inset;
    }
  }

  &::-webkit-input-placeholder {
    @include ui.font-color('input-placeholder-text');
  }
}

%input-size-small {
  @extend %input-font-config-size-small;

  height: ui.control-height('small');
}
%input-size-large {
  @extend %input-font-config-size-large;

  height: ui.control-height('large');
}
