
@use "common";

.root {
  display: inline-block;

  &.full-width {
    width: 100%;
  }

  &.small {
    .input {
      input {
        @extend %input-size-small;
      }

      .decorator {
        height: ui.control-height('small');
        right: ui.offset('small');
      }
    }
  }

  &.large {
    .input {
      input {
        @extend %input-size-large;
      }

      .decorator {
        height: ui.control-height('large');
        right: ui.offset('normal');
      }
    }
  }

  &.error {
    label {
      color: ui.color('error');
      @include ui.font-weight('bold');
    }
  }

  &.disabled {
    label {
      color: ui.color-token('input-disabled-label-text');
    }
  }

  label {
    width: 100%;

    @include ui.font-family('primary');
    @include ui.font-size('normal');
    color: ui.color-token('input-label-text');

    @include ui.animated();

    input {
      margin-top: ui.offset('small');
    }
  }

  .input {
    position: relative;
    display: flex;

    input {
      flex-grow: 1;

      @extend %input;
    }

    .decorator {
      position: absolute;

      display: flex;
      align-items: center;

      gap: ui.offset();

      bottom: 2px;
      right: ui.offset('small');

      height: calc(#{ui.control-height('normal')} - 4px);
    }
  }

  .description {
    margin-top: ui.offset('small');

    @include ui.font-size('small');
    @include ui.font-color('input-description-text');
  }

  &.backdrop-blur {
    input {
      @include ui.def('backdrop-color', ui.color-token('input-background'));
      @include ui.fake-backdrop-blur();
    }
  }
}
