@use 'common';

.root {
  position: relative;

  display: inline-block;

  @include ui.border-radius('small');
  @include ui.def('backdrop-color', ui.color-token('input-background'));
  @include ui.fake-backdrop-blur();

  input {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    @extend %input;

    background-color: transparent;

    z-index: 1;
  }

  .renderer {
    @extend %input-font-config;
    color: transparent;

    position: absolute;

    left: common.$padding;
    right: common.$padding;

    padding: common.$padding 0;

    height: unset !important;

    white-space: pre;

    overflow-y: visible;
    overflow-x: auto;
    user-select: none;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .clear {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    right: 0;
    bottom: 0;

    padding-right: common.$padding;

    z-index: 2;
  }

  &.small {
    input,
    .renderer {
      @extend %input-size-small;
    }
  }

  &.large {
    input,
    .renderer {
      @extend %input-size-large;
    }
  }
}
