@import "variables";

.root {
  flex-grow: 1;

  height: 100%;

  display: flex;
  flex-direction: column;

  .row {
    height: $q*10;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    padding-left: $q * 4;

    @include fontSecondary;
    letter-spacing: 1px;

    .name {
      color: $fgColor;
      font-size: $fs2;
      font-weight: 500;
    }
  }

  .extra {
    display: flex;

    .stats {
      padding: 0 $q*4;

      span {
        height: 100%;
        display: flex;
        align-items: center;

        color: rgba($fgColor, .5);

        svg {
          margin-right: $q;
        }
      }
    }

    .server {
      display: flex;
      align-items: center;
    }

    .config {
      height: 100%;

      font-size: $fs1;

      svg {
        margin: 0;
        color: $fgColor;
      }
    }
  }

  .controls {
    flex-grow: 0;
    flex-shrink: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    .group {
      display: flex;
      justify-content: space-evenly;

      button {
        flex-grow: 1;
        width: 50%
      }
    }
  }
}
