.root {
  position: relative;

  &.active {
    .popover {
      opacity: 1;
      pointer-events: all;

      @keyframes appearance {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      animation: appearance .2s ease;
    }
  }

  .popover {
    position: absolute;

    border-radius: ui.border-radius('small');

    box-shadow: ui.use('shadow-large');

    @include ui.def('backdrop-color', ui.color-token('island-blur-background'));
    @include ui.fake-backdrop-blur();
    min-height: 100%;
    min-width: 100%;

    z-index: 1;

    opacity: 0;
    pointer-events: none;

    &.pos-top-right {
      top: calc(100% + ui.offset('small'));
      right: 0;
    }
  }
}
