.root {
  flex-shrink: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include ui.font-weight('thin');

  letter-spacing: .5px;
  line-height: 2;

  &.color-normal {
    color: ui.color-token('loaf-text');
    background-color: ui.color-token('loaf-background');
    &.bright {
      color: ui.color-token('loaf-bright-text');
    }
  }
  &.color-gold {
    color: ui.color-token('loaf-gold-text');
    background-color: ui.color-token('loaf-gold-background');
    &.bright {
      color: ui.color-token('loaf-gold-bright-text');
    }
  }
  &.color-error {
    color: ui.color-token('loaf-error-text');
    background-color: ui.color-token('loaf-error-background');
    @include ui.font-weight('bolder');
    &.bright {
      color: ui.color-token('loaf-error-bright-text');
    }
  }

  &.size-small {
    gap: ui.offset('small');
    height: ui.control-height('small');

    padding: 0 ui.offset('small');

    @include ui.font-size('small');
    @include ui.border-radius('small');
  }
  &.size-normal {
    gap: ui.offset('normal');
    height: ui.control-height('normal');

    padding: 0 ui.offset('normal');

    @include ui.font-size('normal');
    @include ui.border-radius('normal');
  }
  &.size-large {
    gap: ui.offset('normal');
    height: ui.control-height('large');

    padding: 0 ui.offset('large');

    @include ui.font-size('normal');
    @include ui.border-radius('normal');
  }
}
