.content, .content * {
  user-select: text;
}
.content {
  @include ui.font-color('text-a75');

  line-height: 1.2;

  word-wrap: break-word;
}

.media {
  width: 100%;
  aspect-ratio: var(--aspect-ratio);

  background-size: 100%;

  border-radius: ui.border-radius('small');

  overflow: hidden;

  // cursor: pointer;

  img, video {
    width: calc(100% + 1px);
    height: auto;
  }
}
