.bar {
  display: flex;
  align-items: center;

  gap: 2px;

  .root {
    border-radius: 0;
  }

  >*:first-child .root,
  >.root:first-child {
    border-top-left-radius: ui.border-radius('small');
    border-bottom-left-radius: ui.border-radius('small');
  }

  >*:last-child .root,
  >.root:last-child {
    border-top-right-radius: ui.border-radius('small');
    border-bottom-right-radius: ui.border-radius('small');
  }

  .root .root {
    @include ui.border-radius('small');
  }
}

.root {
  flex-shrink: 0;

  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: ui.offset('small');

  @include ui.def('height', ui.control-height('normal'));

  height: var(--height);
  padding: 0 ui.offset('normal');

  border: none;
  outline: none;
  user-select: none;

  @include ui.font-family('primary');
  @include ui.font-size('normal');
  font-weight: ui.font-weight('normal');

  line-height: 1.1;
  letter-spacing: 1px;
  text-decoration: none;

  cursor: pointer;

  border: solid 2px;
  @include ui.border-radius('small');

  color: ui.color-token('button-text');
  border-color: ui.color-token('button-border');
  background-color: ui.color-token('button-background');

  @include ui.animated('background-color');

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &:not(:disabled) {
    &:hover {
      border-color: ui.color-token('button-hover-border');
      background-color: ui.color-token('button-hover-background');
    }

    &:active {
      border-color: ui.color-token('button-active-border');
      background-color: ui.color-token('button-active-background');

      transform: translateY(1px);
    }

    &:focus-visible:not(:active):not(:hover) {
      box-shadow: 0 0 0 2px ui.color-token('button-focus-outline');
    }
  }

  &.fullWidth {
    width: 100%;
  }

  // theme primary
  &.primary {
    backdrop-filter: none;

    color: ui.color-token('button-primary-text');
    border-color: ui.color-token('button-primary-border');
    background-color: ui.color-token('button-primary-background');

    &:not(:disabled) {
      &:hover {
        color: ui.color-token('button-primary-hover-text');
        border-color: ui.color-token('button-primary-hover-border');
        background-color: ui.color-token('button-primary-hover-background');
      }

      &:active {
        color: ui.color-token('button-primary-active-text');
        border-color: ui.color-token('button-primary-active-border');
        background-color: ui.color-token('button-primary-active-background');
      }
    }
  }

  // theme default-blurred
  &.default-blurred {
    @include ui.fake-backdrop-blur();
    @include ui.def('backdrop-color', ui.color-token('button-background'));

    &:not(:disabled) {
      &:hover {
        @include ui.def('backdrop-color', ui.color-token('button-hover-background'));
      }

      &:active {
        @include ui.def('backdrop-color', ui.color-token('button-active-background'));
      }
    }
  }

  // theme transparent
  &.transparent {
    border-color: transparent;
    backdrop-filter: none;
    background-color: transparent;
  }

  // size small
  &.small {
    @include ui.def('height', ui.control-height('small'));
    padding: 0 ui.offset('small');

    @include ui.font-size('small');
  }

  // size large
  &.large {
    @include ui.def('height', ui.control-height('large'));
    padding: 0 ui.offset('large');

    @include ui.font-size('normal');
  }

  // icon only button
  &.icon {
    padding: 0;
    width: var(--height);
  }

  // no round borders
  &.straight-borders {
    border-radius: 0;
  }

  .icon-node {
    display: flex;
    align-items: center;

    height: 100%;
  }

  .decorator {
    position: absolute;

    top: 2px;
    left: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 0;
    height: 0;
  }

  .suffix {
    font-weight: bold;
    font-style: italic;
  }
}
