.root {
  @include ui.offset-classes($property: '--padding-offset');

  &.only-top {
    padding-top: var(--padding-offset);
  }
  &.only-left {
    padding-left: var(--padding-offset);
  }
  &.only-right {
    padding-right: var(--padding-offset);
  }
  &.only-bottom {
    padding-bottom: var(--padding-offset);
  }
}
