.root {
  display: flex;
  align-items: center;

  gap: ui.q();

  .item,
  .item .content {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: ui.offset('small');

    padding: 0 ui.offset('normal');

    height: ui.control-height('normal');
    // height: ui.control-height('large');

    // @include ui.font-size('large');
  }

  .item {
    position: relative;

    color: transparent;
    cursor: pointer;

    .content {
      position: absolute;
      top: 0;
      left: 0;

      color: ui.color-token('text');

      z-index: 2;

      .icon {
        opacity: .75;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      .label {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    @include ui.animated('all', '.decorator');
    .decorator {
      position: absolute;

      bottom: 0;
      left: 0;
      right: 0;

      height: 0px;

      @include ui.border-radius('small');

      z-index: 1;
    }

    &.active {
      .decorator {
        height: ui.q(.5);
        // height: 1px;

        background-color: ui.color-token('text-a50');
      }
    }

    &:hover {
      .decorator {
        height: 100%;
        background-color: ui.color-token('text-a25');
      }

      &.active {
        .decorator {
          background-color: ui.color-token('text-a50');
        }
      }
    }
  }
}
