.root {
  display: flex;
  align-items: center;

  gap: ui.offset('thin');

  &.size-large {
    .item,
    .item .content {
      gap: ui.offset('small');

      height: ui.control-height('large');
    }
  }

  .item,
  .item .content {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: ui.offset('small');

    padding: 0 ui.offset('normal');

    height: ui.control-height('normal');
  }

  .item {
    position: relative;

    color: transparent;
    cursor: pointer;

    &.iconOnly {
      .content {
        .icon {
          @include ui.font-color('text');
        }
      }
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;

      @include ui.font-color('text');

      z-index: 2;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        @include ui.font-color('text-a50');
      }

      .label {
        display: flex;
        align-items: center;
        justify-content: center;

        line-height: 1.2;
      }
    }

    @include ui.animated('all', '.decorator');
    .decorator {
      position: absolute;

      bottom: 0;
      left: 0;
      right: 0;

      height: 0px;

      @include ui.border-radius('small');

      box-shadow: 0 0 0 2px transparent inset;

      z-index: 1;
    }

    &.active {
      .decorator {
        height: ui.q(.5);

        background-color: ui.color-token('tabular-item-decorator-active-background');
      }
    }

    &:hover {
      .decorator {
        height: 100%;
        box-shadow: 0 0 0 2px ui.color-token('outlined-hover-border') inset;
        background-color: ui.color-token('tabular-item-decorator-hover-background');
      }

      &.active {
        .decorator {
          background-color: ui.color-token('tabular-item-decorator-hover-background');
        }
      }
    }
  }
}
