div {
    font-weight: lighter;
    font-size: 1.5vh;

    ::ng-deep h2 {
        font-weight: lighter;
        font-size: 2.5vh;

        margin-bottom: 0.5vh;
    }

    ::ng-deep img {
        max-width: 50vh;
        max-height: auto;
        height: auto;
    }

    ::ng-deep ul {
        list-style-type: disc;
        padding-left: 2.5rem;
    }

    ::ng-deep a {
        color: inherit;
    }
}