<div class="home">
	<div class="welcome">
		<div class="oi" *ngIf="!currentAccount && accountBeg" [innerHTML]="accountBeg">
	
		</div>

		<div>
			<h1>Welcome to {{ brandingName }}<span *ngIf="currentAccount">, {{ currentAccount.username }}</span>!</h1>
			<h2>{{ randomGreeting }}</h2>

			<article [innerHTML]="welcomeMessage" (click)="clickContent($event)">
				
			</article>

			<article>
				<span *ngIf="currentAccount && currentAccount.isStaff">You're wielding the staff! That's... unexpected. </span>
				<span *ngIf="currentAccount && currentAccount.isPremium">Oh, and thanks for supporting FiveM on Patreon. You're why the project thrives. ⭐</span>
			</article>
		</div>

		<app-home-tweet class="message" *ngFor="let tweet of officialTweets" [tweet]="tweet">

		</app-home-tweet>
	</div>

	<div class="feed">		
		<app-home-tweet class="message" *ngFor="let tweet of communityTweets" [tweet]="tweet">

		</app-home-tweet>
	</div>
</div>
