@import "variables";

:host {
    transition: all .2s ease;

    display: block;

	white-space: pre-wrap;

	margin-bottom: var(--q1);

    .rt {
        display: none;

        position: absolute;
        top: 0px;
        right: 0px;
    }

    ::ng-deep a {
        color: inherit;
    }

    .additional {
        opacity: 0;
        padding-left: 0;
        transition: all .2s ease;

        &:hover {
            color: #fff;
        }
    }

    &:hover {
        .additional {
            opacity: 1;
            padding-left: 5px;
        }
    }

    .message-header {
		display: flex;

        margin-bottom: var(--qh);

        font-size: var(--fs-075);

        @include theme() using ($theme) {
            color: gtv($theme, textColor);
        };

        .avatar {
			width: var(--q2);
			height: var(--q2);

			margin-right: var(--qh);
		}

		.info {
			flex-grow: 1;
		}
    }

    .message-body {
        img {
            max-width: 100%;
            height: auto;
		}

		font-size: var(--fs-075);

		p {
			word-wrap: break-word;
		}
    }
}
