@import "variables";

.home {
	width: $appContentWidth;
	height: $height;
	padding-top: $padding*2;

	overflow-y: scroll;

	.feed {
		.message {
			//box-shadow: 0 0 30px $bgColour;

			.backdroppy {
				background-color: rgba($bgColour, .2);
				//backdrop-filter: blur(25px);
				padding: $padding 50px;

				border-bottom: solid .5px rgba($fgColour, .1);
			}

			.message-header {
				position: relative;
				margin-bottom: 10px;

				font-size: 12px;
				color: $textColour;

				.avatar {
					position: absolute;
					left: -40px;
					width: 30px;
					height: 30px;
					border-radius: 2px;
				}
			}

			.message-body {
				img {
					width: 100%;
					height: auto;
					border-radius: 2px;
					margin-bottom: $padding/2;
				}
			}
		}
	}
}

//:host > * {
//	height: 100%;
//}
//
//:host > * > * {
//	height: 100%;
//}

.column {
	display: flex;
	flex-direction: column;
}

.panel {
	right: 0px;
	position: absolute;
	height: 100%;
	width: 25%;
	border-left: 2px solid #51B3EC;
	background-color: hsl(222, 23%, 11%);
}

.hero {
	padding-left: 3em;
	background-color: #51B3EC;

	flex: none;
}
.hero .title,
.hero .subtitle {
	color: #fff;
	font-family: $fonts;
}

.hero .subtitle strong {
	color: #fff;
	font-weight: 500;
}
