@import "variables";

:host {
    border-radius: 1px;
    transition: all .2s ease;

    display: block;

    .rt {
        display: none;

        position: absolute;
        top: 0px;
        right: 0px;
    }

    ::ng-deep a {
        color: inherit;
    }
    
    .additional {
        opacity: 0;
        padding-left: 0;
        transition: all .2s ease;

        &:hover {
            color: #fff;
        }				
    }
    
    &:hover {
        .additional {
            opacity: 1;
            padding-left: 5px;
        }
    }

    @include themeHostWorkaround() using ($theme) {
        border-top: rgba(gtv($theme, bgColour), .3) 1px solid;

        &:first-of-type {
            border-top: 0px !important;
        }

        &:hover + ::ng-deep * {
            border-top: rgba(gtv($theme, bgColour), .5) 1px solid;
        }

        &:hover {
            border-top: rgba(gtv($theme, bgColour), .5) 1px solid;
        }
    };
    
    .backdroppy {
        padding: $padding $padding $padding $padding*2+4vh;

        margin-bottom: $padding/4;
    }

    .message-header {
        position: relative;
        margin-bottom: $padding;

        font-size: $fontSize*.7;
        
        @include theme() using ($theme) {
            color: gtv($theme, textColour);
        };

        .avatar {
            position: absolute;
            left: -4vh - $padding;
            width: 4vh;
            height: 4vh;
            border-radius: 2px;
        }
    }

    .message-body {
        img {
            max-width: 80%;
            height: auto;
            border-radius: 2px;
            margin-bottom: $padding/2;
        }
    }
}
