@import "variables";

.home {
	display: flex;
	justify-content: flex-end;

	@include fullWidthPadded;
	height: $appContentHeight;
	margin-top: $appContentMargin;
	margin-left: $appContentPadding;

	iframe {
		width: 20%;
		height: $appContentHeight;
		padding-bottom: $appContentPadding;
		margin-left: $padding*$multiplier;
	}

	.feed {
		position: relative;
		width: 100%;

		height: $appContentHeight;

		overflow-y: scroll;

		.message {
			background-color: rgba($bgColour, .2);
			border-radius: 1px;

			.backdroppy {
				padding: $padding $padding $padding 50px;

				margin-bottom: $padding/4;
			}

			.message-header {
				position: relative;
				margin-bottom: 10px;

				font-size: 12px;
				color: $textColour;

				.avatar {
					position: absolute;
					left: -40px;
					width: 30px;
					height: 30px;
					border-radius: 2px;
				}
			}

			.message-body {
				img {
					width: 100%;
					height: auto;
					border-radius: 2px;
					margin-bottom: $padding/2;
				}
			}
		}
	}
}

//:host > * {
//	height: 100%;
//}
//
//:host > * > * {
//	height: 100%;
//}

.column {
	display: flex;
	flex-direction: column;
}

.panel {
	right: 0px;
	position: absolute;
	height: 100%;
	width: 25%;
	border-left: 2px solid #51B3EC;
	background-color: hsl(222, 23%, 11%);
}

.hero {
	padding-left: 3em;
	background-color: #51B3EC;

	flex: none;
}
.hero .title,
.hero .subtitle {
	color: #fff;
	font-family: $fonts;
}

.hero .subtitle strong {
	color: #fff;
	font-weight: 500;
}
