@import "variables";

.root {
  position: relative;

  display: flex;
  align-items: stretch;
  justify-content: stretch;

  height: 100%;

  cursor: pointer;
  user-select: none;

  overflow: hidden;

  &.up {
    .button {
      background-color: $scColor;

      svg {
        color: $bgColor;
      }

      &:hover {
        background-color: $erColor;
      }
    }
  }

  &.down {
    .button {
      &:hover {
        background-color: $scColor;
      }
    }
  }

  &.error {
    .button, .button:hover {
      background-color: $erColor;
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: $toolbarHeight*1.5;

    // background-color: rgba($fgColor, .1);

    @include interactiveTransition;

    z-index: 2;

    svg {
      font-size: $fs4;
      color: rgba($fgColor, .75);
    }

    &:hover svg {
      color: rgba($fgColor, 1);
    }
  }

  .config {
    display: flex;
    align-items: center;
    justify-content: center;

    width: $toolbarHeight;

    margin-left: $q*2;

    color: rgba($fgColor, .75);

    z-index: 2;

    &:hover {
      color: rgba($fgColor, 1);
      background-color: $acColor;
    }

    svg {
      font-size: $fs1;
    }
  }

  .progress {
    position: absolute;

    left: 0;
    bottom: 0;

    height: 2px;

    background-color: $acColor;

    z-index: 1;
  }
}
