@import "variables";

@font-face
{
	font-family: 'FiraSans';
	src: url(../assets/fonts/FiraSans-Regular.otf);
	font-weight: normal;
}

@font-face
{
	font-family: 'FiraSans';
	src: url(../assets/fonts/FiraSans-Light.otf);
	font-weight: 300;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $fonts;
	user-select: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	overflow: hidden;

	color: $fgColour;
}

$blurSize: 20px;

#bg {
	z-index: 1;

	position: fixed;
	top: -($blurSize*2);
	left: -($blurSize*2);
	bottom: -($blurSize*2);
	right: -($blurSize*2);

	filter: blur($blurSize);

	background:
		linear-gradient(
				-45deg,
				rgba($bgColour, .55) 00%,
				rgba($bgColour, .55) 100%
		) center center/100%,
		url(../assets/images/RSG_GTAV_PC_Screenshot_050.jpg) center center/cover no-repeat;
}

/* disable chromeme scrollbar */
::-webkit-scrollbar { width: 0 }
