@import "variables";

@import "~balloon-css/balloon.css";
@import "~flag-icon-css/css/flag-icon.css";

.flag-icon-001 {
	background-image: url(../assets/images/001.svg);
}

.flag-icon-150 {
	background-image: url(../assets/images/150.svg);
}

@font-face
{
	font-family: 'Roboto';
	src: url(../assets/fonts/roboto_light.woff);
	font-weight: 100;
}
@font-face
{
	font-family: 'Roboto';
	src: url(../assets/fonts/roboto_regular.woff);
	font-weight: normal;
}
@font-face
{
	font-family: 'Roboto';
	src: url(../assets/fonts/roboto_medium.woff);
	font-weight: bold;
}
@font-face
{
	font-family: 'Inter';
	src: url(../assets/fonts/inter.var.woff2);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	overflow: hidden;

	font-family: $fonts;
	font-size: $fontSize;

	background-color: #000;
}

$blurSize: 20px;

/* disable chromeme scrollbar */
.gameapp ::-webkit-scrollbar { width: 0 }

input[type="text"],
input[type="search"] {
	@include themeNoHost() using ($theme) {	
		background-color: rgba(gtv($theme, bgColour), .2);
	};

	border: none;
	border-radius: 1px;

	@include themeNoHost() using ($theme) {
		color: gtv($theme, fgColour);
	};

	font-size: 1.3rem;
	font-weight: 100;
	padding: $padding $padding*$multiplier;

	transition: all .2s ease;

	&:focus {
		outline: none;
		@include themeNoHost() using ($theme) {
			box-shadow: 0 0 0 3px gtv($theme, greenyColour) inset;
		};
	}
	&:hover,
	&:focus {
		@include themeNoHost() using ($theme) {
			background: rgba(gtv($theme, bgColour), .2);
		};
	}

	&::-webkit-input-placeholder {
		@include themeNoHost() using ($theme) {
			color: rgba(gtv($theme, textColour), .6);
		};
	}
}

button {
	padding: $padding/2 $padding*$multiplier;

	border-radius: 2px;
	border: none;

	@include themeNoHost() using ($theme) {
		color: gtv($theme, fgColour);
		text-shadow: 0 0 2px rgba(gtv($theme, bgColour), .8);
		background: darken(gtv($theme, greenyColour), 10%);
	};

	font-size: 1.03rem;
	font-weight: 100;

	transition: all .2s ease-out;

	outline: none;

	&:hover {
		@include themeNoHost() using ($theme) {
			background: gtv($theme, greenyColour);
			box-shadow: 0 5px 25px darken(gtv($theme, greenyColour), 10%);
		};
	}

	&.unimportant {
		@include themeNoHost() using ($theme) {
			background: lighten(gtv($theme, bgColour), 15%);

			&:hover {
				background: lighten(gtv($theme, bgColour), 25%);
				box-shadow: 0 5px 25px lighten(gtv($theme, bgColour), 25%);
			}
		};
	}
}

.ad {
	display: none;
}

@media only screen and (min-width: 700px) {
	.webapp .ad {
		display: block;

		font-size: 14px;
		color: white;

		a {
			color: white;
		}

		margin-top: 3px;
	}
}

.ac-adaptiveCard {
	padding: 0px !important;

	&:focus {
		outline: none;
	}

	.ac-image {
		max-width: 10vw !important;
		max-height: initial !important;
	}
}

.color-1 {
	color: #F44336;
}

.color-2 {
	color: #4CAF50;
}

.color-3 {
	color: #FFEB3B;
}

.color-4 {
	color: #42A5F5;
}

.color-5 {
	color: #03A9F4;
}

.color-6 {
	color: #9C27B0;
}

.color-8 {
	color: #FF5722;
}

.color-9 {
	color: #9E9E9E;
}