@import "variables";

@import "~balloon-css/balloon.css";

@font-face
{
	font-family: 'Roboto';
	src: url(../assets/fonts/roboto_light.woff);
	font-weight: 100;
}
@font-face
{
	font-family: 'Roboto';
	src: url(../assets/fonts/roboto_regular.woff);
	font-weight: normal;
}
@font-face
{
	font-family: 'Roboto';
	src: url(../assets/fonts/roboto_medium.woff);
	font-weight: bold;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $fonts;
	user-select: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	overflow: hidden;

	color: $fgColour;

	font-size: $fontSize;
}

$blurSize: 20px;

#bg {
	z-index: 1;

	position: fixed;
	top: -($blurSize*2);
	left: -($blurSize*2);
	bottom: -($blurSize*2);
	right: -($blurSize*2);

	filter: blur($blurSize);
	transform: translate3d(0, 0, 0);

	background:
		linear-gradient(
				-45deg,
				rgba($bgColour, .55) 00%,
				rgba($bgColour, .55) 100%
		) center center/100%,
		url(../assets/images/bg.jpg) center center/cover no-repeat;
}

/* disable chromeme scrollbar */
.gameapp ::-webkit-scrollbar { width: 0 }

input[type="text"],
input[type="search"] {
	background-color: rgba($bgColour, .2);
	border: none;
	border-radius: 1px;
	color: $fgColour;
	font-size: 1.3rem;
	font-weight: 100;
	padding: $padding $padding*$multiplier;

	transition: all .2s ease;

	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px $greenyColour inset;
	}
	&:hover,
	&:focus {
		background: rgba($bgColour, .2);
	}

	&::-webkit-input-placeholder {
		color: rgba($textColour, .6);
	}
}

button {
	padding: $padding/2 $padding*$multiplier;

	border-radius: 2px;
	border: none;

	color: $fgColour;
	text-shadow: 0 0 2px rgba($bgColour, .8);
	background: darken($greenyColour, 10%);

	font-size: 1.03rem;
	font-weight: 100;

	transition: all .2s ease-out;

	outline: none;

	&:hover {
		background: $greenyColour;
		box-shadow: 0 5px 25px darken($greenyColour, 10%);
	}

	&.unimportant {
		background: $bgColour;

		&:hover {
			background: lighten($bgColour, 10%);
			box-shadow: 0 5px 25px lighten($bgColour, 10%);
		}
	}
}

.ad {
	display: none;
}

@media only screen and (min-width: 700px) {
	.webapp .ad {
		display: block;

		font-size: 14px;
		color: white;

		a {
			color: white;
		}

		margin-top: 3px;
	}
}

.color-1 {
	color: #F44336;
}

.color-2 {
	color: #4CAF50;
}

.color-3 {
	color: #FFEB3B;
}

.color-4 {
	color: #42A5F5;
}

.color-5 {
	color: #03A9F4;
}

.color-6 {
	color: #9C27B0;
}

.color-8 {
	color: #FF5722;
}

.color-9 {
	color: #9E9E9E;
}