@import "variables";
@import "controls";
@import "site-header";

@import "~typeface-montserrat/index.css";
@import "~typeface-rubik/index.css";

@import "~balloon-css/balloon.css";
@import "~flag-icon-css/css/flag-icon.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";

@import '~@angular/material/theming';

@include mat-core();

@font-face {
	font-family: 'Material Icons Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(../assets/fonts/material-icons-outlined.woff2) format('woff2');
}

@font-face
{
	font-family: 'Roboto';
	src: url(../assets/fonts/roboto_light.woff);
	font-weight: 100;
}
@font-face
{
	font-family: 'Roboto';
	src: url(../assets/fonts/roboto_regular.woff);
	font-weight: normal;
}
@font-face
{
	font-family: 'Roboto';
	src: url(../assets/fonts/roboto_medium.woff);
	font-weight: bold;
}

$md-cfx: (
    50 : #fee1ea,
    100 : #fcb4cb,
    200 : #fa82a9,
    300 : #f75086,
    400 : #f62b6c,
    500 : #f40552,
    600 : #f3044b,
    700 : #f10441,
    800 : #ef0338,
    900 : #ec0128,
    A100 : #ffffff,
    A200 : #ffe0e3,
    A400 : #ffadb6,
    A700 : #ff939f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : hsl(60, 100%, 97%),
        500 : hsl(60, 100%, 97%),
        600 : hsl(60, 100%, 97%),
        700 : hsl(60, 100%, 97%),
        800 : hsl(60, 100%, 97%),
        900 : hsl(60, 100%, 97%),
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

.flag-icon-001 {
	background-image: url(../assets/images/001.svg);
}

.flag-icon-150 {
	background-image: url(../assets/images/150.svg);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: none;
	outline: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	overflow: hidden;

	@include fontRubik;

	background-color: transparent;
}

@media (max-aspect-ratio: 16/9) {
	body {
		--width: 100vw;
		--height: calc(100vw / 1.77);
	}
}

@media (min-aspect-ratio: 16/9) {
	body {
		--width: calc(100vh * 1.77);
		--height: 100vh;
	}
}

body {
	// On 720p quant will be 4px
	--quant: calc(var(--height) * .018);
	--font-size: var(--quant);

	--qh: calc(var(--quant) / 2);
	@for $i from 1 to 15 {
		--q#{$i}: calc(var(--quant) * #{$i});
	}

	font-size: var(--font-size);

	--fs-05: calc(var(--font-size) * .5);
	--fs-075: calc(var(--font-size) * .75);
	--fs-1: var(--font-size);
	--fs-2: calc(var(--fs-1) * 1.25);
	--fs-3: calc(var(--fs-1) * 1.5);
	--fs-4: calc(var(--fs-1) * 1.75);
	--fs-5: calc(var(--fs-1) * 2);
	--fs-6: calc(var(--fs-1) * 2.25);
	--fs-7: calc(var(--fs-1) * 2.5);

	--app-offset: var(--q4);

	--header-height: var(--q3);
	--header-safe-left-raw: var(--q3);
	--header-safe-right-raw: var(--q9);
	--header-safe-left: calc(var(--header-safe-left-raw) + var(--qh));
	--header-safe-right: calc(var(--header-safe-right-raw) + var(--qh));
}

.ad {
	display: none;
}

.webapp {
	--header-save-left-raw: 0px;
	--header-safe-right-raw: 0px;
	--header-safe-left: 0px;
	--header-safe-right: 0px;

	#bg {
		--my-background-image: url(https://fivem.net/73663161434ea35812a20da2e517f102.jpg);
	}

	.webapp-hide {
		display: none !important;
	}

	@include themeIsHost() using ($theme) {
		.ad {
			@include backdropPane;

			box-shadow: 0 2px 0 gtv($theme, shadeColor) inset, 0 -2px 0 gtv($theme, shadeColor) inset;
			// border-top: solid 2px gtv($theme, accentColor1);
			background-image: url(../assets/images/bgpat.png);
			background-size: 200px;
			background-color: rgba(gtv($theme, bgColor), .4);
		}
	}

	.ad {
		text-align: center;
		margin-top: var(--qh);
		padding-top: var(--qh);
		padding-bottom: var(--qh);
	}

	@media only screen and (min-width: 700px) {
		.ad {
			display: block;
		}
	}
}

app-root {
	opacity: 0.01;
}

button {
	@include fontRubik;
	font-size: var(--fs-1);
}

::-webkit-scrollbar {
	width: 2px;
}
::-webkit-scrollbar-thumb {
	width: 2px;
	@include themeNoHost() using ($theme) {
		background-color: rgba(gtv($theme, fgColor), .5);
	}
}
::selection {
	@include themeNoHost() using ($theme) {
		color: gtv($theme, accentContrastColor);
		background-color: gtv($theme, accentColor1);
	}
}

.ac-container {
	max-width: 100% !important;

	&:focus {
		outline: none;
	}

	.ac-image {
		max-width: 100% !important;
		height: auto !important;
	}

	input[type="text"],
	input[type="search"],
	input[type="date"] {
		padding: var(--qh);
		font-size: var(--fs-1);
	}
}

.theme-dark {
	.color-1 {
		color: lighten(#F44336, 20%);
	}

	.color-2 {
		color: lighten(#4CAF50, 20%);
	}

	.color-3 {
		color: lighten(#FFEB3B, 20%);
	}

	.color-4 {
		color: lighten(#42A5F5, 20%);
	}

	.color-5 {
		color: lighten(#03A9F4, 20%);
	}

	.color-6 {
		color: lighten(#9C27B0, 20%);
	}

	.color-8 {
		color: lighten(#FF5722, 20%);
	}

	.color-9 {
		color: lighten(#9E9E9E, 20%);
	}
}
.theme-light {
	.color-1 {
		color: darken(#F44336, 20%);
	}

	.color-2 {
		color: darken(#4CAF50, 20%);
	}

	.color-3 {
		color: darken(#FFEB3B, 20%);
	}

	.color-4 {
		color: darken(#42A5F5, 20%);
	}

	.color-5 {
		color: darken(#03A9F4, 20%);
	}

	.color-6 {
		color: darken(#9C27B0, 20%);
	}

	.color-8 {
		color: darken(#FF5722, 20%);
	}

	.color-9 {
		color: darken(#9E9E9E, 20%);
	}
}

.mat-tab-body-wrapper, mat-tab-body, mat-tab-group {
	flex-grow: 1;
}

.mat-tab-label {
	@include fontRubik;
	font-size: var(--fs-1);
	font-weight: normal;
}

.theme-light {
	@include angular-material-theme(mat-light-theme(
		mat-palette($md-cfx),
		mat-palette($md-cfx)
	));

	input[type="search"]::-webkit-search-cancel-button {
		background-image: url(../assets/images/cross-light.svg);
	}
}

.theme-dark {
	@include angular-material-theme(mat-dark-theme(
		mat-palette($md-cfx),
		mat-palette($md-cfx)
	));

	input[type="search"]::-webkit-search-cancel-button {
		background-image: url(../assets/images/cross-dark.svg);
	}
}

.theme-rdr3 {
	@include angular-material-theme(mat-dark-theme(
		mat-palette($mat-red),
		mat-palette($mat-red)
	));
}

.mat-tab-group, mat-tab-group {
	font-family: inherit;
}

.mat-tab-body-content {
	will-change: transform;
}

.material-icons-outlined {
	font-size: var(--fs-1);
	vertical-align: middle;
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;

	@include themeNoHost() using ($theme) {
		&.accentColor1 {
			color: gtv($theme, accentColor1);
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	display: flex;
	align-items: center;

	@include fontMontserrat;
	line-height: 1;
}
h1 { font-size: var(--fs-5); line-height: var(--fs-5); }
h2 { font-size: var(--fs-4); }
h3 { font-size: var(--fs-3); }
h4 { font-size: var(--fs-2); }
h5 { font-size: var(--fs-1); }
h6 { font-size: var(--fs-05); }

.badge {
	flex-shrink: 0;

	height: 100%;

	display: flex;
	align-items: stretch;
	justify-content: center;

	@include themeNoHost() using ($theme) {
		span {
			display: flex;
			align-items: center;
			justify-content: center;

			height: 100%;

			opacity: 0;

			padding: 2px 4px;

			color: gtv($theme, fgColor);
			border: solid 1px currentColor;

			line-height: 1;
			font-size: calc(var(--fs-1) / 1.8);
			font-family: monospace;
			font-weight: 100;
			text-transform: capitalize;

			box-shadow: 0 0 5px currentColor;
		}
		&.ag {
			span {
				opacity: .5;

				box-shadow: 0 0 5px rgba(gtv($theme, fgColor), .5);
			}
		}

		&.au {
			span {
				opacity: .75;

				color: gtv($theme, auColor);
				box-shadow: 0 0 5px rgba(gtv($theme, auColor), .25);
			}
		}

		&.pt {
			span {
				opacity: 1;

				box-shadow: 0 0 5px gtv($theme, accentColor1);
				color: gtv($theme, accentContrastColor);
				border-color: gtv($theme, accentColor1);
				background-image: linear-gradient(
					225deg,
					gtv($theme, accentColor1),
					darken(gtv($theme, accentColor1), 20%),
					gtv($theme, accentColor1)
				);
			}
		}
	};
}

// This is for server's activitypub feed
p a,
.with-links a {
	@include themeNoHost() using ($theme) {
		color :gtv($theme, fgColor);
	}

	transition: all .15s ease;
}
p a:hover,
.with-links a:hover {
	@include themeNoHost() using ($theme) {
		color :gtv($theme, accentContrastColor);
		background-color: gtv($theme, accentColor1);
		box-shadow: 0 0 0 4px gtv($theme, accentColor1);
	}

	transition: none;
}
p .invisible {
	display: none;
}
