@import "variables.scss";
@import "panels.scss";

@font-face {
  font-family: 'Mensch';
  src: url('mensch.ttf')  format('truetype')
}

@keyframes bganim {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 500px -500px;
    }
    100% {
        background-position: 1000px -1000px;
    }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
  outline: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;

  color: $fgColor;
  background-color: $bgColor;

  @include fontPrimary;
  font-size: 16px;
}

.animated-background {
  background-image: url(static/images/bgpat.png);
  background-size: 250px;
  animation: bganim 40s linear 0s infinite;
}

a {
  color: currentColor;
  text-decoration: underline;

  cursor: pointer;

  @include interactiveTransition;

  &:hover {
    color: $fgColor;
    background-color: $acColor;
    box-shadow: 0 0 0 4px $acColor;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include fontSecondary;
  letter-spacing: 2px;
  margin-bottom: $q * 4;
}

.dimmed {
  opacity: .75;
}

.modal-header {
  padding: $q*3 $q*4;
  text-transform: uppercase;
  margin-bottom: 0;

  user-select: none;
}
.modal-label {
  padding: $q*2 $q*4;

  color: rgba($fgColor, .5);

  @include fontPrimary;
  font-size: $fs08;
  font-weight: 300;

  cursor: default;
  user-select: none;
}
.modal-block {
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  padding: 0 $q*4;

  margin-bottom: $q*4;

  & > * {
    flex-grow: 1;
  }
}
.modal-error {
  padding: $q*4;

  color: $fgColor;
  background-color: $erColor;
}
.modal-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $q*4;
}
.modal-combine {
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  & > * {
    flex-grow: 1;
    width: 1px;

    margin-left: $q*4;

    &:first-child {
      margin-left: 0;
    }
  }
}

.rotating {
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  animation: rotate 1s linear 0s infinite;
}

// Perfect scrollbar
.fxdk .ps {
  .ps__thumb-y,
  .ps__thumb-x {
    border-radius: 0;
    background-color: rgba($fgColor, .1);
  }

  .ps__rail-y {
    width: 10px;
    background-color: transparent !important;

    .ps__thumb-y {
      right: 0;
      width: 10px;
    }

    &:hover {
      .ps__thumb-y {
        right: 0;
        width: 10px;
      }
    }
  }

  .ps__rail-x {
    height: 10px;
    background-color: transparent !important;

    .ps__thumb-x {
      bottom: 0;
      height: 10px;
    }

    &:hover {
      .ps__thumb-x {
        bottom: 0;
        height: 10px;
      }
    }
  }
}

kbd {
  &::before,
  &::after {
    display: inline-block;
    content: ' ';
  }
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: rgba($fgColor, .1);
}
::selection {
  background-color: $acColor;
}

.resize-sentinel-active .resize-sentinel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 3;
}

.shortcut {
  padding: $q $q*2;

  font-size: $fs08;
  font-family: monospace;

  border: solid 1px rgba($fgColor, .5);
  border-radius: 4px;
  box-shadow: 0 1px 0 0 rgba($fgColor, .5);

  background-color: rgba($fgColor, .1);
}
