.root {
  display: flex;
  align-items: center;

  &.small {
    height: ui.control-height('small');
  }
  &.normal {
    height: ui.control-height('normal');
  }
  &.large {
    height: ui.control-height('large');
  }
}
