@import "variables";

.root {
  flex-grow: 1;

  height: 100%;

  display: flex;
  flex-direction: column;

  .header {
    height: $q*12;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      padding-left: $q * 4;

      @include fontSecondary;
      letter-spacing: 1px;

      .name {
        color: $fgColor;
        font-size: $fs2;
        font-weight: 500;
      }
    }

    .extra {
      display: flex;
      margin-right: $q*2;

      .stats {
        padding: 0 $q*4;

        span {
          height: 100%;
          display: flex;
          align-items: center;

          color: rgba($fgColor, .5);

          svg {
            margin-right: $q;
          }
        }
      }

      .server {
        display: flex;
        align-items: center;
      }

      .config {
        height: 100%;

        font-size: $fs1;

        svg {
          margin: 0;
          color: $fgColor;
        }
      }
    }
  }
}
