<section class="setting">
	<div class="key">
		Nickname
	</div>
	<div class="value">
		<input
			#input
			class="text"
			type="text"
			placeholder="{{'#Settings_Nickname'|translate}}"
			spellcheck="false"
			[(ngModel)]="nickname"
			(ngModelChange)="nameChanged($event)"
		>
	</div>
</section>

<section class="setting">
	<div class="key">
		Dev mode
	</div>
	<div class="value">
		<div class="checkbox">
			<input
				type="checkbox"
				id="dev-mode"
				[class.wtf]="devMode"
				[checked]="devMode"
				(change)="toggleDevMode()"
			>
			<label for="dev-mode">
				Enables "localhost" menu item
			</label>
		</div>
	</div>
</section>