<section class="setting">
	<div class="key">
		<div>Nickname</div>
	</div>
	<div class="value">
		<input
			#input
			class="text"
			type="text"
			placeholder="{{'#Settings_Nickname'|translate}}"
			spellcheck="false"
			[(ngModel)]="nickname"
			(ngModelChange)="nameChanged($event)"
		>
	</div>
</section>

<section class="setting">
	<div class="key">
		<div>"Dark" "theme"</div>
	</div>
	<div class="value">
		<div class="checkbox">
			<input
				type="checkbox"
				id="dark-theme"
				[checked]="darkTheme"
				(change)="toggleDarkTheme()"
			>
			<label for="dark-theme">
				Makes the interface use a "dark" "theme"
			</label>
		</div>
	</div>
</section>

<section class="setting">
	<div class="key">
		<div>Dev mode</div>
	</div>
	<div class="value">
		<div class="checkbox">
			<input
				type="checkbox"
				id="dev-mode"
				[checked]="devMode"
				(change)="toggleDevMode()"
			>
			<label for="dev-mode">
				Enables "localhost" menu item
			</label>
		</div>
	</div>
</section>

<section class="setting" *ngIf="devMode">
	<div class="key">
		<div>Localhost port</div>
	</div>
	<div class="value">
		<input
			#input
			class="text"
			type="text"
			placeholder="{{'#Settings_LocalhostPort'|translate}}"
			spellcheck="false"
			[(ngModel)]="localhostPort"
			(ngModelChange)="localhostPortChanged($event)"		
		>
	</div>
</section>

<section class="setting">
	<div class="key">
		<div>Connected FiveM account</div>
	</div>
	<div class="value">
		<span *ngIf="currentAccount">Linked: {{ currentAccount.username }}</span>
		<span *ngIf="!currentAccount">
			<button (click)="linkAccount()">Link</button>
		</span>
	</div>
</section>