@import 'variables';

:host {
    display: block;
    width: $appContentWidth/$multiplier;
    height: $appContentHeight;
	margin-top: $appContentMargin;
	padding-left: $appContentPadding;

    overflow-y: scroll;

    .setting {
        display: flex;
        width: 100%;
        margin-bottom: $padding/2;

        font-size: 14px;
        line-height: 1;

        .key {
            width: 50%/$multiplier;
            padding: $padding $padding*$multiplier;
            margin-right: $padding/4;
            background-color: rgba($bgColour, .2);
        }

        .value {
            flex-grow: 1;

            background: rgba($bgColour, .2);

            &>* {
                width: 100%;
            }

            .text {
                background-color: transparent;

                &:hover,
                &:focus {
                    background: rgba($bgColour, .2);
                }
            }

            .checkbox {
				position: relative;
				flex-grow: 1;

				color: $secondaryColour;

				&:last-child {
					margin-right: 0;
				}

				input {
					position: absolute;
					height: 0px;
					width: 0px;
					transform: translateX(-9999px);
				}

				label {
					display: block;
                    width: 100%;

                    //color: rgba($fgColour, .5);
                    font-size: 14px;
					font-weight: 100;
					line-height: 14px;
					padding: $padding $padding*$multiplier;

					transition: all .2s ease;

					&::before {
						content: '';
						display: inline-block;

						width: 11px;
						height: 11px;
						margin-right: $padding/2;
						padding-left: 1px;

						border-radius: 1px;

						vertical-align: -1px;
						overflow: hidden;

                        color: $fgColour;
						font-size: 12px;
						line-height: 1;

						background-color: rgba($bgColour, .5);
					}
				}

				&:hover label {
					background-color: rgba($bgColour, .2);
				}

				input:checked + label {
					&::before {
						content: '✓';
						background: $greenyColour;
						box-shadow: 0 0 25px darken($greenyColour, 10%);
						text-shadow: 0 0 2px rgba($bgColour, .5);
					}
				}
			}
        }
    }
}
