@import "variables";

.root {
  position: relative;

  display: flex;
  align-items: center;

  border-radius: $q/2;

  background-color: rgba($fgColor, .1);

  cursor: pointer;
  user-select: none;

  overflow: hidden;

  &.up {
    .button {
      background-color: $scColor;

      &:hover {
        background-color: $erColor;
      }
    }
  }

  &.down {
    .button {
      &:hover {
        background-color: $scColor;
      }
    }
  }

  &.error {
    .button, .button:hover {
      background-color: $erColor;
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: $q*2 $q*2;

    @include interactiveTransition;

    z-index: 2;

    svg {
      margin-right: $q;
    }
  }

  .config {
    padding: $q*2 $q*3;
    border-left: solid 1px $bgColor;

    &:hover {
      background-color: $acColor;
    }
  }

  .progress {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;

    background-color: $acColor;

    z-index: 1;
  }
}
