.root {
  display: inline-flex;

  position: relative;

  height: ui.control-height('normal');

  user-select: none;

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &.descripted {
    margin-bottom: ui.offset();
  }

  &.multiline {
    display: flex;
    height: auto;

    .options {
      flex-wrap: wrap;

      .option {
        flex-grow: 1;

        height: ui.control-height('normal');
      }
    }
  }

  .description {
    position: absolute;
    bottom: 0;

    padding-top: ui.offset('small');

    transform: translateY(100%);

    color: ui.color-token('switch-description-text');
    @include ui.font-size('small');

    white-space: nowrap;
  }

  .options {
    display: flex;

    gap: 1px;

    height: 100%;

    overflow: hidden;

    background-color: ui.color-token('switch-background');
    box-shadow: 0 0 0 2px ui.color-token('switch-border') inset;

    @include ui.border-radius('small');
  }

  .option {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: ui.offset('small');

    height: 100%;

    padding: 0 ui.offset('normal');

    @include ui.font-weight('normal');

    cursor: pointer;

    @include ui.animated();

    &::after {
      content: '';
      display: block;

      position: absolute;
      right: -1px;
      top: 2px;
      bottom: 2px;

      background-color: ui.color-token('switch-border');

      width: 1px;
    }

    &:hover {
      background-color: ui.color-token('switch-hover-background');
    }

    &.active {
      color: ui.color-token('switch-active-text');
      background-color: ui.color-token('switch-active-background');
    }
  }
}
