@import "../vars.scss";

.root {
  position: absolute;

  display: flex;
  justify-content: stretch;

  top: 0;
  left: 0;
  right: 0;

  height: $weToolbarHeight;

  z-index: 1;

  > div {
    width: 33%;
    height: 100%;

    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    align-items: center;

    &:first-child {
      justify-content: flex-start;
    }

    justify-content: center;

    &:last-child {
      justify-content: flex-end;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    @include backdrop-blur;

    .name {
      flex-grow: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;

      padding: $q*2;
      margin-right: $q;

      // background-color: rgba($fgColor, .1);

      svg {
        margin-right: $q*2;
      }
    }
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;

    width: $weToolbarHeight;
    height: 100%;

    color: $fgColor;
    border: none;

    cursor: pointer;

    svg {
      font-size: $fs2;
    }

    @include interactiveTransition;
    @include backdrop-blur;

    &:hover {
      background-color: $acColor;
    }
  }
}
