<servers-list-header
	[columns]="columns"
	[sortOrder]="sortOrder"
	(sort)="updateSorting($event)"
></servers-list-header>

<div class="list">
	<virtual-scroll
		[items]="sortedServers"
		(update)="localServers = $event"
		childWidth="1000"
	>
		<div class="dummy"></div>
		<servers-list-item
			[class.premium]="isPremium(server)" [class.argentum]="getPremium(server) == 'ag'"
			[class.aurum]="getPremium(server) == 'au'"  [class.platinum]="getPremium(server) == 'pt'"
			[class.pinned]="isPinned(server)" [server]="server"
			*ngFor="let server of localServers"
		></servers-list-item>
	</virtual-scroll>
</div>
