@import "variables";

:host {
    height: 100%;
}

.tags {
    overflow-y: scroll;
    height: 50%;
    will-change: transform;

    h4 {
        font-size: $fontSize*0.8;
		font-weight: normal;
        line-height: $appServersItemHeight * 1.2;

        padding-left: $padding;

        text-transform: lowercase;
        
        cursor: default;

        @include theme using ($theme) {
            color: gtv($theme, textColour);
        };

        height: $appServersItemHeight * 1.2;

        @include theme using ($theme) {
            background-color: rgba(gtv($theme, bgColour), .5);
        };
    }

    span {
        vertical-align: middle;

        &.flag-icon {
            margin-right: 0.5vh;
        }
    }

    .tag {
        position: relative;
        font-size: $fontSize * 0.75;
        font-weight: 300;
        line-height: 1;
        cursor: default;

        overflow: hidden;

        height: $appServersItemHeight;
        margin-top: $padding/3;

        padding: $appServersItemHeight * 0.15;

        border-radius: 1px;

        &:nth-child(even) {
            @include theme using ($theme) {
                background-color: rgba(gtv($theme, bgColour), .1);
            };
        }

        transition: all .2s ease;

        &.active::before {
            content: '✓';

            @include theme using ($theme) {
                background-color: gtv($theme, greenyColour);
                text-shadow: 0 0 1px rgba(gtv($theme, bgColour), .5);
                box-shadow: 0 0 15px darken(gtv($theme, greenyColour), 10%);
            };
        }

        &:hover {
            @include theme using ($theme) {
                background-color: rgba(gtv($theme, bgColour), .2);
            };
        }

        &.inactive::before {
            content: '✘';

            @include theme using ($theme) {
                background-color: gtv($theme, redColour);
                text-shadow: 0 0 1px rgba(gtv($theme, bgColour), .5);
                box-shadow: 0 0 15px darken(gtv($theme, redColour), 10%);
            };
        }

        &::before {
            content: '';
            display: inline-block;

            width: $appServersItemHeight * 0.7;
            height: $appServersItemHeight * 0.7;
            margin-right: $padding/2;

            border-radius: 1px;

            vertical-align: middle;
            overflow: hidden;

            text-align: center;

            font-size: $fontSize * 0.9;
            line-height: 1;

            @include theme using ($theme) {
                background-color: rgba(gtv($theme, bgColour), .8);
            };
        }
    }
}