@import "variables";

:host {
	display: flex;
	width: $appContentWidth;
	height: $appContentHeight;
	margin-top: $appContentMargin;
	padding-left: $appContentPadding;

	.servers {
		display: flex;
		width: $width;
		position: relative;

		aside {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 20%;
		}

		article {
			position: relative;
			width: calc(100% - 20% - #{$padding});
			margin-left: calc(20% + #{$padding});
		}
	}
}
