<div class="servers vertical" *ngIf="isBrowser()">
	<aside>
		<app-server-filter [type]="type"></app-server-filter>
	</aside>

	<article>
		<servers-list [type]="type"></servers-list>
	</article>

	<div class="ad with-links">
		<a href='https://zap-hosting.com/fivemsl'>
			<img src="https://zap-cdn.com/interface/_images/banner/gameserver/fivem-affiliate-banner-1006x180.png" alt="ZAP-Hosting Gameserver and Webhosting">
			<br/>
			FiveM Servers 10% off, Code: zap-loves-fivem
		</a>
	</div>
</div>
