@import "variables";

$columns: (
	icon: $appServersItemHeight,
	name: 50%,
	actions: 140px,
	players: 5em,
	ping: 90px,
);

@each $key, $width in $columns {
	.#{$key} {
		width: $width;
		flex-grow: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@include theme() using ($theme) {
			color: gtv($theme, textColour);
		};
		
		text-align: right;
	}
}

.name {
	flex-grow: 1;
}

.actions {
	overflow: visible;
}