@import "variables";
@import "./server-listing-shared.scss";

@include themeHostWorkaround() using ($theme) {
	&.pinned {
		.server-list-item {
			margin-top: $padding/3;

			box-shadow: 0 0 0 100px rgba(gtv($theme, greenyColour), .25) inset;
		}
	}
};

/*@keyframes fadeIn { 
	from { text-shadow: 0 0 5px $blueColour; }
	to { text-shadow: 0 0 0 $blueColour; }
}*/

@include themeHostWorkaround() using ($theme) {
	&.platinum {
		.server-list-item {
			margin-top: $padding/3;

			box-shadow: 0 0 0 100px rgba(gtv($theme, redColour), .25) inset;

			/*.name {
				animation: fadeIn 1s infinite alternate ease-in-out;
			}*/
		}
	}
};

/*:host.argentum {
	.server-list-item {
		margin-top: $padding/3;
		box-shadow: 0 0 0 100px rgba($blueColour, .25) inset;
	}
}*/

@include themeHostWorkaround() using ($theme) {
	&.aurum {
		.server-list-item {
			margin-top: $padding/3;

			box-shadow: 0 0 0 100px rgba(gtv($theme, yellowColour), .25) inset;
		}
	}
};

@include themeHostWorkaround() using ($theme) {
	&:nth-child(odd) {
		.server-list-item {
			background-color: rgba(darken(gtv($theme, bgColour), 10%), .1);

			&:hover {
				background-color: rgba(darken(gtv($theme, bgColour), 10%), .4);
			}
		}
	}
};

.server-list-item {
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;

	font-size: $fontSize * 0.9;

	height: $appServersItemHeight;

	cursor: default;
	user-select: none;

	font-weight: 350;
	margin-top: $padding/3;

	@include theme() using ($theme) {
		background-color: rgba(gtv($theme, bgColour), .0);
	};

	&:hover {
		@include theme() using ($theme) {
			background-color: rgba(gtv($theme, bgColour), .4);
		};

		.actions button {
			opacity: 1;
		}
	}

	.bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;

		filter: grayscale(.5);
		opacity: .25;

		background-size: 500%;
		background-repeat: no-repeat;
		background-position: center center;

		display: none;
	}

	.icon {
		width: $appServersItemHeight;
		height: $appServersItemHeight;
	}

	.name {
		text-align: left;
		padding: 0 $padding*$multiplier*0.5;

		@include theme() using ($theme) {
			color: gtv($theme, secondaryColour);
		};
	}

	.actions {
		padding-right: $padding*$multiplier;

		button {
			background: transparent;
			border: none;
			outline: none;

			@include theme() using ($theme) {
				color: gtv($theme, textColour);
			};

			padding-top: 0.5vh;
			height: $appServersItemHeight;
			opacity: 0;
			font-size: 0;

			transition: all .2s ease-out;

			svg {
				width: $appServersItemHeight/$multiplier;
				height: $appServersItemHeight/$multiplier;
			}

			&:hover {
				transform: scale(1.3);
				box-shadow: none;
			}

			&.active {
				opacity: 1;

				@include theme() using ($theme) {
					color: gtv($theme, greenyColour);
				};
			}
		}
	}

	.players {
		padding-right: $padding*$multiplier;
	}

	.ping {
		padding-right: $padding*$multiplier;
	}

	figure {
		position: relative;

		img {
			width: $appServersItemHeight;
			height: $appServersItemHeight;

			transition: .2s ease-out;
		}

		&:hover::after {
			transform: scale(1.3);
		}

		&::after {
			position: absolute;
			display: block;
			content: '';

			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			display: flex;

			opacity: 0;
			transition: transform .1s ease-out;

			background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImhzbCg3NiwgMTAwJSwgNDAlKSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItcGxheSI+PHBvbHlnb24gcG9pbnRzPSI1IDMgMTkgMTIgNSAyMSA1IDMiPjwvcG9seWdvbj48L3N2Zz4=);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: $appServersItemHeight/$multiplier $appServersItemHeight/$multiplier;
		}
	}
}
