<div class="server-list-item" (click)="showServerDetail()">
    <div class="bg" [style.background-image]="server.sanitizedStyleUri"></div>

    <figure class="icon" (click)="attemptConnect($event)">
        <img [src]="server.sanitizedUri">
    </figure>

    <div class="name" [innerHTML]="server.hostname | escape | colorize"></div>

    <div class="actions">
        <button (click)="toggleFavorite($event)" [class.active]="isFavorite()">
            <svg 
                viewBox="0 0 24 24" 
                fill="none" 
                stroke="currentColor" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                class="feather feather-star"
            >
                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
            </svg>
        </button>

        <button (click)="enableBoost($event)" [class.active]="isBoost()" data-balloon="Give this server a BOOST™!" data-balloon-pos="left" class="boost">
            <svg viewBox="0 0 32 32" width="32px">
                <path d="M18.221,7.206l9.585,9.585c0.879,0.879,0.879,2.317,0,3.195l-0.8,0.801c-0.877,0.878-2.316,0.878-3.194,0  l-7.315-7.315l-7.315,7.315c-0.878,0.878-2.317,0.878-3.194,0l-0.8-0.801c-0.879-0.878-0.879-2.316,0-3.195l9.587-9.585  c0.471-0.472,1.103-0.682,1.723-0.647C17.115,6.524,17.748,6.734,18.221,7.206z" fill="currentColor"></path>
            </svg>
        </button>

        <span class="upvotes">{{server.upvotePower}}</span>
    </div>

    <div class="players">
        {{server.currentPlayers}}/{{server.maxPlayers}}
    </div>
</div>
