<servers-list-header
	[columns]="columns"
	[sortOrder]="sortOrder"
	(sort)="updateSorting($event)"
></servers-list-header>

<div class="list">
	<virtual-scroll
		[items]="sortedServers"
		(update)="localServers = $event"
		childHeight="40"
		childWidth="1000"
	>
		<div class="dummy"></div>
		<servers-list-item
			[class.pinned]="isPinned(server)" [server]="server"
			[class.highlight__]="i%2==0" 
			*ngFor="let server of localServers; let i = index"
		></servers-list-item>
	</virtual-scroll>
</div>
