<div class="servers vertical">
	<aside>
		<app-server-filter [type]="type" (filtersChanged)="setFilters($event)"></app-server-filter>
	</aside>

	<article>
		<servers-list [servers]="serversArray" [filters]="filters" [pinConfig]="pinConfig"></servers-list>
	</article>

	<div style="text-align: center;" class="ad">
		<a href='https://zap-hosting.com/fivembanner01'><img src="https://zap-cdn.com/interface/_images/banner/gameserver/fivem-affiliate-banner-1006x180.png" alt="ZAP-Hosting Gameserver and Webhosting"><br/>
		FiveM Servers 10% off, Code: zap-loves-fivem</a>
	</div>
</div>
