@import "variables";
@import "./server-listing-shared.scss";

@include themeHostWorkaround() using ($theme) {
	&.pinned {
		.server-list-item {
			margin-top: $padding/3;

			box-shadow: 0 0 0 100px rgba(gtv($theme, greenyColour), .25) inset;

			.icon {
				position: relative;

				&:before {
					content: '📌';
					position: absolute;
					bottom: $fontSize * .1;
					right: 0px;
					font-size: $fontSize * .65;
					line-height: 1;
				}
			}
		}
	}
};

@keyframes fadeIn { 
	from { filter: saturate(100%) brightness(100%); }
	to { filter: saturate(200%) brightness(125%); }
}

@include themeHostWorkaround() using ($theme) {
	&.platinum {
		.server-list-item {
			margin-top: $padding/3;

			box-shadow: 0 0 0 100px rgba(gtv($theme, redColour), .25) inset;

			.icon {
				animation: fadeIn 1s infinite alternate ease-in-out;
			}
		}
	}
};

/*:host.argentum {
	.server-list-item {
		margin-top: $padding/3;
		box-shadow: 0 0 0 100px rgba($blueColour, .25) inset;
	}
}*/

@include themeHostWorkaround() using ($theme) {
	&.aurum {
		.server-list-item {
			margin-top: $padding/3;

			box-shadow: 0 0 0 100px rgba(gtv($theme, yellowColour), .25) inset;
		}
	}
};

@include themeHostWorkaround() using ($theme) {
	&:nth-child(odd) {
		.server-list-item {
			background-color: rgba(darken(gtv($theme, bgColour), 10%), .1);

			&:hover {
				background-color: rgba(darken(gtv($theme, bgColour), 10%), .4);
			}
		}
	}
};

.server-list-item {
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;

	font-size: $fontSize * 0.75;

	height: $appServersItemHeight;

	.name {
		font-family: Inter !important;
		font-feature-settings: 'case', 'liga' 1;
	}

	cursor: default;
	user-select: none;

	font-weight: 350;
	margin-top: $padding/3;

	@include theme() using ($theme) {
		background-color: rgba(gtv($theme, bgColour), .0);
	};

	&:hover {
		@include theme() using ($theme) {
			background-color: rgba(gtv($theme, bgColour), .4);
		};

		.actions button {
			opacity: 1;
		}

		.actions span {
			opacity: 1;
		}
	}

	.icon {
		width: $appServersItemHeight;
		height: $appServersItemHeight;
	}

	.name {
		text-align: left;
		padding: 0 $padding*$multiplier*0.5;

		@include theme() using ($theme) {
			color: gtv($theme, secondaryColour);
		};
	}

	.actions {
		padding-right: $padding*$multiplier;

		span {
			opacity: 0;

			font-size: 90%;
			line-height: 1;

			padding: $padding/2 0;
			padding-top: 0.5vh;

			height: $appServersItemHeight;
			vertical-align: top;

			display: inline-block;

			transition: all .2s ease-out;
		}

		button {
			background: transparent;
			border: none;
			outline: none;

			@include theme() using ($theme) {
				color: gtv($theme, textColour);
			};

			padding-top: 0.5vh;
			height: $appServersItemHeight;
			opacity: 0;
			font-size: 0;

			transition: all .2s ease-out;

			svg {
				width: $appServersItemHeight/$multiplier;
				height: $appServersItemHeight/$multiplier;
			}

			&:hover {
				transform: scale(1.3);
				box-shadow: none;
			}

			&.boost {
				padding-right: $padding*$multiplier*0.2;
			}

			&.active {
				opacity: 1;

				@include theme() using ($theme) {
					color: gtv($theme, greenyColour);
				};
			}
		}
	}

	.players {
		padding-right: $padding*$multiplier;
	}

	.ping {
		padding-right: $padding*$multiplier;
	}

	figure {
		position: relative;

		img {
			width: $appServersItemHeight;
			height: $appServersItemHeight;
		}
	}
}
