@import "variables";

a {
	font-weight: 400;
}

.filters {
	display: flex;
	flex-direction: column;

	&.inline {
		width: 100%;
		flex-direction: row;

		.filter {
			display: inline-block;
			width: auto;
			flex-grow: 1;

			margin-right: $padding/2;

			&:last-child {
				margin-right: 0;
			}

			input.name {
				height: $filterHeight;
			}

			.checkboxes {
				.checkbox {
					label, button {
						height: $filterHeight;
						padding: $padding*2 $padding*$multiplier;
					}

					button {
						width: $filterHeight;
					}
				}
			}
		}
	}

	.filter {
		margin-bottom: $padding;
		position: relative;

		&.attract-next {
			margin-bottom: $padding/4;
		}

		input.name {
			width: 100%;
			height: $appServersHeaderHeight;
			padding: $padding $padding;

			color: $secondaryColour;

			background: rgba($bgColour, .5);
			@include backdropBlur;

			&:hover,
			&:focus {
				background: rgba($bgColour, .2);
			}
		}

		.search-dropdown {
			position: absolute;
			top: $filterHeight;
			left: 0;
			right: 0;

			z-index: 100;
			overflow: hidden;

			background-color: rgba($bgColour, .8);
			@include backdropBlur;

			ul {
				list-style: none;

				li {
					position: relative;
					padding: 0.5vh 0.3vw 0.5vh 0.5vw;

					h4 {
						font-size: 0.9em;

						span {
							font-weight: normal;
						}
					}

					h4 + span {
						font-size: 0.7em;

						color: desaturate(darken($fgColour, 10%), 20%);
					}

					&:hover, &.active {
						background-color: rgba(lighten($bgColour, 15%), 1);
					}
				}
			}
		}

		.checkboxes {
			display: flex;
			width: 100%;

			.checkbox {
				position: relative;
				flex-grow: 1;

				color: $secondaryColour;

				margin-right: $padding/4;

				&.button {
					flex-grow: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				input {
					position: absolute;
					height: 0px;
					width: 0px;
					transform: translateX(-9999px);
				}

				label, button {
					display: block;
					width: 100%;

					font-size: $fontSize*.8;
					font-weight: 100;
					line-height: 1;

					background-color: rgba($secondaryColour, .1);
					border-radius: 1px;

					transition: all .2s ease;

					span {
						display: inline-block;
					}
				}

				label {
					&::before {
						content: '';
						display: inline-block;

						width: 1.4vh;
						height: 1.4vh;
						margin-right: $padding/2;

						border-radius: 1px;

						vertical-align: baseline;
						overflow: hidden;

						font-size: 1.7vh;
						line-height: 1;
						text-align: center;

						background-color: rgba($bgColour, .5);
						color: white;
						transition: all .2s ease;
					}
				}

				&:hover label, &:hover button {
					background-color: rgba($bgColour, .2);

					box-shadow: none;
				}

				input:checked + label {
					&::before {
						content: '✓';
						background: $greenyColour;
						box-shadow: 0 0 25px darken($greenyColour, 10%);
						text-shadow: 0 0 2px rgba($bgColour, .5);
					}
				}
			}
			
			.max-ping {
				label {
					padding-top: 1.8vh !important;
				}
				
				#progress {
					opacity: 0;
					transition: all .2s ease;
					height: 0vh; 
					width: 100%; 
					top: 0px; 
					position: absolute; 
					background-color: rgba($bgColour, .5);
					
					font-size: 0.5vh;
					line-height: 1.5;
					text-align: center;

					.bar {
						position: absolute; 
						width: 0px;
						height: 0vh;
						top: 0px; 
						background-color: rgba($greenyColour, .5)
					}
				}
				
				&.enabled {
					label {
						padding-top: 2.8vh !important;
					}
					
					#progress {
						font-size: 1.5vh;
						height: 2vh;
						opacity: 1;	

						.bar {
							height: 2vh;
						}
					}
				}
			}
		}

		.slider {
			position: relative;
			width: 100%;

			.bar {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 76%;

				background-color: rgba($bgColour, .5);

				z-index: -1;
			}

			.inner {
				pointer-events: none;

				font-size: 14px;
				color: $secondaryColour;
				padding: $padding/2 $padding*$multiplier;

				background-color: rgba($bgColour, .1);
			}
		}

		.tags {
			h4 {
				font-weight: normal;
				cursor: default;
				color: $textColour;

				padding: $padding $padding;
				margin-bottom: $padding/2;

				background-color: rgba($bgColour, .2);
			}

			.tag {
				position: relative;
				font-size: 1rem;
				font-weight: 300;
				line-height: 1;
				cursor: default;

				overflow-x: hidden;

				padding: $padding $padding;
				margin-bottom: $padding/4;

				border-radius: 1px;
				background-color: rgba($secondaryColour, .1);

				transition: all .2s ease;

				&.active::before {
					content: '✓';
					background-color: $greenyColour;
					text-shadow: 0 0 1px rgba($bgColour, .5);
					box-shadow: 0 0 15px darken($greenyColour, 10%);
				}

				&:hover {
					background-color: rgba($bgColour, .2);
				}

				&::before {
					content: '';
					display: inline-block;

					width: 15px;
					height: 15px;
					margin-right: $padding/2;

					border-radius: 1px;

					vertical-align: -3px;
					overflow: hidden;

					font-size: 1rem;
					line-height: 1;

					background-color: rgba($bgColour, .8);
				}
			}
		}
	}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.refreshing {
	animation: spin 1000ms infinite linear;
}