@import "variables";
@import "./server-listing-shared.scss";

.list {
	height: 100%;
	width: 100%;
	overflow-y: hidden;

	.dummy {
		height: calc(#{$appServersHeaderHeight} + #{$padding/2});
	}
}

virtual-scroller {
	display: block;
	height: 100%;
}

/deep/ .scrollable-content {
	will-change: transform;
}
