@import "variables";

$columns: (
	icon: 40px,
	name: 50%,
	actions: 50px,
	players: 80px,
	ping: 70px,
);

@each $key, $width in $columns {
	.#{$key} {
		width: $width;
		flex-grow: 0;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;

		color: $textColour;
		text-align: right;
	}
}

.name {
	flex-grow: 1;
}
