@import "variables";

.servers {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: stretch;

	overflow: hidden;

	aside {
		position: relative;
		width: 100%;

		margin-bottom: var(--qh);
	}

	article {
		width: 100%;
		height: 100%;

		margin-left: 0;

		display: flex;
		overflow-y: hidden;

		app-server-tag-filter {
			display: none;
			width: 20%;
			margin-right: var(--qh);
		}

		servers-list {
			height: 100%;
			flex-grow: 1;

			&.pins {
				/* should match amount of header buttons - 3x unpadded, 3x padded) */
				width: calc((var(--q3) * 3) + (3 * (var(--q3) + var(--qh))));
				flex-shrink: 0;
				margin-left: var(--qh);
			}
		}

		&>* {
			position: relative;
		}
	}
}
