<div class="tags">
    <h4 translate>#ServerList_Locales</h4>

    <ul>
        <li *ngFor="let locale of locales; trackBy:localeName" class="tag" (click)="toggleLocale(locale)" [class.active]="isLocaleActive(locale)" [class.inactive]="isLocaleInactive(locale)">
            <span [class]="'flag-icon flag-icon-' + locale.countryName.toLowerCase()"></span><span>{{ locale.displayName }} ({{ locale.count }})</span>
        </li>
    </ul>
</div>

<div class="tags">
    <h4 translate>#ServerList_Tags</h4>

    <ul>
        <li *ngFor="let tag of tags; trackBy:tagName" class="tag" (click)="toggleTag(tag)" [class.active]="isActive(tag)" [class.inactive]="isInactive(tag)">
            {{ tag.name }} ({{ tag.count }})
        </li>
    </ul>
</div>