@import "variables";

:host {
	display: flex;

	@include appContent;

	.servers {
		width: $width;
		height: 100%;
		display: flex;
		flex-direction: column;

		aside {
			position: relative;
			width: 100%;
		}

		article {
			width: 100%;
			margin-left: 0;

			display: flex;
			overflow-y: hidden;

			app-server-tag-filter {
				width: 20%;
				margin-right: $padding;
			}

			servers-list {
				flex-grow: 1;
			}

			&>* {
				position: relative;
			}
		}
	}
}
