@import 'variables';
@import "./server-listing-shared.scss";

.header {
	position: absolute;

	display: flex;

	top: 0;
	left: 0;
	right: 0;
    height: $appServersItemHeight * 1.2;

	background: rgba($bgColour, .5);
	backdrop-filter: blur(5px);
	border-radius: 1px;

	z-index: 20;

	div {
		height: $appServersItemHeight * 1.2;
		font-size: $fontSize*0.8;
		font-weight: 100;
		line-height: $appServersItemHeight * 1.2;

		color: $textColour;
		text-transform: lowercase;

		cursor: default;

		pointer-events: none;

		&.sortable {
			pointer-events: all;
		}

		&:hover {
			background-color: rgba($bgColour, .2);
		}

		&.name {
			padding-left: $padding*$multiplier*0.5;
			text-align: left;
		}

		&.ping,
		&.name,
		&.players,
		&.actions {
			padding-right: $padding*$multiplier;
		}

		&.name span::after {
			left: calc(100% + 5px);
		}

		span {
			position: relative;
		}

		span::after {
			position: absolute;
			display: block;
			content: '';
			width: 14px;
			height: 14px;

			top: calc(50% - 5px);
			left: -15px;

			transform: rotate(0deg);
			transition: all .2s ease;
			opacity: 0;

			background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigyMDAsIDIwNSwgMTg3KSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi11cCI+PHBvbHlsaW5lIHBvaW50cz0iMTggMTUgMTIgOSA2IDE1Ij48L3BvbHlsaW5lPjwvc3ZnPg==);
			background-repeat: no-repeat;
			background-size: cover;
		}

		span.sortedAscending::after {
			opacity: 1;
		}

		span.sortedDescending::after
		{
			opacity: 1;
			transform: rotate(180deg);
			transition: all .2s ease;
		}
	}
}
