@import 'variables';

@keyframes loadingDots {
    0% {
        content: '';
    }
    33% {
        content: '.';
    }
    66% {
        content: '..';
    }
    100% {
        content: '...';
    }
}

:host {
    display: flex;
    overflow: hidden;
    
    @include appContent;
    padding-bottom: $appContentPadding;

    flex-direction: column;

    .select {
        user-select: text;
    }


    @include themeHostWorkaround() using ($theme) {
        &>div {
            border-top: rgba(gtv($theme, bgColour), .3) 1px solid;
        }
    };

    &>div {
        margin-bottom: $padding;
        padding: $padding $padding*$multiplier;

        &:first-of-type {
            border-top: none;
        }

        &.banner {
            padding: 0;

            position: relative;

            min-height: 10vh;
			height: 15vh;

			&>div {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				overflow: hidden;

				img {
					position: absolute;
					left: 0;
					right: 0;
					top: -9999px;
					bottom: -9999px;
					margin: auto 0;
					width: 100%;
					transform: none;
				}
			}
        }

        &.loading::after {
            display: inline;
            content: '...';

            animation-name: loadingDots;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &.info {
            position: relative;
            padding-left: calc(128px + #{$padding*$multiplier + $padding});

            &.withBanner {
                padding-left: $padding;
            }

            h1.title {
                font-size: $fontSize * 1.6;
            }

            .bg {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: -1;

                filter: grayscale(.5);
                opacity: .25;

                background-size: 500%;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .server-buttons button {
                margin-right: $padding * 0.25;
                font-size: $fontSize * 0.6;
            }

            .icon {
                position: absolute;
                left: $padding*$multiplier;

                img {
                    border-radius: 1px;
                    width: 96px;
                }
            }

            .title {
                font-size: 4vh;
                line-height: 1;
            }

            .desc {
                list-style: none;
                margin-top: $padding;
                font-size: $fontSize * 0.7;

                .key {
                    display: inline-block;
                    font-weight: 100;
                    @include theme() using ($theme) {
                        color: gtv($theme, textColour);
                    };
                    width: 15%;
                }
            }

            .connect {
                margin-top: $padding;
            }

            .disabled {
                opacity: .5;
                transition: opacity .4s;
            }

            position: relative;
            
            .count {
                position: absolute;
                right: 0;
                bottom: 0;

                z-index: -1;
            }

            &.player-list {
                overflow: auto;
                flex-grow: 1;
                min-height: min-content;
                overflow: hidden;

                .count {
                    bottom: -($padding * 2);
                }

                h1 {
                    font-size: $fontSize * 1.2;
                }

                ::ng-deep figure, ::ng-deep span {
                    display: inline-block;
                    vertical-align: middle;

                    line-height: $fontSize * 1.1;

                    text-overflow: ellipsis;
                    overflow: hidden;

                    img {
                        height: $fontSize * 1.2;
                        width: $fontSize * 1.2;

                        text-indent: 10000px;
                    }
                }

                ::ng-deep figure {
                    height: $fontSize * 1.2;
                    width: $fontSize * 1.2;

                    margin-right: $padding * 0.25;
                }

                ul {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));

                    &.huge {
                        grid-template-columns: repeat(auto-fill, minmax(7.5%, 1fr));
                        font-size: 0.8 * $fontSize;
                    }

                    list-style-type: none;

                    li {
                        margin-bottom: $padding * 0.25;
                        max-width: 100%;

                        white-space: nowrap;

                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            &.resource-list {
                overflow: hidden;

                min-height: $fontSize * 5;
                font-size: $fontSize * 0.8;

                display: flex;
                flex-direction: column;

                &>p {
                    overflow: scroll;
                    flex-grow: 1;
                }

                flex-shrink: 1;
            }
        }
    }

    @include themeHostWorkaround() using($theme) {
        &>div.info .count {
            color: rgba(gtv($theme, fgColour), .2);
            font-size: $fontSize*5;
        }
    };
}