<div class="filters inline">
    <section class="filter attract-next" style="width: 50%">
        <input class="name" id="searchBox" type="search" placeholder="Search" [(ngModel)]="filters.searchText"
            (ngModelChange)="updateFilters()" (focus)="onSearchFocus()" (blur)="onSearchBlur()" (keydown)="onKeyPress($event)">

        <div *ngIf="searchFocused">
            <div class="search-dropdown">
                <ul>
                    <li *ngFor="let entry of searchAutocomplete; let i = index" (click)="acceptAutocomplete(entry)" [class.active]="selectedCompletionIndex == i">
                        <h4><b *ngIf="entry.name != ''">{{entry.name}} - </b><span>{{entry.description}}</span></h4>
                        <span *ngIf="entry.example != ''">{{entry.example}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="filter">
        <div class="checkboxes">
            <div class="checkbox">
                <input type="checkbox" id="hide-empty" [(ngModel)]="filters.hideEmpty" (ngModelChange)="updateFilters()">
                <label for="hide-empty" translate>#ServerList_HideEmpty</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="hide-full" [(ngModel)]="filters.hideFull" (ngModelChange)="updateFilters()">
                <label for="hide-full" translate>#ServerList_HideFull</label>
            </div>
            <!-- ads! -->
            <div class="checkbox button">
                <button class="rent-a-server" data-balloon="Rent a server from our official server provider. Visit fivem.net to run it on your own VPS!" data-balloon-pos="left" (click)="rentServer()"><span>+</span></button>
            </div>
            <!--
            <div class="checkbox button">
                <button class="refresh" (click)="refresh()" data-balloon="Refresh the server list." data-balloon-pos="left"><span [class.refreshing]="isRefreshing || wantsToBeRefreshing">&#x21bb;</span></button>
            </div>
            -->
        </div>
    </section>
</div>
