@import "variables";
@import "./server-listing-shared.scss";

:host {
	position: relative;
}

.spinner {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	backdrop-filter: blur(3px);
	z-index: 99;
}

.list {
	height: 100%;
	width: 100%;
	overflow-y: hidden;

	.dummy {
		height: calc(#{$appServersHeaderHeight} + #{$padding/2});
	}
}

virtual-scroller {
	display: block;
	height: 100%;
	will-change: transform; /* Chrome calls this a 'slow scroll rect' */
}

::ng-deep .scrollable-content {
	will-change: transform;
}

/* from https://mdjunaidalam5.github.io/SpinBolt/ */
.sbl-circ-ripple {
	height: 48px;
	width: 48px;
	color: #5a5a5a;
	border-radius: 50%;
	position: relative;
	display: inline-block; }
	.sbl-circ-ripple::after, .sbl-circ-ripple::before {
	  content: '';
	  height: 0;
	  width: 0;
	  border: inherit;
	  border: 5px solid;
	  border-radius: inherit;
	  position: absolute;
	  left: 40%;
	  top: 40%;
	  animation: circle-ripple  1s linear infinite; }
	.sbl-circ-ripple::before {
	  animation-delay: -0.5s; }
  
  @keyframes circle-ripple {
	0% {
	  height: 0;
	  width: 0;
	  left: 20px;
	  top: 20px; }
	100% {
	  height: 48px;
	  width: 48px;
	  left: -5px;
	  top: -5px;
	  opacity: 0; } }