@import "variables";

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 400;

	opacity: 0;
	pointer-events: none;

	will-change: opacity;

	transition: all .2s ease;

	&.active {
		opacity: 1;

		@include theme() using ($theme) {
			background-color: rgba(gtv($theme, bgColor), .8);
		}

		pointer-events: inherit;
		transition: none;

		will-change: opacity;
	}

	.inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		width: 40%;
		max-height: calc(100vh - 4px);

		padding: var(--q1);

		@include theme() using ($theme) {
			background: linear-gradient(45deg, rgba(gtv($theme, bgColor), .5), rgba(gtv($theme, bgColor), .75)), center center/cover var(--bg);
			background-color: gtv($theme, bgColor);
			box-shadow: 0 0 0 2px rgba(gtv($theme, fgColor), .5);
		}

		.content {
			user-select: text;

			&:not(:empty) {
				margin-top: var(--qh);
			}
		}

		.card {
			flex-grow: 1;

			overflow: auto;

			::ng-deep * {
				user-select: text;
			}

			&:not(:empty) {
				margin-top: var(--q1);
				margin-left: calc(var(--q1) * -1);
				margin-right: calc(var(--q1) * -1);

				width: calc(100% + var(--q2));

				padding: var(--q1);
			}

			@include theme() using ($theme) {
				background-color: rgba(gtv($theme, fgColor), .25);
			}
		}

		.cfx-button {
			margin-top: var(--q1);
		}
	}
}
