<div class="overlay" [class.active]="showOverlay" (keydown)="onKeyPress($event)" tabindex="1">
	<div class="inner" style="--bg: url({{overlayBg}})">
		<h1 class="title">
			{{(overlayTitle)|translate:locale.language:overlayMessageData}}
		</h1>
		<p
			class="content"
			(click)="clickContent($event)"
			[innerHTML]="overlayMessage|translate:locale.language:overlayMessageData|linky:{ hashtag: 'twitter', mention: 'twitter', sanitizeHtml: true }|nl2br"
		></p>
		<div class="card" #card></div>
		<button
			class="cfx-button primary"
			[class.active]="overlayClosable"
			(click)="closeOverlay(); false"
		>
			{{closeLabel|translate:locale.language}}
		</button>
	</div>
</div>

