@import "variables";

.overlay {
	display: flex;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	align-items: center;
	justify-content: center;

	z-index: 400;

	transition: all .2s ease-out;
	opacity: 0;
	pointer-events: none;

	will-change: backdrop-filter;
	backdrop-filter: blur(0px);

	&.active {
		opacity: 1;
		will-change: backdrop-filter;
		backdrop-filter: blur(5px);

		@include theme() using ($theme) {
			background-color: rgba(gtv($theme, bgColour), .5);
		};
		
		pointer-events: inherit;
	}

	& > div {
		@include theme() using ($theme) {
			background-color: rgba(gtv($theme, bgColour), .75);
		};

		border-radius: 1px;

		width: 60%;

		&.withBg {
			box-shadow: #000 0px 0px 75px;
	
			@include theme() using ($theme) {
				background-color: rgba(gtv($theme, bgColour), 1);
			};
		}
	}
}

.minmode {
	margin-left: auto;
	margin-right: auto;
}

div.inner {
	&>section {
		position: relative;

		height: 15vh;

		.bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			overflow: hidden;

			img {
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				margin: auto 0;
				width: 100%;
				transform: none;
			}
		}
	}

	&.withBg>div {
		min-height: 200px;
		display: flex;
		align-items: center;
	}

	&>div>div {
		padding: 2.5%;
	}

	&.withBg>div>div {
		padding-top: 1%;
	}

	h1 {
		font-size: 40px;
		font-weight: 100;
		line-height: 1;
		margin: 0;
		margin-bottom: $padding;
	}

	p {
		@include theme() using ($theme) {
			color: gtv($theme, textColour);
		};

		user-select: text;
		white-space: pre-line;
	}

	button {
		margin-top: $padding;

		opacity: 0;
		transition: none;

		&.active {
			opacity: 1;
		}
	}
}

