<div [class.overlay]="!minMode" [class.minmode]="minMode" [class.active]="showOverlay">
	<div class="inner" [class.withBg]="overlayBg != ''">
		<section class="header" *ngIf="overlayBg != ''">
			<figure class="bg">
				<img [src]="overlayBg" alt="">
			</figure>
		</section>
		<div>
			<div>
				<h1>
					{{overlayTitle|translate:locale.language:overlayMessageData}}
				</h1>
				<p>{{overlayMessage|translate:locale.language:overlayMessageData }}</p>
				<div #card></div>
				<button
					[class.active]="overlayClosable"
					(click)="closeOverlay(); false"
					*ngIf="!minMode"
				>
					{{closeLabel|translate:locale.language}}
				</button>
				<button
					[class.active]="overlayClosable"
					(click)="doRetry(); false"
					*ngIf="minMode"
				>
					{{retryLabel|translate:locale.language}}
				</button>
			</div>
		</div>
	</div>
</div>

