.root {
  flex-shrink: 0;

  border-radius: ui.border-radius('normal');

  box-shadow: 0 0 0 2px ui.color-token('island-border') inset;

  overflow: hidden;

  @include ui.fake-backdrop-blur();
  @include ui.def('backdrop-color', ui.color-token('island-blur-background'));

  &.grow {
    flex-shrink: 1;
    flex-grow: 1;
  }

  &.no-round-border-top-left {
    border-top-left-radius: 0;
  }
  &.no-round-border-top-right {
    border-top-right-radius: 0;
  }
  &.no-round-border-bottom-left {
    border-bottom-left-radius: 0;
  }
  &.no-round-border-bottom-right {
    border-bottom-right-radius: 0;
  }
}
