@import "./server-listing-shared.scss";

dl {
	border-bottom: 2px solid transparent;
	transition: 0.2s;

	figure {
		position: relative;

		&:after {
			content: '▶';

			position: absolute;
			top: 2px;
			left: 2px;
			right: 2px;
			bottom: 2px;

			text-align: center;
			display: flex;

			justify-content: center;
			align-content: center;

			align-items: center;

			background-color: rgba(0, 0, 0, .7);

			color: #fff;

			opacity: 0;
		}
	}

	&:hover {
		color: #fff;
		background-color: rgba(0, 0, 0, 0.4);
		border-bottom: 2px solid #51B3EC;

		figure {
			position: relative;

			&:after {
				content: '▶';

				opacity: 1.0;
				transition: 175ms;
			}
		}
	}
}

dl.pinned {
	figure:after {
		content: '📌';
		opacity: 1.0;
		background-color: transparent;

		left: 22px;
		top: 22px;
	}
}