a {
	font-weight: 400;
}

.filters {
	margin-left: 1em;
	margin-right: 1em;
}

.filters label {
	color: rgba(255, 255, 255, 0.8);
	font-weight: 300;
	transition: 0.2s;
}

.filters label:hover {
	color: #fff;
}