@import "variables";

@keyframes subnav-appearance {
	0% {
		transform: translateY(31px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.subnav-list {
	width: $width;
	height: 0;

	animation: subnav-appearance .2s ease-out;

	position: fixed;
	top: $appNavHeight - 31px;

	display: flex;
	justify-content: center;

	z-index: 50;

	.nav-item {
		height: 30px;
		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: center;

		padding: 0 $padding;

		overflow: hidden;

		text-decoration: none;
		font-size: 15px;
		font-weight: 100;
		color: $textColour;
		text-shadow: 0 0 1px $bgColour;

		border-top: solid .5px $greenyColour;

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: -4px;
			left: 50%;
			margin-left: -10px;

			width: 20px;
			height: 4px;
			opacity: .5;

			border-radius: 2px;
			background-color: $greenyColour;

			transition: top .2s ease-out;
		}

		&.active::after,
		&.active:hover::after {
			top: -2px;
			box-shadow: 0 0 10px darken($greenyColour, 5%);
			opacity: 1;
		}

		&:hover::after {
			top: -2px;
		}
	}
}
