.overlay
{
    z-index: 9999;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-color: rgba(13, 13, 13, .6);
}

.overlay .inner
{
    position: absolute;

    left: 0px;
    top: 40%;

    height: 20%;
    width: 100%;

    background-color: #51B3EC;

    color: #eee;
}

.overlay .inner div
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    margin-top: 10px;
    margin-bottom: 10px;
}

.overlay .inner h1
{
    font-weight: normal;
    font-size: 280%;
}

.overlay .inner a
{
    background-color: #37be70;
    border: 2px solid #fff;
    color: #eee;

    text-decoration: none;

    margin-top: 6px;

    display: inline-block;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-weight: bold;
}

.overlay .inner a:hover
{
    background-color: #179e50;
}
