
	<div class="nav-bottom with-bottom material-5">
		<div class="bottom-portion">
			<nav class="nav">
				<div class="nav-left">
					<span class="nav-item">
						<h1 class="title is-1">Five<span class="highlight-blue">M</span>_</h1>
					</span>
				</div>

				<div class="nav-center">
					<a [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }" class="nav-item" routerLinkActive="is-active"><h1 class="title" translate>#BottomNav_Home</h1></a>
					<a [routerLink]="['/servers']" class="nav-item" routerLinkActive="is-active"><h1 class="title" translate>#BottomNav_Servers</h1></a>
					<a [routerLink]="['/settings']" class="nav-item" routerLinkActive="is-active"><h1 class="title" translate>#BottomNav_Settings</h1></a>
				</div>

				<div class="nav-right"></div>
			</nav>
		</div>
	</div>

	<div class="overlay" *ngIf="showOverlay">
		<div class="inner">
			<div>
				<h1>{{overlayTitle|translate}}</h1>
				<p>{{overlayMessage|translate:lang:overlayMessageData }}</p>
				<a class="closeOverlay" href="#" *ngIf="overlayClosable" (click)="showOverlay = false" translate>#Servers_CloseOverlay</a>
			</div>
		</div>
	</div>