@import "variables";

$modItemHeight: 9vh;

.mod-item {
    overflow: hidden;
    height: $modItemHeight;
    position: relative;

    transition: background-color 0.2s;

    @include theme() using ($theme) {
		background-color: rgba(gtv($theme, bgColor), .5);
    };

    &:hover {
        @include theme() using ($theme) {
            background-color: rgba(gtv($theme, bgColor), 1);
        };
    }

    margin-top: var(--qh);
    display: flex;

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: $modItemHeight;
        }
    }

    &:not(.enabled) figure img {
        opacity: .6;
    }

    &>div {
        padding: var(--q1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-weight: normal;
            font-size: var(--fs-2);
        }

        h2 {
            font-weight: normal;
            font-size: var(--fs-1);
        }
    }

    span.size {
        position: absolute;
        bottom: var(--q1);
        right: var(--q1);

        font-size: var(--fs-075);
    }

    span.icons {
        position: absolute;
        top: var(--q1);
        right: var(--q1);

        font-size: var(--fs-075);

        span {
            padding-left: var(--q1);
        }
    }

    progress {
        display: none;
        appearance: none;

        z-index: 999;

        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 3px;

        &::-webkit-progress-value {
            @include theme() using ($theme) {
                background-color: rgba(gtv($theme, accentColor1), 1);
                box-shadow: rgba(gtv($theme, accentColor1), .8) 0px 0px 8px;
            };
        }
    }

    &.downloading {
        progress {
            display: block;
        }
    }
}
