@import "./vars.scss";

.root {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $bgColor;

  z-index: $zWorldEditor;

  .game-view {
    position: absolute;

    display: flex;

    top: $editorToolbarHeight;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
