@{
    Layout = "_Layout";
    ViewData["Title"] = "Console";
}

@using FxWebAdmin
@using CitizenFX.Core.Native
@model string

<style type="text/css">
#console {
    min-height: 595px;
    max-height: 595px;
    overflow-y: scroll;
}

.color-1 {
	color: #F44336;
}

.color-2 {
	color: #4CAF50;
}

.color-3 {
	color: #FFEB3B;
}

.color-4 {
	color: #42A5F5;
}

.color-5 {
	color: #03A9F4;
}

.color-6 {
	color: #9C27B0;
}

.color-8 {
	color: #FF5722;
}

.color-9 {
	color: #9E9E9E;
}
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Console</h1>

            <div class="card">
                <div class="card-body">
                    <pre id="console">@Model</pre>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
const eventSource = new EventSource('/webadmin/events');
const con = document.getElementById('console');

function colorize(message) {
    return ("<span>" + (message.replace(/\^([0-9])/g, (str, color) => `</span><span class="color-${color}">`)) + "</span>").replace(/<span[^>]*><\/span[^>]*>/g, '');
}

con.innerHTML = colorize(con.innerHTML);
con.scrollTo(0, con.scrollHeight);

eventSource.addEventListener('message', (messageEvent) => {
    const message = colorize(JSON.parse(messageEvent.data).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;'));
    const atBottom = ((con.clientHeight + con.scrollTop) >= con.scrollHeight);

    con.innerHTML += message;

    if (atBottom) {
        con.scrollTo(0, con.scrollHeight);
    }
});
</script>