.service-notice {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  height: ui.control-height('large');

  > * {
    visibility: hidden;
  }

  > *:first-child {
    visibility: visible;

    width: 100%;
    min-height: 100%;

    padding: ui.offset();

    font-weight: ui.font-weight('bold');

    @include ui.def('border-color', ui.color-token('platform-status-border'));
    @include ui.def('shadow-color', ui.color-token('platform-status-shadow'));

    border: solid 2px ui.use('border-color');
    border-radius: ui.border-radius('small');
    background-color: ui.color-token('platform-status-background');

    box-shadow: 0 0 ui.offset() ui.use('shadow-color') inset, 0 0 ui.offset() ui.use('shadow-color');

    &:global(.warning) {
      @include ui.def('border-color', ui.color-token('platform-status-warning-border'));
      @include ui.def('shadow-color', ui.color-token('platform-status-warning-shadow'));
    }

    &:global(.error) {
      @include ui.def('border-color', ui.color-token('platform-status-error-border'));
      @include ui.def('shadow-color', ui.color-token('platform-status-error-shadow'));
    }
  }
}
