
.fxdk-faq-container article {
  padding-bottom: 20px;
}
.fxdk-faq-container article header {
  font-size: var(--theia-ui-font-size3);
  font-weight: 600;
  margin-bottom: 5px;
}
.fxdk-faq-container article main {
  font-size: var(--theia-ui-font-size2);
}
