.root {
  flex-shrink: 0;

  border-radius: ui.border-radius('xsmall');

  background-size: contain;
  background-color: ui.color-token('avatar-background');

  &.size-small {
    width: ui.control-height('small');
    height: ui.control-height('small');
  }
  &.size-normal {
    width: ui.control-height('normal');
    height: ui.control-height('normal');
  }
  &.size-large {
    width: ui.control-height('large');
    height: ui.control-height('large');
  }
}
