@import "variables";

.root {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  .folder-select {
    display: flex;
    align-items: flex-start;

    .button {
      flex-grow: 0;

      margin-left: $q*2;
    }

    .input {
      flex-grow: 1;
    }
  }
}
