@import "tokens";

html {
  // Base font size, needs to be here as we then use rems to define various font sizes
  font-size: ui.q(2.5);
}

body {
  @include ui.def('control-height-xxsmall', ui.q(1.5));
  @include ui.def('control-height-xsmall', ui.q(3));
  @include ui.def('control-height-small', ui.q(4));
  @include ui.def('control-height-normal', ui.q(6));
  @include ui.def('control-height-large', ui.q(7));

  @include ui.def('offset-none', 0px);
  @include ui.def('offset-hairthin', 1px);
  @include ui.def('offset-thin', 2px);
  @include ui.def('offset-xsmall', ui.q(.5));
  @include ui.def('offset-small', ui.q(1));
  @include ui.def('offset-normal', ui.q(2));
  @include ui.def('offset-large', ui.q(4));
  @include ui.def('offset-xlarge', ui.q(6));

  @include ui.def('offset-safezone', ui.q(8));

	@include ui.def('font-size-xsmall', 0.7rem);
	@include ui.def('font-size-small', 0.8rem);
	@include ui.def('font-size-normal', 1rem);
	@include ui.def('font-size-large', 1.25rem);
	@include ui.def('font-size-xlarge', 1.5rem);
	@include ui.def('font-size-xxlarge', 1.75rem);
	@include ui.def('font-size-xxxlarge', 2rem);

  @include ui.def('font-weight-thin', 100);
  @include ui.def('font-weight-normal', 300);
  @include ui.def('font-weight-bold', 400);
  @include ui.def('font-weight-bolder', 600);
  @include ui.def('font-weight-boldest', 900);

  @include ui.def('font-family-primary', 'RubikVariable');
  @include ui.def('font-family-secondary', 'MontserratVariable');
  @include ui.def('font-family-monospace', 'Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace');

  @include ui.def('border-radius-none', 0);
  @include ui.def('border-radius-xxsmall', ui.q(.25));
  @include ui.def('border-radius-xsmall', ui.q(.5));
  @include ui.def('border-radius-small', ui.q(.75));
  @include ui.def('border-radius-normal', ui.q(1.5));

  color: ui.color-token('text');
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);

  @include color-tokens;
}

* {
  box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: none;
	outline: none;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: ui.color-token('link-decoration');

  cursor: pointer;

  @include ui.animated();

  &.unstyle {
    text-decoration: none;
  }

  &:hover {
    text-decoration-color: ui.color-token('link-hover-decoration');
  }
}

button {
  font-size: var(--font-size);
}

html, body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: ui.color-token('text');
  @include ui.font-family('secondary');
  @include ui.font-weight('bold');
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.7rem;
}

kbd {
  font-weight: 300;
  padding: 2px ui.q(.5);
  background-color: ui.color-token('kbd-background');
  border-radius: 2px;
  border: solid 1px ui.color-token('kbd-border');
}

p {
  padding: calc(var(--offset-normal) / 2) 0;

  line-height: 1.4;
}

li::marker {
  color: ui.color-token('li-marker');
}

.brand-icon {
  width: 1em;
  height: 1em;

  fill: currentColor;
  stroke: currentColor;
}

// Utilities
.util-full-height {
  height: 100%;
}
.util-full-width {
  width: 100%;
}
.util-z-index-9000 {
  z-index: 9000;
}
.util-text-selectable {
  user-select: text !important;
}
