/**
 * Look for usages by searching for `ui.color-token('name')`
 */
@mixin color-tokens() {
  // Asset images
  @include ui.def('asset-image-bgpat', url(assets/images/bgpat.png));

  @include ui.def('checkered-pattern', url(assets/images/checkered_dark.svg));
  // /Asset images

  @include ui.def('asset-image-login-form', url(assets/images/bg-login-form.jpg));


  @include ui.define-color-token('shadow-small', rgba(0, 0, 0, .5));
  @include ui.def('shadow-small', 0 2.5px 5px ui.color-token('shadow-small'));

  @include ui.define-color-token('shadow-large', rgba(0, 0, 0, .5));
  @include ui.def('shadow-large', 0 ui.q(2) ui.q(8) 2px ui.color-token('shadow-large'));


  @include ui.define-color-token('text', ui.color('main',     950     ));
  @include ui.def               ('text-opacity-10',                .10);
  @include ui.define-color-token('text-a10', ui.color('main', 950, .10));
  @include ui.def               ('text-opacity-25',                .25);
  @include ui.define-color-token('text-a25', ui.color('main', 950, .25));
  @include ui.def               ('text-opacity-50',                .50);
  @include ui.define-color-token('text-a50', ui.color('main', 950, .50));
  @include ui.def               ('text-opacity-75',                .75);
  @include ui.define-color-token('text-a75', ui.color('main', 950, .75));

  @include ui.define-color-token('text-warning', ui.color('warning'));

  @include ui.define-color-token('link-hover-decoration', ui.color('main', 950));

  @include ui.define-color-token('li-marker', ui.color('main', 950, .75));

  @include ui.define-color-token('kbd-border', ui.color('main', 300));
  @include ui.define-color-token('kbd-background', ui.color('main', 200));

  @include ui.define-color-token('scrollbar', ui.color('main', 950, .1));
  @include ui.define-color-token('scrollbar-hover', ui.color('main', 950, .25));
  @include ui.define-color-token('scrollbar-active', ui.color('main', 950, .5));

  @include ui.define-color-token('backdrop', ui.color('main', $alpha: .75));
  @include ui.define-color-token('backdrop-100', ui.color('main', $alpha: .25));
  @include ui.define-color-token('backdrop-200', ui.color('main', $alpha: .5));
  @include ui.define-color-token('backdrop-300', ui.color('main', $alpha: .75));

  @include ui.define-color-token('backdrop-shader', ui.color('main', $alpha: .75));


  // COMPONENTS
  @include ui.define-color-token('avatar-background', ui.color('main'));


  @include ui.define-color-token('badge-text', ui.color('main', 900));
  @include ui.define-color-token('badge-border', ui.color('main', 300));
  @include ui.define-color-token('badge-background', ui.color('main', 200));

  @include ui.define-color-token('badge-primary-border', ui.color('primary', 50));
  @include ui.define-color-token('badge-primary-background', ui.color('primary'));


  @include ui.define-color-token('button-focus-outline', ui.color('primary', 'pure', .5));

  @include ui.define-color-token('button-text', ui.color('main', 950));
  @include ui.define-color-token('button-border', transparent);
  @include ui.define-color-token('button-background', ui.color('main', 950, .15));
  @include ui.define-color-token('button-hover-border', ui.color('main', 950, .05));
  @include ui.define-color-token('button-hover-background', ui.color('main', 950, .1));
  @include ui.define-color-token('button-active-border', ui.color('main', 950, .15));
  @include ui.define-color-token('button-active-background', transparent);

  @include ui.define-color-token('button-primary-text', ui.color('main', 950));
  @include ui.define-color-token('button-primary-border', ui.color('primary'));
  @include ui.define-color-token('button-primary-background', ui.color('primary'));
  @include ui.define-color-token('button-primary-hover-text', ui.color('main', 950));
  @include ui.define-color-token('button-primary-hover-border', ui.color('primary'));
  @include ui.define-color-token('button-primary-hover-background', ui.color('primary', 400));
  @include ui.define-color-token('button-primary-active-text', ui.color('main', 950));
  @include ui.define-color-token('button-primary-active-border', ui.color('primary'));
  @include ui.define-color-token('button-primary-active-background', transparent);


  @include ui.define-color-token('checkbox-focus-outline', ui.color('primary', 'pure', .5));
  @include ui.define-color-token('checkbox-indicator', ui.color('main', 800));

  @include ui.define-color-token('checkbox-text', ui.color('main', 950));
  @include ui.define-color-token('checkbox-border', ui.color('main', 950, .25));
  @include ui.define-color-token('checkbox-background', ui.color('main', 950, .1));
  @include ui.define-color-token('checkbox-hover-background', ui.color('main', 950, .05));


  @include ui.define-color-token('flyout-backdrop-background', ui.color('main', 100, .9));
  @include ui.define-color-token('flyout-holder-border', ui.color('main', 100, .25));
  @include ui.define-color-token('flyout-holder-blur-background', ui.color('main', 50, .75));
  @include ui.define-color-token('flyout-holder-unblur-background', ui.color('main'));


  @include ui.define-color-token('indicator-bright', ui.color('primary'));
  @include ui.define-color-token('indicator-dim', transparent);


  @include ui.define-color-token('info-panel-border', ui.color('main', 950, .1));
  @include ui.define-color-token('info-panel-background', ui.color('main', 950, .1));

  @include ui.define-color-token('info-panel-error-border', ui.color('error', $alpha: .8));
  @include ui.define-color-token('info-panel-error-background', ui.color('error', $alpha: .4));

  @include ui.define-color-token('info-panel-success-border', ui.color('success', $alpha: .8));
  @include ui.define-color-token('info-panel-success-background', ui.color('success', $alpha: .4));

  @include ui.define-color-token('info-panel-warning-border', ui.color('warning', $alpha: .8));
  @include ui.define-color-token('info-panel-warning-background', ui.color('warning', $alpha: .4));


  @include ui.define-color-token('input-placeholder-text', ui.color('main', 950, .5));
  @include ui.define-color-token('input-description-text', ui.color('main', 950, .5));
  @include ui.define-color-token('input-label-text', ui.color('main', 950));

  @include ui.define-color-token('input-text', ui.color('main', 950));
  @include ui.define-color-token('input-background', ui.color('main', 950, .1));

  @include ui.define-color-token('input-border', ui.color('main', 950, .25));
  @include ui.define-color-token('input-hover-border', ui.color('main', 950, .5));
  @include ui.define-color-token('input-focus-border', ui.color('primary'));

  @include ui.define-color-token('input-disabled-border', ui.color('main', 950, .05));
  @include ui.define-color-token('input-disabled-label-text', ui.color('main', 950, .5));


  @include ui.define-color-token('island-border', ui.color('main', 50, .25));
  @include ui.define-color-token('island-blur-background', ui.color('main', 50, .75));
  @include ui.define-color-token('island-unblur-background', ui.color('main', 50, .95));


  @include ui.define-color-token('loaf-text', ui.color('main', 950, .5));
  @include ui.define-color-token('loaf-background', ui.color('main', 950, .05));
  @include ui.define-color-token('loaf-bright-text', ui.color('main', 950));

  @include ui.define-color-token('loaf-gold-text', ui.color('aurum', 500, .5));
  @include ui.define-color-token('loaf-gold-background', ui.color('main', 950, .05));
  @include ui.define-color-token('loaf-gold-bright-text', ui.color('aurum', 500));

  @include ui.define-color-token('loaf-error-text', ui.color('error', 500));
  @include ui.define-color-token('loaf-error-background', ui.color('error', 500, .15));
  @include ui.define-color-token('loaf-error-bright-text', ui.color('error', 500));


  @include ui.define-color-token('modal-border', ui.color('main', 950, .15));
  @include ui.define-color-token('modal-background', ui.color('main'));
  @include ui.define-color-token('modal-footer-background', ui.color('main', 50, .95));


  @include ui.define-color-token('navlist-item-border', ui.color('main', 950, .1));
  @include ui.define-color-token('navlist-item-background', transparent);
  @include ui.define-color-token('navlist-item-active-border', transparent);
  @include ui.define-color-token('navlist-item-active-background', ui.color('main', 950, .1));
  @include ui.define-color-token('navlist-item-hover-border', transparent);
  @include ui.define-color-token('navlist-item-hover-background', ui.color('main', 950, .2));


  @include ui.define-color-token('overlay-backdrop-background', ui.color('main', 50, .95));


  @include ui.define-color-token('popover-background', ui.color('main', 50));


  @include ui.define-color-token('premium-badge-text', ui.color('main', 'pure'));
  @include ui.define-color-token('premium-badge-background', ui.color('main'));

  @include ui.define-color-token('premium-badge-pt-gradient-1', darken(#f50551, 15%));
  @include ui.define-color-token('premium-badge-pt-gradient-2', #f50551);

  @include ui.define-color-token('premium-badge-au-gradient-1', ui.color('aurum', 200));
  @include ui.define-color-token('premium-badge-au-gradient-2', ui.color('aurum', 'pure', 1));

  @include ui.define-color-token('premium-badge-ag-gradient-1', ui.color('silver', 200));
  @include ui.define-color-token('premium-badge-ag-gradient-2', ui.color('silver', 'pure', 1));


  @include ui.define-color-token('select-option-background', ui.color('main'));
  @include ui.define-color-token('select-text', ui.color('main', 950));
  @include ui.define-color-token('select-background', ui.color('main', 950, .1));
  @include ui.define-color-token('select-border', ui.color('main', 950, .25));

  @include ui.define-color-token('select-hover-border', ui.color('main', 950, .5));
  @include ui.define-color-token('select-focus-border', ui.color('primary'));


  @include ui.define-color-token('separator-text', ui.color('main', 950, .25));
  @include ui.define-color-token('separator-background', ui.color('main', 950, .1));


  @include ui.define-color-token('switch-description-text', ui.color('main', 950, .5));
  @include ui.define-color-token('switch-border', ui.color('main', 950, .25));
  @include ui.define-color-token('switch-background', ui.color('main', 950, .1));

  @include ui.define-color-token('switch-hover-background', ui.color('main', 200));

  @include ui.define-color-token('switch-active-text', ui.color('main'));
  @include ui.define-color-token('switch-active-background', ui.color('main', 950, .75));


  @include ui.define-color-token('title-text', ui.color('main'));
  @include ui.define-color-token('title-background', ui.color('main', 950));


  @include ui.define-color-token('server-icon-loader-background', ui.color('main', $alpha: .5));


  @include ui.define-color-token('server-banner-background-from', ui.color('main', $alpha: .75));
  @include ui.define-color-token('server-banner-background-to', ui.color('main', $alpha: .95));


  @include ui.define-color-token('server-review-background', ui.color('main', 'pure', .5));
  @include ui.define-color-token('server-review-form-background', ui.color('main', 100, .5));


  @include ui.define-color-token('server-item-border', ui.color('main', 100, 1));
  @include ui.define-color-token('server-item-description-text', ui.color('main', 950, .5));
  @include ui.define-color-token('server-item-players-text', ui.color('main', 950, .5));

  @include ui.define-color-token('server-item-standalone-background', ui.color('main', 'pure'));
  @include ui.define-color-token('server-item-standalone-hover-background', ui.color('main', 50));

  @include ui.define-color-token('server-item-background', ui.color('main', 'pure', .5));
  @include ui.define-color-token('server-item-hover-background', ui.color('main', 50, .5));

  @include ui.define-color-token('server-item-platinum-background', ui.color('primary', 'pure', .1));

  @include ui.define-color-token('server-item-density-background-from', ui.color('success'));
  @include ui.define-color-token('server-item-density-background-via', ui.color('warning'));
  @include ui.define-color-token('server-item-density-background-to', ui.color('error'));


  @include ui.define-color-token('server-filters-sort-item-background', transparent);
  @include ui.define-color-token('server-filters-sort-item-hover-background', ui.color('main', 'pure', 1));
  @include ui.define-color-token('server-filters-sort-item-active-background', ui.color('main', 'pure', .5));

  @include ui.define-color-token('server-filters-faucet-background', transparent);
  @include ui.define-color-token('server-filters-faucet-hover-background', ui.color('main', 200, .5));
  @include ui.define-color-token('server-filters-faucet-inclusive-background', ui.color('success', $alpha: .5));
  @include ui.define-color-token('server-filters-faucet-inclusive-hover-background', ui.color('success', $alpha: .4));
  @include ui.define-color-token('server-filters-faucet-exclusive-background', ui.color('error', $alpha: .5));
  @include ui.define-color-token('server-filters-faucet-exclusive-hover-background', ui.color('error', $alpha: .4));


  @include ui.define-color-token('platform-status-background', ui.color('bg', 'pure', .5));
  @include ui.define-color-token('platform-status-border', transparent);
  @include ui.define-color-token('platform-status-shadow', transparent);
  @include ui.define-color-token('platform-status-warning-border', ui.color('warning'));
  @include ui.define-color-token('platform-status-warning-shadow', ui.color('warning', 'pure', .25));
  @include ui.define-color-token('platform-status-error-border', ui.color('error'));
  @include ui.define-color-token('platform-status-error-shadow', ui.color('primary', 'pure', .5));


  @include ui.define-color-token('interactive-list-background', ui.color('main', 100, 1));
  @include ui.define-color-token('interactive-list-item-background', transparent);
  @include ui.define-color-token('interactive-list-item-hover-background', ui.color('main', 200, 1));
  @include ui.define-color-token('interactive-list-item-active-background', ui.color('main', 200, .5));


  @include ui.define-color-token('carousel-selector-item-progress-background', ui.color('main', 500, .25));


  @include ui.define-color-token('outlined-hover-border', ui.color('main', 500, .25));


  @include ui.define-color-token('tabular-item-decorator-active-background', ui.color('main', 950, .5));
  @include ui.define-color-token('tabular-item-decorator-hover-background', ui.color('main', 950, .1));


  @include ui.define-color-token('play-button-background-1', rgba(255, 143, 178, 1));
  @include ui.define-color-token('play-button-background-2', rgba(170, 49, 146, 1));
}
