@import "../../../vars.scss";

$panelOffset: $q*2;

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $weToolbarHeight;
  height: $weToolbarHeight;

  color: rgba($fgColor, .75);
  font-size: $fs2;

  background-color: rgba($bgColor, .5);
  backdrop-filter: blur(20px);

  border: none;
  border-radius: 50%;

  box-shadow: 0 0 0 1px rgba($bgColor, .5) inset, 0 0 5px 0 rgba($bgColor, .5);

  cursor: pointer;

  @include interactiveTransition;
  @include data-label {
    top: -$q*7;
    bottom: auto;
  };

  &.active {
    color: $fgColor;
    background-color: $acColor;

    @include data-label-remove;
  }

  &:hover {
    color: $fgColor;
    box-shadow: 0 0 0 2px $acColor inset, 0 0 5px 0 rgba($bgColor, .5);
  }
}

.panel {
  position: fixed;

  $topOffset: $weToolbarOffset + $weToolbarHeight + $panelOffset;

  top: $weToolbarOffset + $weToolbarHeight + $panelOffset;
  left: $weToolbarOffset;

  max-height: calc(100vh - #{$topOffset + $weToolbarHeight});
  --panel-max-height: calc(100vh - #{$topOffset + $weToolbarHeight});

  width: 15vw;

  padding: 1px;

  background-color: rgba($bgColor, .75);
  backdrop-filter: blur(20px);

  // border-radius: $q*2;
  box-shadow: 0 0 0 1px rgba($bgColor, .5) inset, 0 -2px 0 $acColor, 0 0 10px 0 rgba($bgColor, .75);

  opacity: 0;
  pointer-events: none;

  &.right {
    left: auto;
    right: $weToolbarOffset;
  }

  &.active {
    opacity: 1;
    pointer-events: all;

    @keyframes appearance {
      0% {
        opacity: 0;
        transform: translateY(#{-1 * $panelOffset});
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    animation: appearance .2s ease;
  }
}
