@import "variables";

.root {
  display: flex;
  flex-direction: column;

  height: $modalContentHeight;

  overflow: hidden;

  .update-channel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: $q*4;

    .label {
      margin-bottom: $q;
    }
  }
}
