.root {
  @include ui.border-radius('normal');

  background-color: ui.color('main', 50);

  cursor: pointer;

  overflow: hidden;

  padding: ui.offset();

  @include ui.animated('box-shadow');
  box-shadow: 0 0 0 2px transparent inset;
  &:hover {
    box-shadow: 0 0 0 2px ui.color-token('outlined-hover-border') inset;
  }
}
