.left-side {
  // background-image: ui.use('asset-image-login-form');
  background-image: ui.use('asset-image-login-form2');
  background-position: left;
  width: 50%;
  border-top-left-radius: 2vh;
  border-bottom-left-radius: 2vh;
}