@import 'variables';

.root {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  width: $toolbarWidth;

  z-index: 1000;

  transform: translateX(-$toolbarWidth);

  &.active {
    transform: translateX(0);
  }

  .trigger {
    position: fixed;
    top: 0;
    left: $toolbarWidth;

    display: flex;
    align-items: center;
    justify-content: center;

    height: $toolbarHeight;
    width: $triggerWidth;

    background-color: transparent;

    font-size: $fs1;
    color: rgba($fgColor, .75);

    border: none;
    outline: none;

    z-index: 3;

    &:hover {
      color: $fgColor;
      background-color: $acColor;
    }
  }

  .bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    height: 100%;

    overflow: hidden;

    font-size: 13px;

    background-color: $bgColor;
    box-shadow: -1px 0 0 0 rgba($fgColor, .05) inset;

    z-index: 2;

    .controls {
      flex-grow: 0;
      flex-shrink: 0;

      display: flex;
      align-items: stretch;
      justify-content: stretch;

      // background-color: rgba($fgColor, .1);

      .project-name {
        flex-grow: 1;

        width: 1px;

        display: flex;
        align-items: center;

        padding: 0 $q*2;

        span {
          font-size: $fs1;
          line-height: 1;
          height: $fs1;
          width: 100%;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      button {
        flex-grow: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        height: $toolbarHeight;
        width: $toolbarHeight;

        color: $fgColor;
        background-color: transparent;

        border: none;
        outline: none;

        transition: all .2s ease;

        svg {
          font-size: $fs1;
          color: rgba($fgColor, .75);
        }

        &:hover {
          color: $fgColor;
          background-color: $acColor;
          transition: none;

          svg {
            color: $fgColor;
          }
        }

        &:disabled {
          opacity: .5;
          pointer-events: none;
        }
      }
    }
  }
}
