
$indicatorColor: ui.color-token('checkbox-indicator');
$border: 1px;
$size: calc(#{ui.control-height('xsmall')} - 4px);

.root {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  padding: ui.offset('small') ui.offset('normal');

	@include ui.font-family('primary');
  @include ui.font-size('normal');
  @include ui.font-weight('normal');

  cursor: pointer;
  user-select: none;

  color: ui.color-token('checkbox-text');
  border: solid 2px ui.color-token('checkbox-border');
  background-color: ui.color-token('checkbox-background');

  @include ui.border-radius('small');
  @include ui.animated();

  &.size-normal {
    min-height: ui.control-height('normal');
  }
  &.size-large {
    min-height: ui.control-height('large');
  }

  input {
    width: 0;
    height: 0;
  }

  .indicator {
    align-self: flex-start;

    flex-shrink: 0;

    margin-top: calc(ui.offset('small') / 2);

    width: $size;
    height: $size;

    border: solid $border transparent;
    border-radius: 1px;
    box-shadow: 0 0 0 $border $indicatorColor, 0 0 0 0 $indicatorColor inset;

    @include ui.animated();
  }

  input:checked + .indicator {
    box-shadow: 0 0 0 $border $indicatorColor, 0 0 0 $size $indicatorColor inset;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &:not(.disabled) {
    &:hover {
      background-color: ui.color-token('checkbox-hover-background');
    }

    input:focus-visible + .indicator {
      outline: solid 2px ui.color-token('checkbox-focus-outline');
    }
  }

  &.with-label {
    .indicator {
      margin-right: ui.offset('normal');
    }
  }
}
