@import "variables";

.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  user-select: none;

  @include fontPrimary;
  color: rgba($fgColor, .75);

  input {
    width: 0;
    height: 0;
  }

  .indicator {
    width: $q*3;
    height: $q*3;

    border: solid $q/2 transparent;
    box-shadow: 0 0 0 $q/2 $fgColor, 0 0 0 0 $fgColor inset;

    transition: box-shadow .2s ease, border .2s ease;
  }

  input:checked + .indicator {
    box-shadow: 0 0 0 $q/2 $fgColor, 0 0 0 $q*4 $fgColor inset;
  }

  &:hover {
    .indicator {
      box-shadow: 0 0 0 $q/2 $acColor, 0 0 0 0 $fgColor inset;
      transition: box-shadow .2s ease;
    }

    input:checked + .indicator {
      box-shadow: 0 0 0 $q/2 $acColor, 0 0 0 $q*4 $fgColor inset;
    }
  }

  &.with-label {
    .indicator {
      margin-right: $q*2;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }
}
