.tile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;

  text-decoration: none;

  padding: ui.offset('large') ui.offset('xlarge');

  @include ui.border-radius();

  background-color: ui.color('main', 50);

  box-shadow: 0 0 0 2px transparent inset;
  &:hover {
    box-shadow: 0 0 0 2px ui.color-token('outlined-hover-border') inset;
  }
}
