@import "variables";
@import "tabs";

:host {
	height: 100%;
	overflow: hidden;
}

.page-header {
	@include pageHeader;
}

main {
	@include theme() using ($theme) {
		color: gtv($theme, textColor);
	};

	display: flex;
	flex-direction: row;

	height: 100%;

	overflow-y: hidden;
}

div.head {
	display: flex;
	flex-direction: row;

	align-self: flex-start;

	width: 100%;

	h1 {
		flex-grow: 1;
	}

	.close-app {
		svg {
			@include theme() using ($theme) {
				fill: rgba(gtv($theme, secondaryColor), .5);
			};

			width: 2vh;
			height: 2vh;

			transition: all .2s ease;
		}

		&:hover svg {
			@include theme() using ($theme) {
				fill: rgba(gtv($theme, secondaryColor), .8);
			};
		}
	}
}
.content {
	@include backdropPane;

	padding: var(--q1);

	font-size: var(--fs-2);

	overflow-y: scroll;
	flex-grow: 1;

	.loader {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;

		cfx-spinner {
			width: var(--q5);
			height: var(--q5);
		}
	}
}

button {
	margin-top: var(--q1);

	opacity: 0;
	transition: none;

	&.active {
		opacity: 1;
	}
}


