@import "variables";

.root {
  display: flex;
  align-items: center;

  padding: $q*2;

  color: rgba($fgColor, .75);
  font-weight: 300;
  letter-spacing: .1px;

  cursor: pointer;

  &:hover {
    color: $fgColor;

    svg {
      color: $fgColor;
    }
  }

  svg {
    margin-right: $q*2;

    color: rgba($fgColor, .5);
  }

  &.active {
    background-color: rgba($acColor, .25);
  }
  &.dragging {
    background-color: $acColor;
  }
}
