@import "variables";

.root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    @include fontPrimary;

    $itemHeight: $q*12;
    $itemsCount: 8;

    width: 100%;
    height: $itemHeight;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      display: block;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      box-shadow: 0 0 $q*2 $q*2 $bgColor inset;

      z-index: 2;
    }

    overflow: hidden;

    ul {
      @keyframes scroll {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-1 * $itemsCount * $itemHeight);
        }
      }

      animation: scroll 45s linear;
      animation-iteration-count: infinite;

      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      list-style: none;

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        height: $itemHeight;
      }
    }
  }

  .current-file-name {
    font-size: $fs08;
    color: rgba($fgColor, .5);
  }

  .progress {
    height: $q;
    width: 60vw;

    position: relative;

    margin-top: $q*8;

    background-color: rgba($acColor, .25);

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;

      background-color: $acColor;

      transition: width .1s linear;
    }
  }
}
