.relative {
  position: relative;
}

.list {
  flex-grow: 1;

  background-color: ui.color('main', 50);

  box-shadow: 0 0 0 2px ui.color('main', 100, .25) inset;

  border-radius: ui.border-radius();
}

.pinned {
  flex-grow: 0;

  width: ui.viewport-width(.3);
}
