.root {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  .loader {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    top: calc(ui.use('viewport-top') + ui.offset('safezone') - ui.offset('large'));
    left: calc(ui.use('viewport-left') + ui.offset('safezone'));
    right: calc(ui.use('viewport-left') + ui.offset('safezone'));

    height: ui.q();

    @include ui.border-radius();

    z-index: 1;

    &::after {
      display: block;
      content: '';

      width: 100%;
      height: 100%;

      @include ui.border-radius();

      background-image: repeating-linear-gradient(-45deg,
          ui.color('primary'),
          transparent 50%,
        );
      background-size: 150%;

      @keyframes wtf {
        from {
          background-position-x: 150%;
        }
        to {
          background-position-x: 0%;
        }
      }

      animation-name: wtf;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
}
