@font-face {
  font-family: 'Mensch';
  src: url('mensch.ttf')  format('truetype')
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;

  font-family: Mensch;
}
