@{
    Layout = "_LayoutBase";
}
@using CitizenFX.Core.Native
@using Microsoft.AspNetCore.Http
@using FxWebAdmin

@section page
{
@await Html.PartialAsync("_Header.cshtml")

<div class="app-body">
<div class="sidebar">
@await Html.PartialAsync("_SidebarNav.cshtml")

<button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
<main class="main">
<div class="container-fluid">
@if (Context.Session.GetString("alert") != null)
{
    var alert = Context.Session.Get<Alert>("alert");
    Context.Session.Remove("alert");
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 my-2">
                <div class="@alert.Class" role="alert">
                    @(alert.Text)
                </div>
            </div>
        </div>
    </div>
}

@await FlushAsync()
@RenderBody()
@await RenderSectionAsync("content", false)
</div>
</main>

</div>
<footer class="app-footer">
<div>
@API.GetConvar("version", "")
</div>
<div class="ml-auto">
<span>Powered by</span>
<a href="https://coreui.io">CoreUI</a>
</div>
</footer>
}