<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="~/" asp-active-controllers="Home" asp-active-actions="Index">
                <i class="nav-icon fa fa-home"></i> Home
            </a>
        </li>
        @if ((User?.IsInRole("command.start") ?? false) || (User?.IsInRole("command.stop") ?? false) ||
           (User?.IsInRole("command.restart") ?? false) || (User?.IsInRole("webadmin.resources.view") ?? false))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Resources" asp-action="List" asp-active-controllers="Resources" asp-active-actions="List">
                    <i class="nav-icon fa fa-plug"></i> Resources
                </a>
            </li>
        }
        @if ((User?.IsInRole("webadmin.console.read") ?? false))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Console" asp-action="Log" asp-active-controllers="Console" asp-active-actions="Log">
                    <i class="nav-icon fa fa-terminal"></i> Console
                </a>
            </li>
        }
        <cfx-plugin-outlet name="nav/sideList"></cfx-plugin-outlet>
    </ul>
</nav>