<nav class="sidebar-nav">
<ul class="nav">
<li class="nav-item">
<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-active-controllers="Home" asp-active-actions="Index">
<i class="nav-icon fa fa-home"></i> Home
</a>
</li>
</ul>
</nav>