.root {
  color: ui.color('main', 950);
  @include ui.font-weight('bold');
  font-feature-settings: 'case', 'liga' 1;

  word-wrap: break-word;

  &.size-large {
    @include ui.font-size('large');
  }
  &.size-xlarge {
    @include ui.font-size('xlarge');
  }
  &.size-xxlarge {
    @include ui.font-size('xxlarge');
  }
  &.size-xxxlarge {
    @include ui.font-size('xxxlarge');
  }
}
