.root {
  display: block;

  &.full-width {
    width: 100%;
  }

  &.small {
    textarea {
      min-height: ui.control-height('small');
      @include ui.font-size('small');
    }
  }

  &.large {
    textarea {
      min-height: ui.control-height('large');
      @include ui.font-size('large');
    }
  }

  &.error {
    label {
      color: ui.color('error');
      @include ui.font-weight('bold');
    }
  }

  &.disabled {
    label {
      color: ui.color-token('input-disabled-label-text');
    }
  }

  label {
    width: 100%;

    @include ui.font-family('primary');
    @include ui.font-size('normal');
    color: ui.color-token('input-label-text');

    @include ui.animated();

    textarea {
      margin-top: ui.offset('small');
    }
  }

  textarea {
    flex-grow: 1;

    width: 100%;

    min-height: ui.control-height('normal');
    padding: ui.offset('normal');

    @include ui.font-weight('normal');
    @include ui.font-family('primary');
    @include ui.font-size('normal');

    color: ui.color-token('input-text');
    background-color: ui.color-token('input-background');

    @include ui.border-radius('small');
    border: none;

    box-shadow: 0 0 0 2px ui.color-token('input-border') inset;

    @include ui.animated();

    &.resize-none {
      resize: none;
    }

    &.resize-vertical {
      resize: vertical;
    }

    &.resize-horizontal {
      resize: horizontal;
    }

    &.resize-both {
      resize: both;
    }

    &:disabled {
      box-shadow: 0 0 0 2px ui.color-token('input-disabled-border') inset;
      cursor: not-allowed;
      opacity: .5;
    }

    &:not(:disabled) {
      &:hover {
        box-shadow: 0 0 0 2px ui.color-token('input-hover-border') inset;
      }

      &:focus-visible,
      &:focus-visible:hover {
        box-shadow: 0 0 0 2px ui.color-token('input-focus-border') inset;
      }
    }

    &::-webkit-input-placeholder {
      color: ui.color-token('input-placeholder-text');
    }
  }

  &.backdrop-blur {
    textarea {
      @include ui.def('backdrop-color', ui.color-token('input-background'));
      @include ui.fake-backdrop-blur();
    }
  }
}
