.root {
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap;

  $size: ui.font-size('small');

  width: $size;
  height: $size;

  overflow: hidden;

  border-radius: 2px;

  div {
    flex-basis: calc(50% - 1px);
    flex-shrink: 1;
    flex-grow: 1;

    @keyframes indicator {
      0% {
        background-color: ui.color-token('indicator-dim');
      }
      50% {
        background-color: ui.color-token('indicator-bright');
      }
      100% {
        background-color: ui.color-token('indicator-dim');
      }
    }

    animation: indicator 1s ease;
    animation-iteration-count: infinite;
  }
}
