.feeds {
  > *:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  > *:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.lol {
  align-items: baseline;
}

.delimiter {
  padding-top: ui.offset();
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: ui.offset('small');

  @include ui.def('backdrop-color', ui.color-token('backdrop'));
  @include ui.fake-backdrop-blur();

  border-bottom: solid 1px ui.color('main', 100, .5);
}

.restServers {
  position: relative;

  height: 100%;

  overflow: hidden;

  .more {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    top: calc(ui.use('server-item-height-in-quants') * ui.q() * (2 + ui.use('extra-servers-to-include')));
    left: 0;
    right: 0;
    bottom: 0;

    padding: ui.offset();

    z-index: 1;

    cursor: pointer;

    backdrop-filter: blur(10px);
    background-color: ui.color('main', $alpha: .25);

    // @include ui.def('backdrop-color', initial);
    // @include ui.fake-backdrop-blur();

    -webkit-mask: linear-gradient(0deg, red, rgba(255, 0, 0, .25));

    @include ui.animated();
    @include ui.animated('all', '.label');

    &:hover {
      @include ui.def('backdrop-color', ui.color('teal'));
      background-color: ui.color('main', $alpha: .5);

      .label {
        transform: translateY(ui.q(-1));

        @include ui.font-color('button-primary-text');
      }
    }

    .label {
      @include ui.font-color('button-primary-text');
      @include ui.font-size('large');
      @include ui.font-weight('bold');

      text-shadow: 0 0 ui.q() ui.color-token('shadow-small');
    }
  }
}
