@import "themes.scss";

// Calculating mpMenu viewport size
// We want to keep it of 16:9 aspect ratio

@media (max-aspect-ratio: 16/9) {
	html {
		--width: 100vw;
		--height: calc(100vw / 1.777778);
	}
}

@media (min-aspect-ratio: 16/9) {
	html {
		--width: calc(100vh * 1.777778);
		--height: 100vh;
	}
}

html {
  // On 720p quant will be 4px
	--quant: calc(var(--height) * 0.0055);
}

body {
  --backdrop-image: url(assets/images/bg-login-form.jpg);

  background-image: var(--backdrop-image);
  background-size: cover;
  background-position: center center;
  background-color: black;

  @include ui.def('viewport-top',   calc((100vh - ui.use('height')) * 0.5));
  @include ui.def('viewport-bottom', calc(100vh - ui.use('viewport-top')));

  @include ui.def('viewport-left',  calc((100vw - ui.use('width')) * 0.5));
  @include ui.def('viewport-right',  calc(100vw - ui.use('viewport-left')));
}

#backdrop {
  width: 100vw;
  height: 100vh;

  background: ui.color-token('backdrop');
}
.cfxui-blurred-backdrop #backdrop {
  backdrop-filter: blur(20px) contrast(50%);
}

#cfxui-root {
  position: fixed;

  top: ui.use('viewport-top');
  left: ui.use('viewport-left');

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--width);
  height: var(--height);

  transition: transform .2s ease, filter .2s ease;
  transform-origin: left center;

  &.shrink {
    transform: translateX(-10px);
  }
}

.__inline_avatar {
  width: 1.5rem;
  height: 1.5rem;

  vertical-align: middle;

  margin-right: ui.offset('small');

  &::after {
    display: inline;
    content: ' ';
  }
}

::-webkit-scrollbar {
	width: ui.offset('normal');
}
::-webkit-scrollbar-thumb {
  border-top-left-radius: ui.border-radius('xsmall');
  border-bottom-left-radius: ui.border-radius('xsmall');

  background-color: ui.color-token('scrollbar');

  &:hover {
    background-color: ui.color-token('scrollbar-hover');
  }
  &:active {
    background-color: ui.color-token('scrollbar-active');
  }
}
