
.title_dcnt {
    font-size: 6vh;
    color: red;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.text_sumbz {
    font-size: 2vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.text_sumbz2 {
    font-size: 3vh;
    color: rgb(219, 255, 12);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 2vh;
}