<a
	class="server-list-item"
	[class.pt]="premium === 'pt'"
	[class.pinned]="pinned"
	[class.isPinList]="isPinList"
	(click)="showServerDetail()"
	tabindex="0"
>
	<div
		*ngIf="premium"
		class="premium"
		[class.ag]="premium === 'ag'"
		[class.au]="premium === 'au'"
		[class.pt]="premium === 'pt'"
	>
	</div>

    <figure class="icon" #iconFigure>
        <img [src]="rawServer.sanitizedUri" (error)="rawServer.setDefaultIcon()" *ngIf="premium == 'pt' || rawServer.isDefaultIcon">
	</figure>

	<div
		*ngIf="premium"
		class="badge"
		[class.ag]="premium === 'ag'"
		[class.au]="premium === 'au'"
		[class.pt]="premium === 'pt'"
	>
		<span><div>{{ premium }}</div></span>
	</div>

	<div class="locale"><span data-balloon-pos="right" [attr.aria-label]="localeName" [class]="'flag-icon flag-icon-' + localeCountry"></span></div>

    <div *ngIf="!rawServer.data.vars?.sv_projectName" class="name" [innerHTML]="rawServer.hostname | allowify | escape | colorize:{trust: true}"></div>
	<div *ngIf="rawServer.data.vars?.sv_projectName" class="name projectName">
		<strong [innerHTML]="rawServer.data.vars?.sv_projectName | allowify | escape | colorize:{trust: true}"></strong>
		<span [innerHTML]="(rawServer.data.vars?.sv_projectDesc || '') | allowify | escape"></span>
	</div>

	<div class="tags">
		<span *ngFor="let tag of tags">
			{{tag}}
		</span>
	</div>

    <div class="actions" *ngIf="!isPinList" [class.web]="isWeb">
		<button
			(click)="enableBoost($event)"
			[class.active]="isBoost() && !isWeb"
            [class.web]="isWeb"
			aria-label="Give this server a BOOST™!"
			data-balloon-pos="left"
			class="boost"
			tabindex="-1"
		>
            <span class="material-icons-outlined">arrow_upward</span>
			<span class="boosts-counter">
				{{rawServer.upvotePower}}
			</span>

			<div class="booster" *ngIf="!isWeb">
				BOOST™!
			</div>
		</button>

		<button
			(click)="toggleFavorite($event)"
			[class.active]="isFavorite()"
			class="fav"
			tabindex="-1"
            *ngIf="!isWeb"
		>
			<span *ngIf="!isFavorite()" class="material-icons-outlined">star_bordered</span>
			<span *ngIf="isFavorite()" class="material-icons-outlined">star</span>
        </button>
    </div>

    <div class="players">
		{{rawServer.currentPlayers}}<span class="max">/{{rawServer.maxPlayers}}</span>
    </div>
</a>
