@import "variables";

.root {
  &.dropping {
    background-color: rgba($acColor, .25);
  }

  .resource {
    position: relative;
    padding: $q*2;

    color: rgba($fgColor, .5);
    cursor: pointer;

    &:hover,
    &.active {
      color: $fgColor;

      .name .icon {
        color: $fgColor;
      }

      .name .status .item {
        background-color: $fgColor;
      }
    }

    &.active {
      background-color: rgba($acColor, .25);
    }

    .name {
      display: flex;
      align-items: center;

      .icon {
        flex-shrink: 0;
        color: rgba($fgColor, .5);

        &.active {
          color: $scColor;
        }

        svg {
          font-size: $fs08;

          margin-right: $q*2;
        }
      }

      .title {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        line-height: 1.1;

        @include ellipsis;
      }

      .status {
        flex-shrink: 0;

        display: flex;
        align-items: center;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;

          margin-left: $q;
          padding: $q/2 $q;

          border-radius: $q/2;

          background-color: rgba($fgColor, .5);
          color: $bgColor;
          font-size: $fs08;

          svg {
            margin-right: $q;
          }
        }
      }
    }
  }

  .children {
    margin-left: $q*2;

    box-shadow: -1px 0 0 0 rgba($fgColor, .05);
  }
}
