@import "variables";

.root {
  display: flex;
  align-items: center;

  padding: $q*2 $q*4;

  color: rgba($fgColor, .75);

  cursor: pointer;

  &:hover {
    color: $fgColor;
  }

  svg {
    margin-right: $q*2;

    color: rgba($fgColor, .5);
  }
}
