.root {
  position: relative;
  height: 100%;

  .warning {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: ui.offset();
    padding: ui.offset();

    text-align: center;

    @include ui.font-color('text-a75');

    background-color: ui.color('main', 50);

    cursor: pointer;

    @include ui.border-radius();

    overflow: hidden;
  }
}
