.root {
  display: block;

  height: ui.control-height('normal');
  padding: 0 ui.offset('small');

  @include ui.font-weight('normal');
  @include ui.font-family('primary');
  @include ui.font-size('normal');
  color: ui.color-token('select-text');

  @include ui.border-radius('small');
  border: none;

  box-shadow: 0 0 0 2px ui.color-token('select-border') inset;
  background-color: ui.color-token('select-background');

  @include ui.animated();

  &:not(:disabled) {
    &:hover {
      box-shadow: 0 0 0 2px ui.color-token('select-hover-border') inset;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px ui.color-token('select-focus-border') inset;
    }
  }

  &.small {
    height: ui.control-height('small');
    @include ui.font-size('small');

    option {
      @include ui.font-size('small');
    }
  }

  option {
    @include ui.font-size('normal');

    background-color: ui.color-token('select-option-background');
  }
}

.radTrigger {
  display: inline-flex;
  align-items: center;

  gap: ui.offset();

  height: ui.control-height('normal');
  padding: ui.offset('normal');

  @include ui.font-weight('normal');
  @include ui.font-family('primary');
  @include ui.font-size('normal');
  @include ui.font-color('select-text');

  @include ui.border-radius('small');
  border: none;

  box-shadow: 0 0 0 2px ui.color-token('select-border') inset;
  background-color: ui.color-token('select-background');

  @include ui.animated();

  &:not(:disabled) {
    &:hover {
      box-shadow: 0 0 0 2px ui.color-token('select-hover-border') inset;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px ui.color-token('select-focus-border') inset;
    }
  }

  &.small {
    height: ui.control-height('small');
    @include ui.font-size('small');

    option {
      @include ui.font-size('small');
    }
  }
}

.radContent {
  padding: ui.border-radius('xsmall') 0;
  border-radius: ui.border-radius('xsmall');

  background-color: ui.color-token('interactive-list-background');

  box-shadow: ui.use('shadow-large');

  z-index: 2;

  @keyframes app {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  animation: app ease .2s;

  .radArrow {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: ui.color-token('interactive-list-item-hover-background');
    }
  }

  .radOption {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: ui.control-height('normal');

    padding: ui.offset('small') ui.offset('normal');

    background-color: ui.color-token('interactive-list-item-background');

    &[data-state="checked"] {
      background-color: ui.color-token('interactive-list-item-active-background');
    }

    &[data-highlighted] {
      background-color: ui.color-token('interactive-list-item-hover-background');
    }

    .radIcon {
      @include ui.font-size('large');
    }
  }
}
