.root {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 ui.offset('small');

  font-size: ui.font-size('xsmall');

  height: ui.control-height('xsmall');

  border: solid 1px;
  border-radius: ui.offset('large');

  &.default {
    color: ui.color-token('badge-text');
    border-color: ui.color-token('badge-border');
    background-color: ui.color-token('badge-background');
  }

  &.primary {
    border-color: ui.color-token('badge-primary-border');
    background-color: ui.color-token('badge-primary-background');
  }
}
