@import "variables";

.root {
  .name-input {
    padding: $q*4;
    width: 100%;
  }

  .label {
    padding: $q*2 $q*4;
    font-size: $fs08;
    @include fontPrimary;

    color: rgba($fgColor, .5);
  }
}
