@import "variables";

.root {
  position: fixed;
  top: 0;
  left: var(--toolbar-width);
  right: 0;
  bottom: 0;

  width: calc(100% - var(--toolbar-width));
  height: 100%;

  opacity: 0;
  pointer-events: none;

  z-index: $zTheia;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &.fullwidth {
    left: 0;
    width: 100%;
  }
}

.cover {
  position: fixed;
  top: 0;
  left: var(--toolbar-width);
  right: 0;
  bottom: 0;

  width: calc(100% - var(--toolbar-width));
  height: 100%;

  z-index: $zTheia+1;
}
