.root {
  &.centered {
    text-align: center;
  }

  &.truncated {
    width: 100%;

    line-height: 1.1; // avoid clipping glyphs by bounding box

    white-space: nowrap;
    overflow: hidden;

    -webkit-mask: linear-gradient(90deg, red, red calc(100% - 2ch), transparent);
    mask: linear-gradient(90deg, red, red calc(100% - 2ch), transparent);
  }

  &.typographic {
    line-height: 1.2;
    overflow-wrap: break-word;

    li {
      margin-left: ui.offset('large');
    }
  }
  &:not(.typographic) {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &.block {
    max-width: 100%;
  }
}
