.root {
  &.centered {
    text-align: center;
  }

  &.truncated {
    width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;

    overflow: hidden;
  }

  &.typographic {
    line-height: 1.2;
    overflow-wrap: break-word;

    li {
      margin-left: ui.offset('large');
    }
  }
  &:not(.typographic) {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &.block {
    max-width: 100%;
  }
}
