.root {
  flex-shrink: 0;

  position: relative;

  display: flex;
  flex-direction: column;

  max-width: ui.viewport-width();
  min-width: ui.q(100);

  max-height: ui.viewport-height();

  background-color: ui.color-token('modal-background');

  border: solid 2px ui.color-token('modal-border');
  border-radius: ui.border-radius();

  box-shadow: ui.use('shadow-large');

  overflow: hidden;

  @keyframes modal-appearance {
    0% {
      opacity: 0;
      transform: scale(.75);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  animation-name: modal-appearance;
  animation-duration: .2s;

  .close {
    position: absolute;

    top: -2px;
    right: -2px;

    z-index: 1;

    button {
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .header {
    display: flex;
    align-items: center;

    height: ui.control-height('large');

    padding: 0 ui.offset('normal');
    margin-bottom: ui.offset('normal');

    @include ui.font-size('xlarge');
    @include ui.font-color('text-a75');
    @include ui.font-weight('bold');
  }

  .footer {
    padding: ui.offset('normal');

    background-color: ui.color-token('modal-footer-background');
  }
}
