@import "variables";

.root {
  .name {
    position: relative;
    display: flex;
    align-items: center;

    padding: $q*2;

    color: rgba($fgColor, .5);

    user-select: none;
    cursor: pointer;

    &:hover {
      color: $fgColor;

      svg {
        color: $fgColor;
      }
    }

    svg {
      margin-right: $q*2;
      color: rgba($fgColor, .5);
    }

    .readonly {
      position: absolute;

      top: 0;
      right: $q*2;
      bottom: 0;

      display: flex;
      align-items: center;

      span {
        padding: $q/2 $q;

        border-radius: $q/2;

        background-color: rgba($fgColor, .5);
        color: $bgColor;
        font-size: $fs08;
      }
    }
  }

  .children {
    margin-left: $q*2;
  }
}
